*, *:before, *:after {
	-webkit-box-sizing:border-box;
    box-sizing:border-box;
	vertical-align:top;
}
html, body, div, span, h1, h2, h3, h4, h5, h6, p, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead{
    background: none repeat scroll 0 0 transparent;
    margin: 0;
    outline: 0 none;
    padding: 0;
	border:0;
}
ol,ul,li{
    list-style: none outside none;
}
a,button,input{-webkit-tap-highlight-color:rgba(255,0,0,0);}/**/
input {
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
}
/* Body */
html{ font-size: 62.5%;}
body {
	background: #efefef;
	color:#666;
	font-size:1.4rem; /* Base font size: 14px */
	font-family: 'Microsoft YaHei', Trebuchet, 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


/*启用HTML5标签*/
header,section,footer,aside,nav,article,figure{display:block;margin:0;}

.pageIndex{background:#ffe398}
.wrapper{overflow:hidden; margin-top:4rem; }

.container{padding:10px;}
/*头部*/
.header{position:fixed;left:0;top:0;right:0;height:4rem;line-height:4rem;background:#ff8699;z-index:100;color:#FFF;  }
.header h1{font-size: 1.8rem; font-weight: normal; text-align: center; position: relative;}
.icon-back{ background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAArCAYAAABimUj7AAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAABmJLR0QAAAAAAAD5Q7t/AAAACXBIWXMAAAsSAAALEgHS3X78AAABnklEQVRYw63WMYjOcRjA8TtXikXJIYQ4HREiSekmm25QymRQJsNdFtMNBgYpkoHhokzqykIpZXCbUpIT4To6xBvdSVeUfAzeq9fb+9zyPM/4Hz7f5ff//Z6ursJBD25gsNKdxxfhpn/zE4cq8W6M+n/mcLAKv67zPKrArwb4c/RmA5cD/AVWZvGLAf4Kq7P4+QB/g7VZ/GyAT2JdFh8J8HfYkMXPBPg0NmXx0wH+AX1ZfBh/OuCf0J/FTwX4F2zL4icDvIEdWfxEgH/Frix+HL874DPYk8WPBfgs9mXxowH+HQey+BH86oD/kH00cDjA5zCQwpuB8eAvHUrjzcBQcCRnsbcqEt0137C7KhLdlg3srIqMLBDZXhWJXqzP2FoVORdEPmJLVeRCEJnG5qrIpSDyHhsrAt24EkSmsL4qci2IvJVdVVoio0HkNdZURFr3//Z5iVUVkR7cCiITstt0S+R2EHmGFVWRsSDyFMsrIotxJ4g8wbKqyL0g8rgycj+IjKUDzcgSPGjDG7LrZVtkKR428RnZDXCByF3sn//2FzTS6m5KdrxAAAAAAElFTkSuQmCC) left center no-repeat; background-size: contain; display: block; width: 2rem; height: 2rem; position: absolute; left: 10px; top: 1rem;}
.limg{ display: inline-block; height: 2.5rem; vertical-align: middle; padding-left: 10px;}
.myimg{ display: inline-block; height: 2.5rem; vertical-align: middle; padding-left: 10px;    margin-top: -1rem;}

.about{padding:0px 0px 10px 0px; background: #fff; border-radius: 4px; margin-bottom: 0.5rem;}
.glist{ margin:0px auto 10px auto; padding: 0px; background: #fff;border-top: solid 1px #ededed; }
.glist h3{ margin: 0; padding: 0rem 0rem 0rem 1.5rem; line-height: 3.6rem; font-weight:  normal; border-bottom: solid 1px #ffbfc9;position: relative;}
.glist a{ text-decoration: none; color: #606060; font-size: 1.4rem; display: block;}
.glist h3 b{ height: 1.5rem; position: absolute; right: 10px; top: 0rem; color: #333333; font-size: 1.4rem; font-weight: normal;}
.about header{font-size:1.6rem;margin:15px 0 20px 0;text-align:center;font-weight: bold;}
.about h1{ font-size: 1.6rem; font-weight: normal; border-bottom: solid 1px #ededed; color: #fe4d4f; margin-bottom: 15px; padding: 10px;}
.about p{text-indent:0em; margin-bottom:10px; font-size: 1.2rem; line-height: 2rem; padding:0px 20px; text-align: justify; text-justify:distribute;}
.tab{ font-size: 1.2rem; text-align: center; width: 100%; background: #ededed; margin-bottom: 15px;}
.tab th{ background: #fff;  line-height: 3rem;}
.tab tr > td{ background: #fff; line-height: 2.5rem;}
/*.tab tr:nth-child(even) > td{ background: #ededed;line-height: 2rem;}*/
.pto{ position: relative;}
.jb{ width: 40%; float: right; margin-bottom: 20px; margin-top: -25px; margin-right: 10px;}
.zp{ padding: 5px 15px; font-weight: normal; font-size: 1.4rem; margin: 1rem auto;}
.gz{ padding-bottom: 2rem;}

.footer{ /*position: fixed; bottom: 0; left: 0;*/ padding-bottom: 1rem; text-align: center;}
.footer img{ width: 40%;max-width: 313px; }