@charset "utf-8";

/*==========reset & common style start==========*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,form,fieldset,legend,input,textarea,p,th,td,button{
    margin:0;padding:0;
}
body, button, input, select, textarea, label, option, fieldset, legend{
    font:12px/1.5 "微软雅黑",\5FAE\8F6F\96C5\9ED1,arial,\5b8b\4f53;
}
ol,ul {
    list-style:none;
}
h1,h2,h3,h4,h5,h6 {
    font-size:100%;
    font-weight:500;
}
table{
    border-collapse:collapse;border-spacing:0;
}
input,select,textarea{
    font-size:100%;
}
fieldset,button,input[type="button"] {
    border:0;
}
caption,em,th {
    font-style:normal;
    font-weight:500;
}
ins,a {
    text-decoration:none;
}
a:hover {
    text-decoration:underline;
}
button,input[type="button"]{
    cursor:pointer;
}
input[type="text"], textarea{
    padding:2px 3px;
}
iframe{
    display:block;
}
q:before,q:after {
    content:'';
}
img{
    border: 0;
    vertical-align: middle;
}

/* 清理浮动 */
.clearfix:after {
    clear:both;
    content:".";
    display:block;
    height:0;
    visibility:hidden;
}
.clearfix { zoom:1; } /* for IE6 IE7 */
body .hide{
    display:none;
}
body .left, body .right {
    *display:inline;
    zoom:1;
}
body .left {
    float:left;
}
body .right {
    float:right;
}
body .txtAl{
    text-align: left;
}
body .txtAc{
    text-align: center;
}
body .txtAr{
    text-align: right;
}
body .vt{
    vertical-align: top;
}
body .vm{
    vertical-align: middle;
}
body .d_b{
    display: block;
}
body .d_inB{
    display: inline-block;*display: inline;zoom:1;
}
body .wd_full{
    width: 100%;
}
body .bold{
    font-weight: 700;
}
body .fz12{
    font-size: 12px;
}
body .txtInd2em{
    text-indent: 2em;
}
body .txtInd4em{
    text-indent: 4em;
}
body .txtEllipsis{
    text-overflow:ellipsis;
    white-space:nowrap;
    overflow:hidden;
}

body .mt15{
    margin-top: 15px;
}
body .mr20{
    margin-right: 20px;
}
body .mb15{
    margin-bottom: 15px;
}
body .pl15{
    padding-left: 15px;
}
/*==========reset & common style end==========*/


/*==========page style start==========*/
.head-con, .main-con{
    position: relative;
    width: 970px;
    margin: 0 auto;
}

/*header*/
.header{
    background: url(../images/bg_header.jpg) center 0 no-repeat;
}
.btn-back{
    position: absolute;
    top: 0;
    right: 0;
    width: 171px;
    height: 37px;
    line-height: 37px;
    padding-right: 13px;
    background: url(../images/bg_back.png) 0 0 no-repeat;
    font-size: 16px;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
}
.btn-back:hover{
    color: #e6e6e6;
    text-decoration: none;
}

/*main-con*/
.section{
    margin-bottom: 53px;
}
.tit01{
    vertical-align: middle;
    text-align: center;
}
.sec-con{
    position: relative;
    margin: 23px 0;
    padding: 5px 8px;
    background: url(../images/bg-sec-con.png) 0 0 repeat-y;
}
.sec01 .sec-con{
    padding-top: 80px;
}
.round-t, .round-b{
    position: absolute;
    left: 0;
    width: 970px;
    height: 23px;
}
.round-t{
    top: -23px;
    background: url(../images/round-top.png) 0 0 no-repeat;
}
.round-b{
    bottom: -23px;
    background: url(../images/round-bottom.png) 0 0 no-repeat;
}
.stamp01{
    position: absolute;
    top: -30px;
    left: 50%;
    margin-left: -151px;
}
.phoneList{
    text-align: center;
}
.phoneList li{
    display: inline-block;*display: inline;zoom: 1;
    padding: 5px 10px;
}
.phoneList li a{
    display: block;
    padding: 6px;
}
.phoneList li a:hover{
    padding: 5px;
    border: 1px solid #cecece;
    box-shadow: 0 0 5px #ccc;
}
.sec02 .sec-con{
    padding: 30px 8px 20px;
}
.stamp02{
    position: absolute;
    left: 85px;
    bottom: 15px;
}
.sec03 .sec-con{
    padding: 5px 20px;
}
.tit02{
    font-size: 25px;
    font-weight: 700;
    color: #414141;
}
.sec03-l{
    width: 662px;
    padding: 10px 10px 0 0;
}
.sec03-r{
    width: 255px;
}
.tucao-list-wrap{
    position: relative;
    height: 425px;
    margin-bottom: 15px;
    padding-top: 60px;
}
.stamp03{
    position: absolute;
    top: -40px;
    left: 0;
}
.tucao-list{
    height: 409px;
    padding-top: 10px;
    border-top: 1px solid #e3e3e3;
    overflow: auto;
}
.tucao-item{
    margin-bottom: 8px;
    padding: 0 5px 8px;
    border-bottom: 1px dashed #dedede;`
}
.tucao-item-t{
    max-height: 3em;
    margin-bottom: 5px;
    overflow: hidden;
}
.tucao-userInfo{
    width: 208px;
}
body .c01{
    color: #777;
}
.avata{
    width: 20px;
    height: 20px;
}
.tucao-item-con{
    padding-bottom: 3px;
    font-size: 12px;
    color: #434343;
}
.tucao-box{
    position: relative;
    width: 618px;
    height: 153px;
    margin: 0 5px;
    padding: 16px 16px 18px 18px;
    background:  url(../images/bg_tucao-box.gif) 0 0 no-repeat;
}
.txtArea01{
    width: 608px;
    height: 100px;
    padding: 3px 4px;
    border: 0;
    outline: 0;
    font-size: 14px;
    color: #666;
    resize: none;
}
.txtArea01:focus{
    outline: 1px dotted #cecece;
}
.btn-wrap01{
    position: absolute;
    right: 18px;
    bottom: 16px;
}
.btn-tucao{
    margin-left: 8px;
}
.get-kd{
    position: relative;
    top: -18px;
}


/*夏日冰购趴*/
.binggou .header{
    background: url(../images/binggou/bg_header.jpg) center 0 no-repeat;
}
.binggou .sec01 .sec-con{
    padding-top: 5px;
}
.binggou .stamp01{
    margin-left: -80px;
}
.binggou .wrap01{
    padding: 15px 0 0 32px;
}
.binggou .lhj{
    width: 288px;
    margin: 0 15px 15px 0;
}
.binggou .lhj-con{
    position: relative;
    height: 155px;
    margin-bottom: 10px;
    background: url(../images/binggou/bg_lhj.gif) 0 0 no-repeat;
}
.binggou .imgbox {
    position: absolute;
    top: 19px;
    left: 15px;
    z-index: 1;
    width: 254px;
    height: 119px;
}
.binggou .show {
    position: absolute;
    width: 254px;
    height: 119px;
}
.binggou .show li{
    float:left;
    width:80px;
    height:119px;
    margin-right:7px;
    background: url("../images/binggou/lhj_prizes.png") center 0 repeat-y;
    overflow:hidden;
    z-index:15;
}
.binggou .show li.last{
    margin-right: 0;
}
.binggou .luckyList-wrap{
    width: 591px;
    overflow: hidden;
}
.binggou .luckyList{
    width: 551px;
    height: 87px;
    margin-bottom: 10px;
    padding: 48px 20px 15px;
    overflow: auto;
    background: url(../images/binggou/bg_luckyList.gif) 0 0 no-repeat;
}
.wrap02{
    width: 551px;
    height: 87px;
    overflow-y: auto;
}
.binggou .para01{
    padding-left: 16px;
    background: url(../images/binggou/i_dot.png) 0 8px no-repeat;
    line-height: 23px;
    font-size: 14px;
    color: #666666;
}
.binggou .tb_luckyList{
    width: 100%;
    *width: 534px;
}
.binggou .tb_luckyList td{
    padding: 3px 5px;
    font-size: 14px;
    color: #434343;
    text-align: center;
}
.binggou .sec02 .sec-con{
    padding-top: 85px;
}
.binggou .cloud01{
    position: absolute;
    top: 22px;
    left: 38px;
}
.binggou .sec03 .sec-con{
    padding: 90px 10px 15px;
}
.binggou .sec03 .stamp01{
    margin-left: -160px;
}
.binggou .sec04 .stamp02{
    left: 520px;
    bottom: 50px;
}


/**********************带缩略图幻灯片 start**********************/
.preview-pics{
    padding-bottom: 20px;
}
.spec-preview{
    border: 5px solid #dfdfdf;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.img-zoom{
    position: relative;
    float: left;
    margin: 0;
    padding: 0;
    border: none;
}
.spec-preview, .img-zoom img{
    width: 652px;
    height: 361px;
}
.spec-scroll {
    position: relative;
    clear: both;
    width: 662px;
    margin-top: 5px;
}
.spec-scroll .prev, .spec-scroll .next {
    position: absolute;
    top: 6px;
    width: 20px;
    height: 85px;
    line-height: 85px;
    background: #ebebeb;
    border: 1px solid #dedede;
    font-family: \5b8b\4f53;
    text-align: center;
    cursor: pointer;
}
.spec-scroll .prev {
    left: 0;
    margin-right: 4px;
}
.spec-scroll .next {
    right: 0;
}
.spec-scroll .prev:hover, .spec-scroll .next:hover{
    background-color: #cecece;
    color: #ffffff;
    text-decoration: none;
}
.spec-scroll .items {
    position: relative;
    top: 6px;
    width: 604px;
    height: 90px;
    margin: 0 auto;
    overflow: hidden;
}
.spec-scroll .items ul {
    position: absolute;
    width: 9999px;
    height: 90px;
}
.spec-scroll .items ul li {
    float: left;
    width: 148px;
    margin: 0 1px;
    text-align: center;
}
.spec-scroll .items ul img {
    width: 135px;
    height: 75px;
    margin: 4px;
    padding: 1px;
    border: 1px solid #e0e0e0;
}
.spec-scroll .items ul img.curr, .spec-scroll .items ul img:hover {
    border: 5px solid #99cccc;
    margin: 0;
}
/**********************带缩略图幻灯片 end**********************/

/*floatbar*/
.floatbar{
    position: fixed;
    top: 200px;
    right: 0;
    width: 89px;
    height: 303px;
    background: url(../images/floatbar.png) right -310px no-repeat;
    _position:absolute;
    _top:expression(eval(document.documentElement.scrollTop+250));
}
.binggou .floatbar{
    background:  url(../images/binggou/floatbar.png) right -310px no-repeat;
}
.floatbar:hover{
    width: 179px;
    background-position: 0 0;
}

/*footer*/
.footer{
    padding: 15px 0;
    background: #2c2c2c;
    font-size: 12px;
    color: #fffefe;
    text-align: center;
}

/*弹框*/
.mask{
    width: 100%;
    height: 4317px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000000;
    opacity: .6;
    filter:alpha(opacity=60);
    z-index: 50;
}
.outbox{
    position: absolute;
    top: 30%;
    left: 40%;
    z-index: 60;
    width: 302px;
    padding: 0 25px;
    background:  url(../images/binggou/bg_ob.png) 0 0 repeat-y;
}
.r-top, .r-bottom{
    position: absolute;
    left: 0;
    width: 352px;
    height: 17px;
}
.r-top{
    top: -17px;
    background: url(../images/binggou/r_top.png) 0 0 no-repeat;
}
.r-bottom{
    bottom: -17px;
    background: url(../images/binggou/r_bottom.png) 0 0 no-repeat;
}
.wrap03{
    margin: 10px 0;
    padding-bottom: 12px;
    border-bottom: 1px solid #dedede;
    text-align: center;
}
.para02{
    padding-top: 10px;
    font-size: 21px;
    font-weight: 700;
    color: #ff7200;
}
.outbox02 .para02{
    color: #0095c6;
}
.tit03{
    padding-bottom: 10px;
    font-size: 22px;
    color: #666;
    text-align: center;
}
.para03{
    padding: 8px 0;
    font-size: 15px;
    color: #666666;
}
.label01, .inpTxt01{
    font-size: inherit;
}
.label01{
    display: inline-block;*display: inline;zoom: 1;
    width: 6em;
    text-align: right;
}
.inpTxt01{
    width: 195px;
    height: 25px;
    line-height: 25px;
    padding: 2px 3px;
    border: 1px solid #dedede;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.tip01{
    padding: 6px 0;
    font-size: 12px;
    color: #ff7200;
}
.outbox02 .tip01{
    color: #0095c6;
}
.btn01, .btn02{
    display: block;
    width: 133px;
    height: 43px;
    margin: 0 auto 10px;
    line-height: 37px;
    font-size: 22px;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
}
.btn01{
    background: url(../images/binggou/bg_btn01.gif) 0 0 no-repeat;
}
.btn02{
    background: url(../images/binggou/bg_btn02.gif) 0 0 no-repeat;
}
.btn01:hover, .btn02:hover{
    color: #f2f2f2;
    text-decoration: none;
}
.wrap04{
    text-align: center;
}
.wrap04 .para02{
    padding: 20px 0 25px;
    font-size: 25px;
    color: #434343;
}
/*==========page style end==========*/