@charset "utf-8";

.mask{
    _position: absolute;
    _height: 3250px;
}
.thickbox01 .phone_list01 .item.selected, .thickbox01 .phone_list01 .item:hover{
    padding: 11px 9px;
    border: 1px solid #e85f3b;
}
.thickbox01 .phone_list01 .color_opt_txt{
    line-height: 22px\0;
}
.thickbox02{
    _width: 610px;
}
.opt01 .part-l{
    *line-height: 21px;
}
.btn02{
    *height: 37px;
}
.btn04{
    *line-height: 23px;
}
.btnMinus, .btnPlus{
    *position: relative;
    *top: 1px;
}
.btnMinus{
    *margin-right: -4px;
}
body .font06{
    *height: 26px;
    *line-height: 25px;
}
.sec-step .opt-mask{
    width: 940px;
    background: #000000;
    filter: alpha(opacity=0);
}
.step1 .opt-mask{
    height: 286px;
}
.step3 .opt-mask{
    height: 324px;
}
.step4 .opt-mask{
    height: 465px;
}
.flb-byb{
    *width: 720px;
}

a{
    _text-decoration: none;
}
body .inp-txt01_2{
    line-height: 36px;
}
.floor1, .floor3, .floor5{
    _position: static;
}
.sidebar, .sidebar-m{
    _position:absolute; _top:expression(eval(document.documentElement.scrollTop+225));
}

.label01{
    _left: -8.5em;
}