@charset "utf-8";

/*=============== reset styles start ===============*/
html, body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-size: 62.5%; /* 10 ÷ 16 × 100% = 62.5% */
}
body,h1,h2,h3,h4,h5,h6,dl,dd,ul,ol,fieldset,input,textarea,p,blockquote,hr,button,pre,details,figcaption,figure,hgroup,menu {
    margin:0;
}
body, label, button, input, select, option, textarea, fieldset, legend{
    font: 12px/1.5 "Microsoft Yahei", "Helvetica Neue", Helvetica, STHeiti, sans-serif;
}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,main {
    display:block;
}
audio,canvas,video,progress {
    display: inline-block;
    vertical-align: baseline;
}
audio:not([controls]) {
    display: none;
    height: 0;
}
h1,h2,h3,h4,h5,h6 {
    font-size:100%;
    font-weight:500;
}
ol,ul {
    padding-left: 0;
    list-style: none outside none;
}
table{
    border-collapse:collapse;
    border-spacing:0;
    empty-cells: show;
}
caption, em, i, th{
    font-style: normal;
}
a, img {
    -webkit-touch-callout: none; /* 禁止长按链接与图片弹出菜单 */
}
a{
    background: transparent; /*Remove the gray background color from active links in IE 10.*/
}
ins, a, a:visited, [class^="btn"]:active{
    text-decoration:none;
}
a:active{
    text-decoration: underline;
    outline: 0
}
a, button, select, input[type="button"], input[type="reset"], input[type="submit"], input[type="file"]::-webkit-file-upload-button, input[type="radio"], input[type="checkbox"], input[type="radio"] + label, input[type="checkbox"] + label {
    cursor: pointer;
}
label, input, select, textarea{
    font-size:100%;
}
label,input,select,button{
    vertical-align: middle;
}
button, select {
    text-transform: none;
}
button, input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
}
button, input[type="button"], input[type="reset"],input[type="submit"], input[type="text"], input[type="search"], input[type="password"]{
    border: 0;
    outline: 0;
}
input {
    line-height: normal;
}
input[type="radio"], input[type="checkbox"]{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing:border-box;
    box-sizing: border-box;
    padding: 0;
}
input[type="text"], input[type="password"], input[type="search"], select, textarea{
    padding: 3px 4px;
}
input[type="text"], input[type="password"], textarea{
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
input[type="search"] {
    -webkit-appearance: textfield;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    height: auto;
}
input::-moz-focus-inner, button::-moz-focus-inner{
    /* Remove inner padding and border in Firefox 4+. */
    padding: 0;
    border: 0;
}
textarea {
    overflow: auto;
    vertical-align: top;
    resize: none;
}
:focus{
    outline: 0;
}
[disabled] {
    cursor: default;
}
img{
    border: 0;
    vertical-align: middle;
}
abbr[title] {
    border-bottom: 1px dotted;
}
dfn {
    font-style: italic
}
mark {
    background: #ff0;
    color: #000
}
pre {
    overflow: auto;
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word
}
small {
    font-size: 80%
}
q:before,q:after {
    content:'';
}
sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sup {
    top: -0.5em;
}
sub {
    bottom: -0.25em;
}
svg:not(:root) {
    overflow: hidden;
}
/*=============== reset styles end ===============*/


/*=============== common styles start ===============*/
body .hide, [hidden]{
    display:none;
}
body .left {
    float:left;
}
body .right {
    float:right;
}
/* 清理浮动 */
.clearfix:before, .clearfix:after {
    content: "";
    display: table
}
.clearfix:after {
    clear: both
}

body .pos-r{
    position: relative;
}
body .pos-a{
    position: absolute;
}
body .pos-f{
    position: fixed;
}
body .d-b{
    display: block;
}
body .d-inB{
    display: inline-block;
}
body .wd-full{
    width: 100%;
}
body .vt{
    vertical-align: top;
}
body .vm{
    vertical-align: middle;
}
body .vb{
    vertical-align: bottom;
}
body .vbl{
    vertical-align: baseline;
}
body .tAl{
    text-align: left;
}
body .tAc{
    text-align: center;
}
body .tAr{
    text-align: right;
}
body .fz0{
    font-size: 0;
}
body .fz12{
    font-size: 12px;
}
body .fz13{
    font-size: 13px;
}
body .fz14{
    font-size: 14px;
}
body .fz16{
    font-size: 16px;
}
body .fz18{
    font-size: 18px;
}
body .fz20{
    font-size: 20px;
}
body .fz36{
    font-size: 36px;
}
body .bold{
    font-weight: 700;
}
body .tEllipsis{
    /*单行文本超出省略*/
    text-overflow:ellipsis;
    white-space:nowrap;
    overflow:hidden;
}
body .tInd2em{
    text-indent: 2em;
}
body .box{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing:border-box;
    box-sizing: border-box;
}
body .mt5{
    margin-top: 5px;
}
body .mt10{
    margin-top: 10px;
}
body .mt15{
    margin-top: 15px;
}
body .mt20{
    margin-top: 20px;
}
body .mr5{
    margin-right: 5px;
}
body .mr10{
    margin-right: 10px;
}
body .mr15{
    margin-right: 15px;
}
body .mr20{
    margin-right: 20px;
}
body .mr10p{
    margin-right: 10%;
}
body .mb10{
    margin-bottom: 10px;
}
body .mb15{
    margin-bottom: 15px;
}
body .ml-4{
    margin-left: -4px;
}
body .pt20{
    padding-top: 20px;
}
body .pb15{
    padding-bottom: 15px;
}
body .pl15{
    padding-left: 15px;
}
/*=============== common styles end ===============*/


/*========== site public styles start ==========*/
body{
    background: #f6efe8;
    color: #434343;
}
body.has-footbar{
    padding-bottom: 170px;
}
.header-con, .main-con, .fl-con, .wrap02{
    position: relative;
    width: 1000px;
    margin: 0 auto;
}
body .font01{
    font-size: 18px;
    color: #de0b37;
}
body .font01-2{
    font-size: 28px;
    font-style: italic;
}
body .font02{
    font-size: 22px;
    font-weight: 700;
    color: #de0b37;
    text-align: center;
}
body .font03{
    margin-bottom: 5px;
    font-size: 15px;
    line-height: 1.4;
    font-weight: 700;
    color: #de0b37;
}
body .font06{
    height: 25px;
    margin-bottom: 5px;
    padding: 0 8px;
    border: solid #fcd927;
    border-width: 0 5px;
    font-size: 24px;
    line-height: 22px;
    font-weight: 700;
}
body .font07{
    font-size: 22px;
    font-weight: 700;
    color: #f39800;
    text-align: center;
}
body .c01{
    color: #fff784;
}
body .c02{
    color: #e91d33;
}
body .c03{
    color: #ff4e50;
}
body .c04{
    color: #49dd96;
}
body .c05{
    color: #ff344a;
}
body .c06{
    color: #777777;
}
body .c07{
    color: #f9323b;
}
body .c_white{
    color: #fff;
}
body .c_555{
    color: #555555;
}
.i-triD01, .i-triR01{
    position: absolute;
    width: 0;
    height: 0;
    overflow:hidden;
}
.i-triD01{
    left: 50px;
    bottom: -9px;
    border-top: 9px solid #fff;
    border-right: 9px solid transparent;
    border-left: 9px solid transparent;
}
.i-triR01{
    left: 0;
    top: 50%;
    margin-top: -6px;
    border-top: 6px solid transparent;
    border-left: 6px solid #49dd96;
    border-bottom: 6px solid transparent;
}
.gap01{
    display: inline-block;*display: inline;zoom: 1;
    width: 2em;
    margin-right: -5px;
}

/*headers & titles*/
.header{
    background: url(../images/bg_header.jpg) center 0 no-repeat;
}
.header2{
    background: url(../images/bg_header2.gif) center 0 no-repeat;
}
.header-con{
    text-align: center;
}
.tit01{
    padding-bottom: 5px;
    font-size: 42px;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
}
.step1 .tit01{
    border-bottom: 1px solid #37a1c5;
    text-shadow: 1px 1px 2px #1e8bba;
}
.step2 .tit01{
    border-bottom: 1px solid #75a805;
    text-shadow: 1px 1px 2px #55a400;
}
.step3 .tit01{
    border-bottom: 1px solid #e09414;
    text-shadow: 1px 1px 2px #da7600;
}

/*buttons & links*/
[class*="btn"], [class*="link"]{
    -webkit-transition: color, background-color .13s ease-in-out;
    -moz-transition: color, background-color .13s ease-in-out;
    transition: color, background-color .13s ease-in-out;
}
.btn-back{
    position: absolute;
    top: 0;
    right: 0;
}
.btn-back:hover, .btn-back:active{
    opacity: .92;
    filter: alpha(opacity=92);
}
.btn-cx{
    position: relative;
    left: -11px;
}
.link01{
    font-size: 20px;
    font-weight: 700;
    color: #de0b37;
    text-decoration: underline;
}
.link01:hover, .link01:active{
    color: #ee1744;
}
.btn-wrap01{
    height: 36px;
    padding: 5px 0;
    text-align: center;
}
.btn01, .btn03, .btn-done{
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-size: 16px;
    line-height: 33px;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
}
.btn01{
    display: inline-block;*display: inline;zoom: 1;
    padding: 0 35px;
    background: #de0b37;
    border-bottom: 3px solid #9b0826;
    vertical-align: top;
    text-shadow: 1px 1px 2px #9b0826;
}
.btn01:hover{
    background: #d00b34;
}
.btn01:active, .btn-done:active{
    position: relative;
    top: 1px;
    margin-top: 1px;
    border-bottom-width: 2px;
    line-height: 32px;
}
.btn-done{
    display: none;
    padding: 0 20px;
    background: #959595;
    border-bottom: 3px solid #686868;
    line-height: 31px;
    text-shadow: 1px 1px 2px #686868;
}
.btn-done:hover{
    background: #959595;
}
.btn-done:active{
    margin-top: 0;
    background: #888888;
    line-height: 30px;
}
.btn-done.show{
    display: inline-block;*display: inline;zoom: 1;
}
.btn01-2{
    background: #00b7ee;
    border-color: #148485;
    text-shadow: 1px 1px 2px #0080a6;
}
.btn01-2:hover{
    background: #0bafe1;
}
.btn01-3{
    padding: 0 20px;
    background: none;
    border: 0 none;
    text-shadow: none;
}
.btn01-3:hover, .btn01-3:active{
    position: static;
    margin-top: 0;
    background: none;
    border: 0 none;
    text-decoration: underline;
}
.btn01-4{
    padding: 3px 16%;
    background: #ff4e50;
    border-color: #b23638;
}
.btn01-4:hover, .btn01-4:active{
    background: #f13537;
}
.btn02{
    position: relative;
    display: inline-block;*display: inline;zoom: 1;
    min-width: 17px;
    left: -12px;
    height: 36px;
    padding: 0 10px;
    background: #de0b37;
    -webkit-border-radius: 0 5px 5px 0;
    -moz-border-radius: 0 5px 5px 0;
    border-radius: 0 5px 5px 0;
    font-size: 16px;
    line-height: 36px;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
    cursor: pointer;
}
.btn02:active{
    background: #cf1139;
}
.btn02-2{
    left: 0;
    -webkit-border-radius: 5px 0 0 5px;
    -moz-border-radius: 5px 0 0 5px;
    border-radius: 5px 0 0 5px;
}
.btn02-false, .btn02-false:active{
    background: #959595;
    cursor: default;
}
.btn03{
    position: absolute;
    top: 50%;
    margin-top: -20px;
    right: 3%;
    height: 37px;
    line-height: 37px;
    padding: 0 2.5%;
    background: #e60b05;
    border-bottom: 2px solid #a10803;
    text-shadow: 1px 1px 2px #a10803;
}
.btn03:hover, .btn03:active{
    background: #d5130d;
    text-decoration: none;
}
.btn03-false{
    background: #959595;
    border-color: #686868;
    text-shadow: 1px 1px 2px #686868;
    cursor: default;
}
.btn03-false:hover, .btn03-false:active{
    background: #959595;
}
.opt01, .btn02{
    vertical-align: top;
}
.opt01, .btn04, .span01, .opt02{
    display: inline-block;
    min-width: 130px;
    margin: 0 7px 7px -5px;
    padding: 5px 12px;
    background: #ffffff;
    border: 2px solid #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-size: 18px;
    line-height: 22px;
    color: #de0b37;
    text-align: center;
    cursor: pointer;
}
.opt01:active, .opt01.curr, .btn04:active, .btn04.selected{
    background: #de0b37;
    color: #ffffff;
    text-decoration: none;
}
.opt02{
    padding-top: 8px;
    line-height: 20px;
    color: #ffffff;
}
.opt02, .opt02:active{
    background: none;
    border: none;
}
.opt02:active{
    text-decoration: underline;
}
.span01, .btn04-2{
    cursor: auto;
}
.btn04-2{
    position: relative;
    -webkit-border-radius: 5px 0 0 5px;
    -moz-border-radius: 5px 0 0 5px;
    border-radius: 5px 0 0 5px;
}
.btn04-2:active{
    background: #ffffff;
    color: #de0b37;
}
.opt01 .part-l, .opt01 .part-r{
    display: inline-block;*display: inline;zoom: 1;
    line-height: 18px;
    vertical-align: middle;
}
.opt01 .part-l{
    margin-right: -4px;
}
.opt01 .part-r{
    margin-left: 5px;
    font-size: 14px;
}
.btn05{
    display: inline-block;*display: inline;zoom: 1;
    width: 123px;
    height: 52px;
    padding: 1px 15px 10px 54px;
    background: url(../images/btn_bg01.png) 0 0 no-repeat;
    vertical-align: middle;
    font-size: 22px;
    line-height: 52px;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
    letter-spacing: 1px;
    text-shadow: 0 1px 3px #c10e34;
}
.btn06{
    display: inline-block;*display: inline;zoom: 1;
    height: 44px;
    line-height: 44px;
    margin-left: 3px;
    padding: 0 30px;
    background: #e9d029;
    vertical-align: middle;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    text-align: center;
    text-shadow: 1px 1px 1px #f7b639;
}
.btn06:hover, .btn06:active{
    background: #fecb01;
    text-decoration: none;
}
.btn07{
    display: inline-block;*display: inline;zoom: 1;
    height: 28px;
    line-height: 28px;
    padding: 0 15px;
    border: 1px solid #ffffff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 14px;
    color: #ffffff;
    text-align: center;
}
.btn07:hover, .btn07:active{
    background: #00a2ff;
}
.cx-wrap .btn07{
    width: 138px;
    margin-left: 3px;
    padding: 0;
}
.btn08{
    display: block;
    width: 100px;
    height: 25px;
    line-height: 25px;
    margin: 6px auto;
    background-color: #f3643f;
    border-bottom: 3px solid #e22f00;
    font-size: 14px;
    color: #ffffff;
    text-align: center;
}
.btn08:hover{
    background-color: #e7542d;
    text-decoration: none;
}
.btn08:active{
    border-bottom-width: 2px;
    position: relative;
    top: 1px;
}
.opt03{
    display: inline-block;*display: inline;zoom: 1;
    width: 26px;
    height: 26px;
    background: url(../images/opt03.png) 0 0 no-repeat;
    vertical-align: middle;
}
.opt03.selected{
    background-position: 0 -36px;
}
.btn-close02{
    position: absolute;
    top: 0;
    right: 0;
    width: 25px;
    height: 25px;
    line-height: 25px;
    background: #7fbd00;
    font-size: 16px;
    color: #ffffff;
    text-align: center;
}
.btn-close02:active{
    text-decoration: none;
}

/*form elements*/
.form-wrap01{
    position: relative;
    padding: 5px 0 15px;
    font-size: 15px;
    color: #333333;
}
.cx-wrap .form-wrap01{
    padding-bottom: 10px;
}
.form-wrap02{
    padding: 5px 0;
    color: #ffffff;
}
.select01{
    height: 30px;
    padding-right: 15px;
    border: 0;
}
body .inp-txt01{
    width: 200px;
    height: 22px;
    margin-left: 10px;
    padding: 3px 4px;
    border: 1px solid #e5e5e5;
}
body .inp-txt01_2{
    width: 50%;
    height: 36px;
    font-size: 20px;
    text-align: center;
}
body .inp-txt02{
    width: 60px;
    height: 30px;
    padding: 3px 4px;
    border: 0;
    font-size: 18px;
    font-weight: 700;
    color: #de0b37;
    text-align: center;
}
.opt-item .inp-txt02{
    margin: 0 7px 7px -4px;
    background: #ffffff;
}
.label01{
    font-size: 16px;
    font-weight: 700;
}
.inp-rad01{
    width: 16px;
    height: 16px;
    margin-right: 3px;
}
.form-wrapper, .wrap03{
    margin: 15px 0;
    padding: 2% 3%;
    border: dashed #d2d2d2;
    border-width: 1px 0;
}
.form-item01{
    position: relative;
    padding: 5px 0 10px 9em;
    font-size: 15px;
    color: #333333;
}
.label02{
    position: absolute;
    left: 0;
    width: 8em;
    line-height: 33px;
    font-weight: 700;
    text-align: right;
}
body .inp-txt03, .txtArea01{
    width: 95%;
    padding: 3px 4px;
    border: 1px solid #e5e5e5;
}
body .inp-txt03{
    height: 25px;
}
body .inp-txt03_2{
    width: 75%;
    text-align: center;
}
.txtArea01{
    height: 4.5em;
}

/*footer*/
.footer{
    padding: 15px 0 20px;
    border-top: 1px solid #e5d8ca;
    outline: 1px solid #ffffff;
    font-size: 12px;
    text-align: center;
}

/*thickbox*/
.mask, .thickbox, .thickbox02{
    display: none;
}
.mask{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 900;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: .6;
    filter: alpha(opacity=60);
}
.thickbox, .thickbox02{
    position: absolute;
    left: 5%;
    top: 5%;
    z-index: 999;
    width: 95%;
    background: #ffffff;
}
.thickbox{
    max-width: 670px;
    /*margin: 0 2.5%;*/
}
.btn-close{
    position: absolute;
    top: 6px;
    right: 6px;
    z-index: 1100;
    background: #ff4e50;
    padding: 6px;
     border-radius: 51%;
}
.thickbox .thb-header, .thickbox .thb-footer{
    position: relative;
    padding: 10px;
    background: #e0f3f7;
}
.thickbox .thb-footer{
    height: 22px;
}
.thickbox .thb-footer .img01{
    position: absolute;
    right: 10px;
    bottom: 10px;
}
.thickbox .thb-con{
    padding: 20px 3%;
}
.thickbox .recommend{
    padding: 5px;
    background: #eeeeee;
    font-size: 14px;
    color: #7f8081;
}
.thickbox .recom-list{
    margin: 5px 0;
    padding-top: 10px;
    background: #ffffff;
    text-align: center;
}
.thickbox .recom-list .item{
    margin: 0 5px 10px;
}
/*thickbox01*/
.thickbox01{
    display: none;
    position: absolute;
    top: 0;
    left: 10%;
    z-index: 999;
    width: 960px;
    padding-top: 10px;
    background: #ffffff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow:  0 0 8px #bbb;
    -moz-box-shadow:  0 0 8px #bbb;
    box-shadow:  0 0 8px #bbb;
}
.thickbox01 .close04, .sec_compare .close04{
    position: absolute;
    top: 15px;
    right: 15px;
    width: 20px;
    height: 20px;
    background: url(../images/bg_icons_n.png) 0 -190px no-repeat;
    -webkit-transition: opacity .1s ease-in-out;
    -moz-transition: opacity .1s ease-in-out;
    transition: opacity .1s ease-in-out;
}
.thickbox01 .close04{
    background-position: -30px -190px;
}
.thickbox01 .close04:hover, .sec_compare .close04:hover{
    opacity: .85;
    filter: alpha(opacity=85);
}
.thb01_tit, .thickbox01 .phone_list01 .item{
    position: relative;
    display: inline-block;*display: inline;zoom: 1;
}
.thb01_tit{
    height: 38px;
    line-height: 38px;
    margin-bottom: 15px;
    padding: 0 20px;
    background: #e85f3b;
    font-size: 18px;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
}
.thb01_tit_l, .thb01_tit_r{
    position: absolute;
    top: 0;
    background: url(../images/bg_icons_n.png) 0 0 no-repeat;
}
.thb01_tit_l{
    left: -6px;
    width: 6px;
    height: 44px;
    background-position: -55px -62px;
}
.thb01_tit_r{
    right: -20px;
    width: 20px;
    height: 38px;
    background-position: -71px -62px;
}
.thickbox01 .phone_list01{
    max-height: 488px;
    overflow: auto;
    padding: 0 10px;
    text-align: center;
}
.thickbox01 .phone_list01 .item{
    width: 275px;
    height: 210px;
    margin: 0 6px 10px;
    padding: 11px 9px;
    border: 1px solid #dadada;
    text-align: left;
    font-size: 14px;
    color: #333333;
    cursor: pointer;
    -webkit-transition: border-color .2s ease-in-out;
    -moz-transition: border-color .2s ease-in-out;
    transition: border-color .2s ease-in-out;
}
.thickbox01 .phone_list01 .item.selected, .thickbox01 .phone_list01 .item:hover{
    padding: 10px 8px;
    border: 2px solid #e85f3b;
}
.thickbox01 .phone_list01 .item, .thickbox01 .phone_list01 .part_l, .thickbox01 .phone_list01 .part_r{
    vertical-align: top;
}
.thickbox01 .phone_list01 .part_l, .thickbox01 .phone_list01 .part_r{
    display: inline-block;*display: inline;zoom: 1;
}
.thickbox01 .phone_list01 .part_l{
    width: 100px;
    height: 200px;
    padding-right: 10px;
    text-align: center;
}
.thickbox01 .phone_list01 .part_r{
    width: 160px;
}
.thickbox01 .phone_list01 .part_l img{
    max-width: 100%;
    max-height: 100%;
}
.thickbox01 .phone_list01 .font04{
    padding-bottom: 6px;
    font-size: 18px;
    font-weight: 700;
    color: #333333;
}
.thickbox01 .phone_list01 .list02{
    height: 110px;
    overflow: hidden;
    margin-bottom: 8px;
    padding-bottom: 8px;
    border-bottom: 1px dashed #bfbfbf;
}
.thickbox01 .phone_list01 .list02 li{
    padding-left: 12px;
    background: url(../images/list_bg01.gif) 0 7px no-repeat;
    line-height: 1.6;
}
.thickbox01 .phone_list01 .color_opt, .thickbox01 .phone_list01 .color_opt_txt{
    display: inline-block;*display: inline;zoom: 1;
}
.thickbox01 .phone_list01 .color_opt{
    height: 23px;
    margin-bottom: 2px;
    padding-left: 23px;
    color: #aaaaaa;
}
.thickbox01 .phone_list01 .color_opt1{
    background: #777777;
}
.thickbox01 .phone_list01 .color_opt2{
    background: #ececec;
}
.thickbox01 .phone_list01 .color_opt3{
    background: #eacf9f;
}
.thickbox01 .phone_list01 .color_opt4{
    background: #252525;
}
.thickbox01 .phone_list01 .color_opt_txt{
    height: 21px;
    line-height: 21px;
    padding: 0 6px;
    background: #ffffff;
    border: solid #dddddd;
    border-width: 1px 1px 1px 0;
    font-size: 12px;
}
body .font05{
    font-size: 18px;
    font-weight: 700;
    color: #cc0000;
}
.thickbox01 .curr_tag{
    display: none;
    position: absolute;
    bottom: -1px;
    right: -1px;
    line-height: 1.8;
    padding: 0 10px;
    background: #e85f3b;
    text-align: center;
    font-size: 14px;
    color: #ffffff;
}
.thickbox01 .item.selected .curr_tag{
    display: block;
}
.thickbox01 .btn_wrap02{
    padding: 8px;
    background: #ffe8e2;
    border-top: 2px solid #ffc7b9;
    text-align: center;
}
.thickbox01 .btn08-2{
    display: inline-block;*display: inline;zoom: 1;
    width: auto;
    height: 32px;
    line-height: 32px;
    padding: 0 25px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 700;
    -webkit-transition: background .1s ease-in-out;
    -moz-transition: background .1s ease-in-out;
    transition: background .1s ease-in-out;
}
/*thickbox02*/
.thickbox02{
    max-width: 610px;
}
.thickbox02 .thb-tit{
    height: 45px;
    line-height: 45px;
    background: #ff4e50;
    font-size: 19px;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
}
.thickbox02 .thb-con{
    padding: 20px 20px 30px;
    font-size: 15px;
    color: #535353;
    text-align: center;
}
.thickbox02 .thb-con_2{
    padding-top: 50px;
}
/*选号弹框*/
.xh {
    display: none;
    position: absolute;
    top: 0;
    left: 15%;
    z-index: 999;
    width: 810px;
    background: #fff;
}
.xh-title {
    padding: 8px;
    background: #db3b3b;
}
.xh-title span {
    font-size: 18px;
    color: #fff;
}
.xhimg-close{
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}
.xh-content {
    background: #fafafa;
    border: 1px solid #e9e9e9;
    border-top: 0;
}
.xh-content1 {
    margin: 0 35px 5px;
    padding-top: 5px;
}
.xh-area {
    float: left;
    font-size: 14px;
}
.xh-area1 {
    color: #a0a0a0;
}
.xh-area2 {
    font-weight: bold;
}
.xh-filter {
    float: right;
}
.xh .xh-search-text {
    display: inline-block;
    float: left;
    width: 120px;
    height: 23px;
    line-height: 23px;
    padding: 2px 5px;
    border: 1px solid #ccc;
    color: #919191;
    outline: none;
}
.xh-search-btn {
    display: inline-block;
    float: left;
    width: 41px;
    height: 24px;
    background: url(../images/filter.jpg);
    cursor: pointer;
}
.xh-three {
    font-size: 12px;
    margin: 10px 35px;
}
.xh-three ul {
    clear: both;
}
.xh-three li {
    float: left;
    padding: 2px 5px;
    margin-right: 10px;
    cursor: pointer;
}
.xh-three .xh-choice-three {
    background: #db3b3b;
    color: #fff;
}
.xh-weihao {
    font-size: 12px;
    margin: 10px 35px;
}
.xh-weihao ul {
    clear: both
}
.xh-weihao li {
    float: left;
    padding: 2px 5px;
    margin-right: 10px;
    cursor: pointer;
}
.xh-weihao .xh-choice-weihao {
    background: #db3b3b;
    color: #fff;
}
.xh-number {
    font-size: 12px;
    color: #666;
    margin: 5px 35px;
    clear: both
}
.haoma-beizhu {
    clear: both;
    margin: 5px 35px;
    line-height: 21px;
    color: #666;
}
.xh-numbertext {
    float: left;
    line-height: 22px;
}
.xh-has, .xh-has-zhuka, .xh-has-fuka1, .xh-has-fuka2 {
    float: left;
    margin-right: 10px;
}
.xh-hasnumber {
    float: left;
    padding: 1px 8px 0;
    border: 1px solid #cdcdcd;
}
.xh-numberclose {
    float: left;
    width: 20px;
    height: 21px;
    background: url(../images/close1.jpg);
    cursor: pointer;
}
.xh-list {
    width: 748px;
    margin: 10px auto;
}
.xh-list ul {
    padding: 0 6px;
}
.xh-list li {
    float: left;
    padding: 6px 10px;
    border: 1px solid #e1e1e1;
    text-align: center;
    cursor: pointer;
}
.xh-list .xh-select {
    border: 1px solid #fd444c;
    background: url(../images/icon_on.gif) no-repeat bottom right;
}
.xh-list .xu-phonenumber {
    font-size: 18px;
}
.xh-list .xu-yucun {
    font-size: 12px;
    text-decoration: line-through;
    color: #999;
}
.xh-page {
    text-align: right;
    margin: 0 35px 10px 0;
    font-size: 14px;
}
.xh-page a {
    display: inline-block;
    margin: 2px;
    padding: 2px 8px;
    border: 1px solid #ddd;
    color: #a0a3aa;
    background: #e0e3ec;
    cursor: pointer;
}
.xh-page a:hover {
    color: #fff;
    background: #5a94c6;
    text-decoration: none;
}
.xh-page a.current-page {
    color: #fff;
    background: #5a94c6;
}
.xh-page em {
    font-style: normal;
}
body .input-page {
    display: inline-block;
    margin: 0 3px;
    width: 40px;
    height: 22px;
    line-height: 22px;
    border: 1px solid #c3c3c3;
    text-align: center;
}
.xh-page span {
    display: inline-block;
    line-height: 25px;
}
.xh-preview-page {
    width: 29px;
    height: 24px;
    background: url(../images/preview_btn.jpg);
}
.xh-next-page {
    width: 29px;
    height: 24px;
    background: url(../images/next_btn.jpg);
}
.btn13 {
    display: inline-block;*display: inline;zoom: 1;
    margin: 15px 0 10px;
    padding: 0 50px;
    background: #ff9933;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    line-height: 34px;
    font-size: 16px;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
    cursor: pointer;
}
.btn13:hover{
    background-color: #f4800c;
    text-decoration: none;
}
.number-zhushi {
    padding: 0 0 15px 15px;
    color: #626262;
}
.close03{
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: url(../images/close02.png) 0 0 no-repeat;
}
.close03:hover{
    background-position: 0 -50px;
}
/*stage-wrap*/
.stage-wrap{
    position: relative;
    width: 554px;
    height: 86px;
    overflow: hidden;
    margin: 30px auto;
}
.stage-wrap .stage{
    float: left;
    width: 86px;
    height: 86px;
    line-height: 86px;
    margin-right: 70px;
    background: url(../images/bg_stage.png) 0 0 no-repeat;
    font-size: 14px;
    font-weight: 700;
    color: #888;
    text-align: center;
}
.stage-wrap .stage.curr, .stage-wrap .stage.done{
    background: url(../images/bg_currStage.png) 0 0 no-repeat;
    color: #ffffff;
}
.stage-wrap .stage.last{
    margin-right: 0;
}
.stage-wrap .progress-bg, .stage-wrap .progress-bar{
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -4px;
    z-index: -2;
    height: 8px;
}
.stage-wrap .progress-bg{
    width: 100%;
    background: #e1e1e1;
}
.stage-wrap .progress-bar{
    z-index: -1;
    /*width: 398px;*/
    background: #49dd96;
}
/*========== site public styles end ==========*/


/*========== specific pages' styles start ==========*/
/*float bar*/
.float-bar{
    position: fixed;
    bottom: 0;
    z-index: 895;
    width: 100%;
    background: #eeeeee;
    border-top: 5px solid #ff971c;
}
.fl-con{
    /*height: 80px;*/
}
.bd01{
    position: relative;
    top: -5px;
    width: 70%;
    height: 0;
    margin: 0 auto;
    border-top: 5px solid #e85f3b;
}
.tb-price{
    width: 82%;
    margin-bottom: 8px;
    font-size: 14px;
    line-height: 25px;
    color: #707070;
    text-align: center;
}
.tb-price th, .tb-price td{
    padding: 2px 10px;
}
#yuCun, .cleanNet, .watcher{
    display: none;
}

/*floor*/
.floor{
    position: relative;
    text-align: center;
}
.floor .dec01{
    position: absolute;
    top: -4px;
    left: 0;
    width: 100%;
    height: 4px;
}
.floor0{
    background: url(../images/fl0_bg.jpg) 0 0 repeat;
    font-size: 18px;
    color: #ffffff;
}
.floor1, .floor3, .floor5{
    background: url(../images/bg01.png) 0 0 repeat;
}
.floor1{
    border-bottom: 1px solid #f3f3f3;
}
.floor2, .floor4{
    background: url(../images/bg02.png) 0 0 repeat;
    border: solid #ffffff;
    border-width: 1px 0;
    outline: 1px solid #e7dcd1;
}
.floor2{
    z-index: 13;
}
.ft-shadow{
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 14;
    width: 100%;
    height: 105px;
    background: url(../images/bg03.png) 0 bottom repeat-x;
}
.floor2 .dec01, .floor4 .dec01{
    background: url(../images/fl_bg01.png) 0 0 repeat-x;
}
.floor3, .floor5{
    border-top: 1px solid #e7dcd1;
}
.floor3{
    z-index: 14;
    border-bottom: 1px solid #ffffff;
}
.floor3 .dec01, .floor5 .dec01{
    background: url(../images/fl_bg02.png) 0 0 repeat-x;
}
.floor4{
    z-index: 15;
}
.floor5{
    z-index: 16;
}
.floor7{
    z-index: 17;
    padding: 20px 0;
    background: url(../images/bg04.png) 0 0 repeat;
    height: 28px;
    border: solid #ff7d5b;
    border-width: 1px 0;
    outline: 1px solid #e65029;
    vertical-align: middle;
    font-size: 22px;
    line-height: 23px;
    font-weight: 700;
    color: #ffffff;
    cursor: pointer;
}
.floor7 .dec01{
    background: url(../images/fl7_bg01.png) 0 0 repeat-x;
}
.floor7 a{
    color: #ffffff;
    -webkit-transition: color .2s ease-in-out;
    -moz-transition: color .2s ease-in-out;
    transition: color .2s ease-in-out;
}
.floor7 a:hover, .floor7 a:active{
    color: #ffe3dc;
    text-decoration: none;
}
.floor7 .icon01{
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: transform .2s ease-in-out;
    -moz-transition: transform .2s ease-in-out;
    transition: transform .2s ease-in-out;
}
.floor7 .icon01.fold{
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    transform: rotate(-180deg);
}
.floor8{
    display: none;
    padding: 30px 0 40px;
    font-size: 16px;
}
.floor8 .fl-con{
    height: auto;
    padding: 0 10px;
}
.floor8 .acti-con li{
    position: relative;
    padding: 8px 0 8px 32px;
    line-height: 28px;
}
.floor8 .acti-con .i-order{
    position: absolute;
    left: 0;
    top: 10px;
    width: 24px;
    height: 24px;
    background: url(../images/i_bg01.png) 0 0 no-repeat;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    color: #fff;
    text-align: center;
}
.faq{
    padding-top: 15px;
    font-size: 15px;
    line-height: 2;
}
.faq dt{
    font-size: 16px;
    font-weight: 700;
}
.faq dd{
    margin-bottom: 20px;
}

/*cx-wrap*/
.cx-wrap{
    position: relative;
    padding: 13px 10px;
    border-bottom: 1px solid #f55966;
    outline: 1px solid #fe9775;
}
.cx-wrap .part-l, .cx-wrap .part-r{
    display: inline-block;*display: inline;zoom: 1;
    padding: 10px 15px;
    vertical-align: top;
}
.cx-wrap .part-l, .wrap01{
    font-size: 18px;
    line-height: 1.8;
    font-weight: 700;
}
.cx-wrap .part-l{
    width: 48%;
    margin-right: 5px;
}
.cx-wrap .part-r{
    margin-left: -5px;
    padding-bottom: 0;
    padding-left: 4%;
    border-left: 1px solid #de0b37;
}
.wrap01{
    padding: 25px 30px;
    background: #ffde00;
    font-size: 22px;
    color: #de0b37;
    text-align: center;
    text-shadow: 1px 1px 1px #fea201;
}
.wrap01 .recom{
    width: 78%;
    margin: 0 auto;
    padding: 20px 10px 10px;
    background: #de0b37;
    font-size: 25px;
    font-weight: 500;
    color: #ffffff;
}
.wrap01 .recom-item{
    display: inline-block;*display: inline;zoom: 1;
    margin: 3% 4%;
    border: 2px solid #de0b37;
}
.wrap01 .recom-item:hover, .wrap01 .recom-item:active{
    border-color: #ffde00;
}
.wrap02 .part-l, .wrap02 .part-r{
    position: relative;
    display: inline-block;*display: inline;zoom: 1;
    width: 49.5%;
    padding-top: 10px;
}
.wrap02 .part-l{
    border-right: 1px solid #ff9783;
}
.wrap02 .part-r{
    margin-left: -5px;
    border-left: 1px solid #e64219;
}
.btn-blgx, .btn-jdcx{
    position: absolute;
    top: 103px;
    right: 28px;
}
.btn-jdcx{
    right: 42px;
}
.btn-blgx:hover, .btn-jdcx:hover{
    opacity: .89;
    filter: alpha(opacity=89);
}

.tip01{
    position: relative;
    margin-bottom: 20px;
    padding: 10px 15px;
    background: #ffffff;
    font-size: 24px;
    line-height: 36px;
    font-weight: 700;
    color: #dc3757;
    text-align: center;
    text-shadow: 1px 1px 1px #e6c9cf;
}
.tip02{
    margin-top: 5px;
    padding: 10px 20px;
    background: #79aa15;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-size: 15px;
    line-height: 1.6;
}
.tip02 .item{
    position: relative;
    padding-left: 18px;
}
.i-order2{
    position: absolute;
    left: 0;
    top: 1px;
}
.tip03{
    position: relative;
    top: -7px;
    vertical-align: bottom;
    color: #de0b37;
}
.tip04{
    position: absolute;
    right: 3%;
    top: 46%;
    z-index: 892;
    padding: 1.5%;
    background: #f7b74d;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 15px;
    line-height: 1.8;
    color: #de0b37;
}
.tip05{
    font-size: 16px;
    color: #fff;
}
.cx-wrap .tip05{
    display: inline-block;*display: inline;zoom: 1;
    /*width: 50%;*/
    margin-left: 10px;
    padding: 0 5px;
}
.tip06{
    margin-top: 8px;
    font-size: 14px;
    line-height: 1.8;
    text-align: left;
}

.para01{
    height: 42px;
    overflow: hidden;
}
.para02{
    position: relative;
    margin: 15px 0 30px;
    padding-left: 12px;
    font-size: 16px;
    font-weight: 700;
    text-align: left;
}

/*sec-step*/
.sec-step{
    margin-bottom: 20px;
}
.sec-step .opt-mask{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 890;
    width: 100%;
    height: 100%;
}
.step-con{
    position: relative;
    padding: 2% 3% 3%;
}
.step1 .step-con{
    background: #4eb6d9;
}
.step2 .step-con, .step4 .step-con{
    background: #7fbd00;
}
.step3 .step-con{
    background: #f39800;
}
.step1 .item-list{
    position: relative;
    padding: 20px 0 0;
    border-top: 1px solid #61c1e2;
    text-align: center;
}
.item-list .item{
    display: inline-block;*display: inline;zoom: 1;
    max-width: 300px;
    margin: 0 15px 15px;
    vertical-align: top;
    font-size: 14px;
    color: #ffffff;
}
.step1 .item-list .item{
    width: 260px;
}
.item-list .item label[for]{
    cursor: pointer;
}
.step2 .part-l, .step2 .part-r{
    display: inline-block;*display: inline;zoom: 1;
    vertical-align: top;
}
.step2 .part-l{
    width: 44%;
}
.step2 .opts-wrap{
    padding-top: 15px;
    border-top: 1px solid #8ac82d;
    font-size: 14px;
    color: #ffffff;
}
.step2 .tip-wrap{
    padding-left: 25px;
}
.step2 .part-r{
    width: 54%;
}
.step2 .part-r .video-wrap{
    height: 302px;
    margin: 45px 0 0 8%;
}
.video-wrap video{
    width: 100%;
}
.step3 .opts-wrap{
    position: relative;
    padding-top: 15px;
    border-top: 1px solid #eea730;
    font-size: 14px;
}
.step3 .opt-name{
    position: absolute;
    top: 0;
    left: 0;
    width: 6em;
    margin-right: 5px;
    font-size: 16px;
    font-weight: 700;
    line-height: 36px;
    color: #ffffff;
    text-align: right;
}
.step3 .opt-item{
    position: relative;
    padding: 0 0 10px 105px;
}
/*step4*/
.step4 .opts-wrap{
    position: relative;
}
.table01{
    width: 100%;
    margin-bottom: 15px;
    text-align: center;
}
.table01 th, .table01 td{
    border: solid #dcdcdc;
    font-weight: 700;
}
.table01 th{
    padding: 1.5% 4%;
    background: #de0b37;
    border-width: 0 1px 0 0;
    font-size: 16px;
    color: #ffffff;
}
.table01 td{
    padding: 1.5%;
    background: #ffffff;
    border-width: 0 1px 1px 0;
    font-size: 14px;
    color: #555555;
    text-shadow: 1px 1px 2px #ddd;
}
.table01 td.first{
    background: #ffedda;
}
.table01 th.last, .table01 td.last, .table01 th:last-child, .table01 td:last-child{
    width: 13%;
    border-right: 0;
}
.table01 tr.last td, .table01 tr:last-child td{
    border-bottom: 0;
}
body .bdb0{
    border-bottom: 0;
}
#tbLiBao2 td{
    padding: 1% 1.5%;
}
.table01 .i-tip{
    position: absolute;
    top: -9px;
    right: -20px;
}
.tipBox{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0 0 0 5px rgba(0, 0, 0, .5);
    -moz-box-shadow: 0 0 0 5px rgba(0, 0, 0, .5);
    box-shadow: 0 0 0 5px rgba(0, 0, 0, .5);
}

/*比一比*/
.flb-byb{
    position: fixed;
    left: 0;
    top: 150px;
    z-index: 896;
    min-height: 325px;
}
.btn-byb{
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -118px;
    z-index: 896;
}
.sec_compare{
    display: none;
    position: relative;
    z-index: 895;
    margin-left: -939px;
    padding: 5px 20px 20px 62px;
    background: #ffe6bd;
    border: solid #f39800;
    border-width: 3px 3px 3px 0;
    -webkit-border-radius: 0 5px 5px 0;
    -moz-border-radius: 0 5px 5px 0;
    border-radius: 0 5px 5px 0;
    font-size: 15px;
    color: #686868;
}
.sec_compare .comp_con{
    margin-top: 5px;
    background: #fff;
}
.sec_compare .tb_comp{
    width: 100%;
}
.sec_compare .tb_comp th, .sec_compare .tb_comp td{
    padding: 8px;
    border: 1px solid #e4e4e4;
    text-align: center;
}
.sec_compare .tb_comp th{
    width: 28%;
    font-weight: 700;
}
.sec_compare .tb_comp .td01{
    width: 50%;
    text-align: left;
}
.sec_compare .tb_comp .td01-2{
    padding-left: 50px;
}
.tb_comp .label01{
    display: inline-block;*display: inline;zoom: 1;
    width: 6em;
    text-align: right;
    font: inherit;
}
.tb_comp .inp_txt02{
    height: 24px;
    line-height: 22px;
    margin: 0 5px;
    padding: 3px 4px;
    border: 1px solid #e4e4e4;
}
.btn_wrap01{
    padding: 15px 0;
    text-align: center;
}
.sec_compare .btn_comp{
    display: inline-block;*display: inline;zoom: 1;
    height: 36px;
    line-height: 36px;
    padding: 0 40px;
    background: #ff344a;
    border-bottom: 3px solid #d22639;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
    font-size: 15px;
    color: #fff;
}
.sec_compare .btn_comp:hover{
    background: #f4243b;
    text-decoration: none;
}
.sec_compare .comp_res{
    padding: 10px 15px 10px 30px;
    background: #ffe6bd;
    text-align: left;
}
.sec_compare .comp_res li{
    margin-bottom: 5px;
    padding-left: 22px;
    background: url(../images/bg_icons_n.png) -134px 5px no-repeat;
    color: #f39800;
}

/* 在线导购条 */
.floatBar02, .floatBar02_m{
    position: fixed;
    top: 185px;
    right: 0;
    z-index: 896;
    padding: 3px 0 1px 2px;
    background-color: #e85f3b;
    border-radius: 3px 0 0 3px;
    _padding-bottom:0;
    _position:absolute; _top:expression(eval(document.documentElement.scrollTop+225));
}
.floatBar02{
    *width:120px;
}
.floatBar02_m{
    *width: 32px;
}
.link_serv{
    display: block;
    width: 93px;
    margin: 0 auto;
    padding: 5px;
}
.floatBar02_m .link_serv{
    width: auto;
    padding: 5px 0;
}
.wrap05, .wrap08{
    padding: 6px;
    background-color: #ffffff;
    font-size: 11px;
    color: #626262;
    text-align: center;
}
.wrap06{
    height: 31px;
    position: relative;
}
.toTop, .btn_expand{
    height: 15px;
    padding: 8px 0;
}
.toTop{
    display: block;
    background: #e85f3b url(../images/bg_icons_min_n.png) 26px -257px no-repeat;
    _background-position: 26px -256px;
}
.floatBar02_m .toTop{
    background-position: 6px -259px;
    _background-position: 7px -256px;
}
.btn_expand{
    width: 48px;
    background: #c73109 url(../images/bg_icons_min_n.png) 18px -280px no-repeat;
    position: absolute;
    right: 0;
    bottom: 0;
}
.wrap08{
    background-color: #dd390e;
    font-size: 12px;
    color: #ffffff;
}

/*sidebar*/
.sidebar, .sidebar-m{
    position: fixed;
    left: 0;
    z-index: 896;
}
.sidebar{
    top: 190px;
    width: 136px;
    height: 255px;
    padding: 105px 12px 0 8px;
    background: url(../images/bg_sidebar.png) 0 0 no-repeat;
}
.sidebar .sb-nav{
    text-align: center;
}
.sidebar .sb-nav .item{
    display: block;
    height: 34px;
    line-height: 34px;
    margin-bottom: 2px;
    font-size: 14px;
    font-weight: 700;
    color: #ffffff;
    text-shadow: 1px 1px 2px #ce1c39;
}
.sidebar .sb-nav .item:hover, .sidebar .sb-nav .item:active{
    color: #fbd10e;
}
.sidebar .btn-ljbl{
    position: absolute;
    bottom: 37px;
    left: 50%;
    margin-left: -37px;
}
.sidebar .btn-ljbl:hover{
    opacity: 0.9;
    filter: alpha(opacity=90);
}
.sidebar .btn-fold, .sidebar-m .btn-expand{
    position: absolute;
    top: 50%;
    margin-top: -64px;
    width: 23px;
    height: 118px;
}
.sidebar .btn-fold{
    right: -11px;
    background: url(../images/btn_sb_fold.png) 0 0 no-repeat;
}
.sidebar-m .btn-expand{
    right: -23px;
    background: url(../images/btn_sb_expand.png) 0 0 no-repeat;
}
.sidebar-m{
    display: none;
    top: 240px;
    width: 29px;
    height: 216px;
    background: url(../images/bg_sidebar_m.png) 0 0 no-repeat;
}


/* for responsive */
@media all and (min-width: 600px) and (max-width: 1018px) {
    .header-con, .main-con, .fl-con, .wrap02{
        width: 100%;
    }
    .header-con img{
        width: 100%;
    }
    .tit01{
        font-size: 30px;
    }
    .step1 .item-list .item{
        width: 28%;
    }
    .step1 .item-list .item img{
        width: 100%;
    }
    .cx-wrap .part-l{
        width: 41%;
    }
    .cx-wrap .tip05{
        font-size: 12px;
    }
    .tb-price {
        width: 86%;
        font-size: 13px;
    }
    .tb-price th, .tb-price td{
        padding: 4px 3px;
    }
    .tb-price .font01{
        font-size: 16px;
    }
    .btn03{
        right: 1%;
        height: 37px;
        line-height: 37px;
        padding: 0 1.5%;
        font-size: 13px;
    }
    .tip04{
        top: 50%;
        width: 26%;
    }
    .fl0-img01{
        width: 90%;
    }
    .fl0-img02{
        width: 85%;
    }
    .btn-blgx, .btn-jdcx{
        top: 65%;
        width: 42.8%;
    }
    .btn-blgx img, .btn-jdcx img{
        width: 100%;
    }
    .floor .fl-img{
        width: 100%;
    }
    .floor8 .fl-con{
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -ms-box-sizing:border-box;
        box-sizing: border-box;
    }
    #opt-ts{
        width: 55%;
    }
    .xh, .thickbox01{
        width: 94%;
    }
    .xh-list{
        width: auto;
    }
    .xh-list ul {
        padding: 0 5%;
    }
}
@media all and (min-width: 600px) and (max-width: 849px) {
    .step2 .video-wrap object{
        height: 226px;
    }
    .table01 th{
        font-size: 15px;
    }
    .table01 td{
        font-size: 13px;
    }
}
/*========== specific pages' styles end ==========*/