@charset "utf-8";
/* CSS Document */
* {
  font-family: '微软雅黑';
}
header, nav, aside, section {
  display: block;
}
body, div, ul, li, table, tbody, h4, a, marquee {
  margin: 0;
  padding: 0;
}
BODY {
  SCROLLBAR-ARROW-COLOR: #FFFFFF;
  SCROLLBAR-FACE-COLOR: #0c71b2;
  SCROLLBAR-DARKSHADOW-COLOR: #FFFFFF;
  SCROLLBAR-HIGHLIGHT-COLOR: #FFFFFF;
  SCROLLBAR-3DLIGHT-COLOR: #FFFFFF;
  SCROLLBAR-SHADOW-COLOR: #FFFFFF;
  SCROLLBAR-TRACK-COLOR: #FFFFFF;
}
.fr {
  float: right;
}
.fl {
  float: left;
}
.clear {
  clear: both;
}
.wap {
  width: 100%
}
.wap1 {
  width: 980px;
  margin: 0 75px;
}
a {
  text-decoration: none;
}
marquee {
  padding-left: 50px;
}
textarea {
  resize: none;
}
.top {
  width: 100%;
  height: 59px;
  background: url(../images/bg-top.jpg) repeat-x;
}
.topbg {
  background: url(../images/zcwt_01.png) no-repeat;
}
/*.noticebar { width: 360px; height: 28px; background: -moz-linear-gradient(center top , #F6F7F9, #EBEEF1)repeat scroll 0% 0% transparent;color: #61707A; border-radius: 4px; border: 1px solid #DBE5EC; background-color:#FFF; margin-left:100px; -webkit-border-radius:4px;-moz-border-radius:4px;-o--border-radius:4px; -ms--border-radius:4px;}*/
.noticebar {
  width: 575px;
  height: 28px;
  position: absolute;
  top: 0;
  left: 322px;
}
.noticfont {
  line-height: 28px;
  text-align: center;
  font-size: 12px;
  margin-left: 40px;
  color: #5b5b5b;
}
.navbar-menu {
  border-left: 1px solid #1e9bd4;
  height: 45px;
  position: absolute;
  top: 6px;
  right: 10px;
  padding-left: 20px;
}
.navbar-menu a {
  display: inline-block;
  vertical-align: middle;
  margin-top: 5px;
  margin-right: 15px;
  cursor: pointer;
}
.home {
  background: url('../images/zcwt_03.gif') repeat scroll -4px -1px transparent;
}
.user {
  background: url('../images/zcwt_03.gif') repeat scroll -53px -1px transparent;
}
.reflash {
  background: url('../images/zcwt_03.gif') repeat scroll 74px -1px transparent;
}
.config {
  background: url('../images/zcwt_03.gif') repeat scroll -162px -1px;
  /*transparent;*/
}
.icon {
  width: 28px;
  height: 22px;
}
.icon1 {
  width: 28px;
  height: 22px;
  margin-left: 10px;
  margin-top: 8px;
}
.hover1 {
  background-color: #667787;
  color: #FFF;
}
.usertic {
  width: 163px;
  height: 150px;
  background: url(../images/user.png) no-repeat;
  z-index: 125;
  padding: 20px 15px;
  position: absolute;
  top: 30px;
  right: 199px;
}
.usertic p {
  font-size: 12px;
  font-weight: bold;
  color: #667787;
  display: block;
  height: 25px;
}
.usertic p a {
  font-size: 12px;
  text-align: right;
  display: inline-block;
}
.myproduct a {
  background: url(../images/phone_48.png) no-repeat 22px 15px;
}
.myserver a {
  background: url(../images/service_48.png) no-repeat 32px 15px;
}
.yunnying a {
  background: url(../images/computer_48.png) no-repeat 20px 26px;
}
.guani a {
  background: url(../images/order_48.png) no-repeat 28px 15px;
}
.tuiguang a {
  background: url(../images/flag_48.png) no-repeat 32px 15px;
}
.weihu a {
  background: url(../images/users_48.png) no-repeat 22px 20px;
}
.shangji a {
  background: url(../images/car_48.png) no-repeat 22px 15px;
}
.fenxi a {
  background: url(../images/share_48.png) no-repeat 20px 17px;
}
.sysguanli a {
  background: url(../images/config_48.png) no-repeat 27px 18px;
}
.dianpsq a {
  background: url(../images/dpsq_48.png) no-repeat 22px 15px;
}
.key a {
  background: url(../images/key.png) no-repeat 20px 15px;
}
.qrcode a {
  background: url(../images/qrcode.png) no-repeat 20px 15px;
}
.component a {
  background: url(../images/zhanniu_48.png) no-repeat 20px 15px;
}
.app a {
  background: url(../images/yygl.png) no-repeat 20px 15px;
}
.plan a {
  background: url(../images/tcgl.png) no-repeat 20px 15px;
}
.adsl a {
  background: url(../images/kdgl.png) no-repeat 20px 15px;
}
.manager a {
  background: url(../images/dzgl.png) no-repeat 20px 15px;
}
.pqrcode a {
  background: url(../images/pqrcode.png) no-repeat 20px 15px;
}
.sqrcode a {
  background: url(../images/sqrcode.png) no-repeat 20px 15px;
}
.content {
  width: 100%;
  height: auto;

  position: relative;
}
.contentleft {
  width: 181px;
  height: auto;
  overflow: hidden;
  margin-left: 1px;
}
.contaniner-leftmenu {
  margin-right: 10px;
}
/*.contentleft dd{display: none;}
.contentleft ul{ width:100%; height:auto;}
.contentleft ul li{ display:block; _display:inline; width:100%; border-bottom:1px solid #dcdcdc; cursor:pointer;list-style:none; position:relative;}
.contentleft ul li a:hover{background-color:#DFDFDF; color:#667787;}
.contentleft dl dt{ display:block; _display:inline; width:100%; border-bottom:1px solid #dcdcdc; cursor:pointer;list-style:none; position:relative;}
.contentleft dl dt a:hover{background-color:#667787; color:#FFF;}
.contentleft dl li{ display:block; _display:inline; width:100%; border-bottom:1px solid #dcdcdc; cursor:pointer;list-style:none; position:relative;}
.contentleft dl li a:hover{background-color:#667787; color:#fff;}
.hover{ background-color:#b8c3cd;color: #FFF;}
.contentleft ul li a{display:block; width:100%; height:40px; font-size:12px; color:#a8a8a8; text-align:center; line-height:40px;}
.contentleft dl dt a{display:block; width:100%; height:40px; font-size:12px; text-align:center; line-height:40px;}
.contentleft dl li a{display:block; width:100%; height:40px; font-size:12px; text-align:center; line-height:40px;}
.hover3{ background-color:#667787;}
.contentleft ul li span{ width:0px; height:0px;position:absolute; right:10px; top:17px; overflow:hidden;}
.contentleft dl dt span{ width:0px; height:0px;position:absolute; right:10px; top:17px; overflow:hidden;}*/
#secondietm1 li a:hover {
  background-color: #DFDFDF;
  color: #667787;
}
#itm8seconditm li a:hover {
  background-color: #DFDFDF;
  color: #667787;
}
.triangleDown {
  border-left: 6px solid #667787;
  border-right: 6px solid #667787;
  border-top: 6px solid #FFF;
}
.triangleDown1 {
  border-left: 6px solid #FFF;
  border-right: 6px solid #FFF;
  border-top: 6px solid #667787;
}
.triangleRight {
  border-left: 6px solid #FFF;
  border-bottom: 6px solid #667787;
  border-top: 6px solid #667787;
}
.triangleRight1 {
  border-left: 6px solid #DFDFDF;
  border-bottom: 6px solid #FFF;
  border-top: 6px solid #FFF;
}
.wdcp1_a02 {
  background: url(../images/icon/wdcp1_a02.png) no-repeat 40px 10px;
}
.wdcp2_a02 {
  background: url(../images/icon/wdcp2_b02.png) no-repeat 40px 10px;
}
.wdcp3_a02 {
  background: url(../images/icon/wdcp3_c02.png) no-repeat 40px 10px;
}
.wdcp4_a02 {
  background: url(../images/icon/wdcp4_d02.png) no-repeat 40px 10px;
}
.wdcp5_a02 {
  background: url(../images/icon/wdcp5_e02.png) no-repeat 40px 10px;
}
.wdcp6_a02 {
  background: url(../images/icon/wdcp6_f02.png) no-repeat 40px 10px;
}
.wdcp7_a02 {
  background: url(../images/icon/wdcp7_g02.png) no-repeat 40px 10px;
}
.sghx1_a02 {
  background: url(../images/icon/sghx1_a02.png) no-repeat 40px 10px;
}
.sghx2_a02 {
  background: url(../images/icon/sghx2_b02.png) no-repeat 40px 10px;
}
.sghx3_a02 {
  background: url(../images/icon/sghx3_c02.png) no-repeat 40px 10px;
}
.sjgl1_a02 {
  background: url(../images/icon/sjgl1_a02.png) no-repeat 40px 10px;
}
.sjgl2_a02 {
  background: url(../images/icon/sjgl2_b02.png) no-repeat 40px 10px;
}
.wtyy1_a02 {
  background: url(../images/icon/wtyy1_a02.png) no-repeat 40px 10px;
}
.wtyy2_a02 {
  background: url(../images/icon/wtyy2_b02.png) no-repeat 40px 10px;
}
.wtyy3_a02 {
  background: url(../images/icon/wtyy3_c02.png) no-repeat 40px 10px;
}
.ddgl1_a02 {
  background: url(../images/icon/ddgl1_a02.png) no-repeat 40px 10px;
}
.ddgl2_a02 {
  background: url(../images/icon/ddgl2_b02.png) no-repeat 40px 10px;
}
.khwh_a02 {
  background: url(../images/icon/khwh_a02.png) no-repeat 40px 10px;
}
.wdcp1_a01 {
  background: url(../images/wdcp1_a01.png) no-repeat 40px 10px;
}
.wdcp2_a01 {
  background: url(../images/wdcp2_b01.png) no-repeat 40px 10px;
}
.wdcp3_a01 {
  background: url(../images/wdcp3_c01.png) no-repeat 40px 10px;
}
.wdcp4_a01 {
  background: url(../images/wdcp4_d01.png) no-repeat 40px 10px;
}
.wdcp5_a01 {
  background: url(../images/wdcp5_e01.png) no-repeat 40px 10px;
}
.wdcp6_a01 {
  background: url(../images/wdcp6_f01.png) no-repeat 40px 10px;
}
.wdcp7_a01 {
  background: url(../images/wdcp7_g01.png) no-repeat 40px 10px;
}
.sghx1_a01 {
  background: url(../images/sghx1_a01.png) no-repeat 40px 10px;
}
.sghx2_a01 {
  background: url(../images/sghx2_b01.png) no-repeat 40px 10px;
}
.sghx3_a01 {
  background: url(../images/sghx3_c01.png) no-repeat 40px 10px;
}
.sjgl1_a01 {
  background: url(../images/sjgl1_a01.png) no-repeat 40px 10px;
}
.sjgl2_a01 {
  background: url(../images/sjgl2_b01.png) no-repeat 40px 10px;
}
.wtyy1_a01 {
  background: url(../images/wtyy1_a01.png) no-repeat 40px 10px;
}
.wtyy2_a01 {
  background: url(../images/wtyy2_b01.png) no-repeat 40px 10px;
}
.wtyy3_a01 {
  background: url(../images/wtyy3_c01.png) no-repeat 40px 10px;
}
.ddgl1_a01 {
  background: url(../images/ddgl1_a01.png) no-repeat 40px 10px;
}
.ddgl2_a01 {
  background: url(../images/ddgl2_b01.png) no-repeat 40px 10px;
}
.khwh_a01 {
  background: url(../images/khwh_a01.png) no-repeat 40px 10px;
}
.buttle {
  background: url(../images/Bullet.png) no-repeat 65px 18px;
}
.showbg {
  background: url(../images/icon/show.png) no-repeat;
}
.hidebg {
  background: url(../images/icon/hide.png) no-repeat;
}
.conentRight {
  width: 796px;
  min-height: 400px;
}
.conentR {
  height: auto;
}
.conentscrool {
  width: 100%;
  overflow-y: auto;
  margin-top: 5px;
}
.titlePath {
  width: 100%;
  height: 41px;
  display: inline-block;
  line-height: 40px;
  margin-left: 20px;
  padding-left: 5px;
  overflow: hidden;
  border-bottom: 1px solid #E5E5E5;
  background: url(../images/12.gif) no-repeat left center;
}
.titlePath p {
  font-size: 12px;
  color: #999;
  display: inline-block;
  margin-left: 20px;
  font-family: '微软雅黑';
}
.titlePath a:link, .titlePath a:visited, .titlePath a:active {
  color: #999;
}
.titlePath a:hover {
  color: #3598db;
  text-decoration: underline;
}
.check {
  width: 100%;
  height: auto;
  padding: 10px;
}
.label {
  height: 40px;
  float: left;
}
.tdfdiv {
  margin-right: 10px;
  float: left;
  line-height: 32px;
  font-weight: bold;
  display: inline-block;
  width: 60px;
  text-align: right;
}
.tdfont {
  font-size: 12px;
  color: #636363;
}
.tdtext {
  width: 180px;
  float: left;
}
.tdinput {
  width: 154px;
  height: 23px;
  line-height: 24px;
  border: 1px solid #ccc;
  color: #555;
}
.check_btn {
  width: 60px;
  height: 30px;
  line-height: 32px;
  background-color: #9bcf50;
  float: left;
}
.check_btn a {
  font-size: 12px;
  color: #FFF;
  padding-left: 18px;
  text-decoration: none;
}
.baobdown {
  width: 100px;
  height: 30px;
  line-height: 32px;
  float: left;
}
.baobdown a {
  font-size: 12px;
  color: #3598db;
  padding-left: 18px;
  text-decoration: underline;
}
.ddtable {
  width: 97.5%;
  height: auto;
  clear: both;
  overflow: hidden;
}
.ddtable tr td {
  border-bottom: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0;
}
.ddtablesty {
  width: 99%;
  height: auto;
  border-spacing: 0;
  border: 1px solid #e0e0e0;
}
.ddtablesty tr td img {
  vertical-align: middle;
}
.ddtablesty tr td a {
  margin: 2px 5px;
  color: #3598db;
  text-decoration: underline;
}
.ddtablesty caption {
  background-color: #f4f4f4;
  height: 30px;
  /*list-style: 30px;*/
  text-align: right;
  padding: 3px 5px;
}
.clear {
  clear: both;
}
.trstyle1 {
  width: 100%;
  height: 35px;
  line-height: 32px;
  background-color: #eceaea;
  text-align: center;
  font-weight: bold;
}
.trstyle2 {
  text-align: center;
  line-height: 24px;
}
.fontcor1 {
  color: #3598db;
}
.fontcor2 {
  color: #f21515;
}
.page {
  float: right;
  margin-top: 10px;
  margin-right: 10px;
}
.w1000 {
  font-family: '微软雅黑';
}
.bor-ccc {

}
.bor-ccc .menuf a {
  display: block;
  padding: 9px 0 10px 19px;
  color: #999;
  font-size: 14px;
  cursor: pointer;
  font-family: '微软雅黑';
  clear: both;
  overflow: hidden;
}
.bor-ccc .menuf a:hover {
  text-decoration: none;
}
.bor-ccc .menuf a .icon.pricture_icon {
  width: 20px;
  height: 20px;
  background: url(../images/pricture_icon.png) no-repeat;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px
}
.bor-ccc .menuf a .icon {
  width: 20px;
  height: 20px;
  background: url(../images/icon-menu.png) no-repeat;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px
}
.bor-ccc .menuf a .icon.pqrcode {
  width: 20px;
  height: 20px;
  background: url(../images/pqrcode.png) no-repeat;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px
}
.bor-ccc .menuf a .icon.ddgl {
  width: 20px;
  height: 20px;
  background: url(../images/ddgl.png) no-repeat;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px
}
.bor-ccc .menuf a .icon.dygl {
  width: 20px;
  height: 20px;
  background: url(../images/dygl.png) no-repeat;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px
}
.bor-ccc .menuf a .icon.fwltj {
  width: 20px;
  height: 20px;
  background: url(../images/fwltj.png) no-repeat;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px
}
.bor-ccc .menuf a .icon.sqdp {
  width: 20px;
  height: 20px;
  background: url(../images/sqdp.png) no-repeat;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px
}
.bor-ccc .menuf a .icon.wdkh {
  width: 20px;
  height: 20px;
  background: url(../images/wdkh.png) no-repeat;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px
}
.bor-ccc .menuf a .icon.sqrcode {
  width: 20px;
  height: 20px;
  background: url(../images/sqrcode.png) no-repeat;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px
}
.bor-ccc .menuf a .icon.s1 {
  background-position: 0 0
}
.bor-ccc .menuf a .icon.s2 {
  background-position: 0 -21px
}
.bor-ccc .menuf a .icon.s3 {
  background-position: 0 -42px
}
.bor-ccc .menuf a .icon.s4 {
  background-position: 0 -63px
}
.bor-ccc .menuf a .icon.s5 {
  background-position: 0 -84px
}
.bor-ccc .menuf a .icon.s6 {
  background-position: 0 -105px
}
.bor-ccc .menuf a .icon.s7 {
  background-position: 0 -126px
}
.bor-ccc .menuf a .icon.s8 {
  background-position: 0 -147px
}
.bor-ccc .menuf a .icon.s9 {
  background-position: 0 -168px
}
.bor-ccc .menuf a .icon.s10 {
  background-position: 0 -189px
}
.bor-ccc .menuf a .icon.s11 {
  background-position: 0 -210px
}
.bor-ccc .menuf a .icon.s12 {
  background-position: 0 -231px
}
.bor-ccc .menuf a .icon.s13 {
  background-position: 0 -252px
}
.bor-ccc .menuf a .icon.s14 {
  background-position: 0 -273px
}
.bor-ccc .menuf a .icon.s15 {
  background-position: 0 -294px
}
.bor-ccc .menuf a .icon.s16 {
  background-position: 0 -315px
}
.bor-ccc .menuf a .icon.s17 {
  background-position: 0 -336px
}
.bor-ccc .menuf a .icon.s22 {
  background: url(../images/s22.png) no-repeat;
}
.bor-ccc .menuf a .icon.s23 {
  background: url(../images/s23.png) no-repeat;
}
.bor-ccc .menuf a .icon.s18 {
  background-position: 0 -357px
}
.bor-ccc .menuf a .icon.s19 {
  background-position: 0 -378px
}
.bor-ccc .menuf a .icon.s20 {
  background-position: 0 -399px
}
.bor-ccc .menuf a .icon.s21 {
  background-position: 0 -420px
}
.bor-ccc .menuf a:hover {
  color: #ff8a00;
  background: #fff;
}
.bor-ccc .menuf a.curr {
  color: #ff8a00;
  background: #fff;
}
.bor-ccc .menuf li {
  overflow: hidden;
  border-bottom: 1px dashed #E5E5E5;
  width: 178px;
  background: #F4F4F4;
}
.bor-ccc .menuf .submenu a {
  color: #858585;
  padding: 5px 0 5px 35px;
}
.bor-ccc .menuf .submenu a:hover, .bor-ccc .menuf .submenu a.curr {
  color: red;
  background: none;
  border-left: 0;
  padding-left: 35px;
}
.bor-ccc .menuf .submenu span {
  margin-right: 10px;
  vertical-align: 2px;
  background: url(../images/m.png) no-repeat;
  width: 9px;
  height: 9px;
  display: inline-block;
}
.tjsearch {
  background: url(../images/tjsearch.jpg) no-repeat;
  width: 93px;
  height: 24px;
  position: absolute;
  right: 20px;
  cursor: pointer;
  top: 8px;
}
.tjup {
  background: url(../images/tjsearch1.jpg) no-repeat;
}
.label_style {
  border: 0;
  background: none;
  width: 80px;
  height: 30px;
  color: #728190;
  padding: 0;
}
select.tdinput {
  height: 27px;
  line-height: 27px;
  padding: 2px;
}
#nav a:hover {
  -webkit-animation: toTopFromBottom .3s;
  -moz-animation: toTopFromBottom .3s;
  animation: toTopFromBottom .3s
}
@-webkit-keyframes toTopFromBottom {
  49% {
    -webkit-transform: translateY(-10%)
  }
  50% {
    opacity: .3;
    -webkit-transform: translateY(30%)
  }
  51% {
    opacity: 1
  }
}
@-moz-keyframes toTopFromBottom {
  49% {
    -moz-transform: translateY(-10%)
  }
  50% {
    opacity: .3;
    -moz-transform: translateY(30%)
  }
  51% {
    opacity: 1
  }
}
@keyframes toTopFromBottom {
  49% {
    transform: translateY(-10%)
  }
  50% {
    opacity: .3;
    transform: translateY(30%)
  }
  51% {
    opacity: 1
  }
}
.used a:hover, .navbar-menu a:hover {
  -webkit-animation: small .3s ease;
  -moz-animation: small .3s ease;
  -o-animation: small .3s ease;
  animation: small .3s ease;
}
@-webkit-keyframes small {
  0% {
    -webkit-transform: rotate(30deg);
    opacity: 0
  }
  100% {
    -webkit-transform: rotate(0deg);
    opacity: 1
  }
}
@-moz-keyframes small {
  0% {
    -moz-transform: rotate(30deg);
    opacity: 0
  }
  100% {
    -moz-transform: rotate(0deg);
    opacity: 1
  }
}
@keyframes small {
  0% {
    transform: rotate(30deg);
    opacity: 0
  }
  100% {
    transform: rotate(0deg);
    opacity: 1
  }
}
#toolbar {
  padding-right: 5px;
}
ul {
  list-style: none;
}
.rel {
  position: relative;
}
#login-w {
  background: url(../images/body-ss.jpg) repeat-x center top;
}
#login {
  background: url(../images/loginbg.jpg) no-repeat center top;
  height: 571px;
}
.lg-content {
  width: 590px;
  padding-top: 215px;
  margin: 0 auto;
}
#login .login {
  height: 190px;
  padding: 15px;
  padding-top: 5px;
  width: 450px;
  margin-left: 20px;
  margin-top: 0px;
  *margin-top: 0px;
}
#login .login input {
  font-family: 'Microsoft YaHei';
  width: 248px;
  padding: 5px 5px 5px 20px;
  border: 1px solid #bac7d2;
  color: #969696;
  line-height: 29px;
  height: 29px;
  border-left: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-bottom: 15px;
  font-size: 16px;
  background: #f9f9fa;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
#login .login input:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, 0.6);
}
.list-all {
}
.fselect {
  margin-left: 54px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  position: relative;
  font-family: 'Microsoft YaHei';
  width: 248px;
  padding: 5px 5px 5px 20px;
  border: 1px solid #bac7d2;
  color: #969696;
  line-height: 29px;
  height: 29px;
  border-left: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-bottom: 10px;
  font-size: 16px;
  background: url(../images/sel.jpg) #f9f9fa no-repeat right center;
  cursor: pointer;
  z-index: 9;
}
.option {
  z-index: 10;
  font-size: 16px;
  background: #fff;
  display: none;
  width: 272px;
  border: 1px solid #c8c8c8;
  position: absolute;
  left: 0;
  top: 40px;
  overflow-y: auto;
}
.option li {
  color: #969696;
  line-height: 37px;
  padding: 0 5px;
  cursor: pointer;
}
.option li.hover {
  background: #f3f3f3;
}
#login .login input.btn-chk {
  border: 0;
  width: 13px;
  height: 13px;
}
.bgred, .bggreen {
  padding: 5px 35px;
  color: #fff;
}
.bgred {
  background: #ff5a00;
}
.bggreen {
  background: #82b91c;
  margin-right: 32px;
}
.lg-menu {
  width: 180px;
  color: #989897;
  padding-top: 1px;
  font-size: 18px;
  height: 281px;
}
.lg-menu li {
  cursor: pointer;
  height: 71px;
  line-height: 71px;
  padding-left: 65px;
  *margin-left: -15px;
  background: url(../images/beijindenglu.jpg) no-repeat left bottom;
}
.lg-menu li.curr {
  background: url(../images/beijindenglu.jpg) no-repeat left top;
  color: #40403f;
}
.htlogo {
  position: absolute;
  top: 130px;
  left: 55px;
  outline: none;
  border: 0;
}
.ml50 {
  margin-left: 50px;
}
.mt10 {
  margin-top: 10px;
}
#login .login span {
  width: 54px;
  height: 41px;
  display: inline-block;
  float: left;
  background: url(../images/icon-s.jpg) no-repeat;
}
#login .login label {
  display: block;
  margin-left: 95px;
}
.login small {
  color: #949293;
  position: absolute;
  left: 70px;
  width: 230px;
  top: 8px;
  display: block;
  font-size: 16px;
}
.list-ad li {
  -webkit-transition: 0.3s all ease;
  -moz-transition: 0.3s all ease;
  -ms-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
  overflow: hidden;
  position: relative;
}
.list-ad .border {
  /*	height:40px;
	position:absolute;
	left:196px; top:0;
	width:4px;
	overflow:hidden;
	opacity:0;
	background:#3598db;
	-webkit-transition:0.3s all ease;
	-moz-transition:0.3s all ease;
	-ms-transition:0.3s all ease;
	-o-transition:0.3s all ease;
	-webkit-transition:.5s left ease;
	display:none\0;*display:none;*/
}
.list-ad li:hover .border {
  opacity: 1;
  left: 0;
}
.list-ad li:hover .text-ad {
  /*-webkit-animation-name:shake;
	-moz-animation-name:shake;
	animation:1s .2s ease both;*/

}
.text-ad {
  /*float:left;
	-webkit-animation:.5s .2s ease both;
    -moz-animation:1s .2s ease both;
	animation:1s .2s ease both;*/
}
@-webkit-keyframes shake {
  0%, 100% {
    -webkit-transform: translateX(0);
  }
  20%, 60% {
    -webkit-transform: translateX(-10px);
  }
  40%, 80% {
    -webkit-transform: translateX(10px);
  }
}
@-moz-keyframes shake {
  0%, 100% {
    -moz-transform: translateX(0);
  }
  20%, 60% {
    -moz-transform: translateX(-10px);
  }
  40%, 80% {
    -moz-transform: translateX(10px);
  }
}
@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  20%, 60% {
    transform: translateX(-10px);
  }
  40%, 80% {
    transform: translateX(10px);
  }
}
.order-set {
  background: url(../images/f-set-menu1.jpg);
  height: 42px;
  line-height: 42px;
  color: #646464;
  font-size: 14px;
}
.order-set li {
  float: left;
  padding: 0 15px;
}
.order-set li.curr {
  color: #0c7ec5;
  background: url(../images/f-set-menu.jpg);
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
}
.comm_table {
  border-collapse: collapse;
  color: #646464;
  text-align: center;
  border-left: 1px solid #e5e5e5;
  border-bottom: 1px solid #f0f0f0;
  font-size: 12px;
  margin: 0px auto;
  font-family: '微软雅黑';
}
.comm_table th {
  font-weight: normal;
  background: #f4f8ff;
  border-bottom: 1px dashed #e9e9e9;
  padding: 5px;
  text-align: left;
}
.comm_table td {
  word-break: break-all;
  word-wrap: break-word;
  padding: 5px;
  text-align: left;
  border-top: 1px dashed #e8e8e8;
}
.comm_table .f-name {
  color: #000;
  text-align: center;
}
.f-lab {
  float: left;
  width: 25%;
  display: block;
  margin-bottom: 5px;
  margin-top: 5px;
}
.f-edit-del {
  border: 1px solid #dedede;
  padding: 10px;
  width: 567px;
}
.f-edit-del input {
  border: 1px solid #e0e0e0;
  height: 20px;
  line-height: 20px;
  margin-left: 5px;
  margin-right: 10px;
}
.f-edit-del select {
  min-width: 108px;
  margin-left: 5px;
  margin-right: 10px;
}
.f-del {
  margin-top: 10px
}
.rel {
  position: relative;
}
.tc {
  text-align: center;
}
.f12 {
  font-size: 12px;
}
.f20 {
  font-size: 20px;
}
.ie6pop {
  background: url(../images/ie6tan.png) no-repeat;
  width: 640px;
  height: 176px;
  padding-top: 140px;
  z-index: 214748364700000000000000000;
  position: fixed !important;
  left: 50%;
  margin-left: -320px !important;
  top: 50%;
  margin-top: -88px !important;
  _position: absolute;
  _top: expression(documentElement.scrollTop + documentElement.clientHeight-this.offsetHeight);
  _left: expression(eval(document.documentElement.clientWidth/2+document.documentElement.scrollLeft));
  overflow: hidden;
}
.pop-close {
  position: absolute;
  right: 5px;
  top: 5px;
  width: 31px;
  height: 31px;
  display: block;
  cursor: pointer;
}
.d-ie, .d-chrome {
  width: 198px;
  height: 65px;
  display: block;
  position: absolute;
}
.d-ie {
  left: 113px;
  bottom: 34px;
}
.d-chrome {
  right: 113px;
  bottom: 34px;
}
.name-gh {
  background-position: 0 0;
}
#login .login span.new-pwd {
  background-position: 0 -52px;
}
#login .login span.new-gw {
  background-position: 0 -104px;
}
#login .login span.new-gly {
  background-position: 0 -156px;
}
.mb20 {
  margin-bottom: 20px
}
.mt20 {
  margin-top: 20px;
}
.new-btn-log {
  width: 328px;
  height: 39px;
  text-align: center;
  display: block;
  background: #ff5a00;
  color: #fff;
  line-height: 39px;
  letter-spacing: 1em;
  font-size: 18px;
}
.bot-msg {
  margin-left: 95px;
  width: 328px;
  margin-top: 10px;
}
.bot-msg a {
  color: #9ba8b4
}
.bot-msg .new-zc {
  color: #ff5a00;
  padding-bottom: 2px;
  border-bottom: 1px solid #ff5a00
}
/*11-4 fei*/
.new-container {
  background: #fff;
  padding: 14px;
  border-radius: 5px;
  margin-top: 14px;
}
.manyi {
  padding: 25px 15px;
  background: #edf5fb;
  font-size: 18px;
  border-radius: 5px;
  margin-bottom: 40px;
}
.manyi span {
  display: inline-block;
  background: url(../images/hg.png) no-repeat;
  width: 50px;
  height: 33px;
  margin-left: 10px;
}
.manyi span.gray {
  background-position: right 0;
}
.manyi a {
  font-size: 12px;
  background: #fff;
  color: #71767c;
  border: 1px solid #e3e3e3;
  border-radius: 8px;
  height: 21px;
  line-height: 21px;
  padding: 0 10px;
  margin-left: 15px;
}
.my-mid h3 {
  color: #000;
  font-size: 22px;
  position: absolute;
  z-index: 1000;
  top: -20px;
  left: 17px;
  font-weight: normal;
}
.my-mid {
  position: relative;
}
.my-mid h3 strong {
  font-weight: normal;
  font-size: 30px;
  color: #ff3c00;
  margin-left: 14px;
  margin-right: 10px;
}
.my-mid span {
  font-size: 12px;
  color: #bdbdbd;
}
.clear {
  clear: both;
  overflow: hidden;
}
.my-list {
  margin: 35px auto;
  width: 917px;
}
.left-info {
  border: 1px solid #f3f3f3;
  line-height: 35px;
  height: 33px;
  color: #8c8c8c;
  width: 786px;
  float: left;
}
.right-btn {
  float: right;
  font-size: 14px;
  background: #93cb0b;
  border-radius: 5px;
  color: #fff;
  width: 102px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  display: block;
}
.f12 {
  font-size: 12px;
}
.left-info em {
  padding: 0 10px;
  float: left;
  font-size: 12px;
  display: inline-block;
  height: 33px;
  line-height: 33px;
}
.left-info span {
  float: left;
  padding: 0 25px;
  display: inline-block;
  height: 33px;
  line-height: 33px;
}
.tag {
  width: 10px;
  height: 35px;
  background: #2c98df;
  float: left;
}
.fuceng {
  background: #2c98df;
  opacity: 0.4;
  font-size: 12px;
  left: 10px;
  position: absolute;
  height: 33px;
  width: 0;
  text-align: right;
  color: #fff;
}
.info-cont {
  margin-bottom: 18px;
  position: relative;
}
.bgblue {
  background: #2c98df
}
.bggreen {
  background: #62bdf9
}
.bglv {
  background: #98d504
}
.bgju {
  background: #e9836e
}
.bgpink {
  background: #ffd2c2
}
.bgzi {
  background: #edb6ec
}
.bgqing {
  background: #57e1f2
}
/*117*/
.new-container {
  clear: both;
  overflow: hidden;
}
.bink-step {
  border: 1px solid #e9e9e9;
}
.bink-step h3 {
  padding: 10px;
  display: block;
  height: 27px;
  line-height: 27px;
  color: #4a4a4a;
  background: #e9e9e9;
  margin-bottom: 30px;
}
.guanli td {
  padding: 30px 12px;
}
.guanli2 td {
  padding: 20px 12px;
  background: #f9f9f9;
  border-top: 1px solid #e9e9e9;
  border-collapse: collapse;
}
.mr5 {
  margin-right: 5px;
}
.guanli td {
  border-bottom: 1px solid #e9e9e9;
  border-collapse: collapse;
}
.guanli, .guanli2 {
  border-collapse: collapse;
  width: 100%;
}
.guanli th, .guanli2 th {
  font-weight: normal;
}
.typ {
  margin-right: 20px;
  float: left;
  font-size: 14px;
}
.guanli .selsty {
  height: 28px;
  border: 1px solid #a8a8a8;
  line-height: 28px;
  background-color: #f9f9f9;
  color: #3b3b3b;
  margin-left: 5px;
}
.guanli.ad td {
  padding: 20px 10px;
  border-bottom: 0;
}
.downlv {
  float: right;
  margin-right: 20px;
}
.bluetext {
  color: #1288d2;
  font-size: 12px;
}
.btn-next {
  background: #44B549;
  min-width: 120px;
  padding: 0 10px;
  height: 37px;
  border-radius: 5px;
  color: #fff;
  line-height: 37px;
  display: inline-block;
  margin: 0 10px;
  margin-bottom: 40px;
}
.tip {
  background: #D9EDF6;
  padding: 10px;
  line-height: 17px;
  height: 17px;
  color: #2b8ac6;
  font-size: 12px;
}
.ml10 {
  margin-left: 10px;
}
.step1-bink {
  padding-left: 10px;
}
.step1-bink h4 {
  font-size: 18px;
}
.type-com {
  margin-top: 20px;
}
.type-com p {
  line-height: 32px;
}
.input-bink {
  width: 170px;
  padding: 0 10px;
  height: 20px;
  line-height: 20px;
  font-family: '微软雅黑';
  border-radius: 5px;
  border: 1px solid #dadada;
  padding: 5px;
}
.back {
  background: #e9e9e9;
  color: #6c6c6c;
}
.step2 {
  float: left;
  width: 33%;
  margin-top: 30px;
}
.serc-com {
  width: 139px;
  background: url(../../images/weixin/wd.png) no-repeat;
  float: left;
  margin-right: 20px;
  padding: 10px 42px 10px 20px;
  border: 0;
  outline: none;
  margin-top: -2px;
}
.btn-list a {
  display: inline-block;
  padding: 0 10px;
  color: #4a4a4a;
  border-radius: 5px;
  background: #fff;
  margin-right: 10px;
}
.btn-list a.curr {
  background: #0c80c9;
  color: #fff;
}
.pass {
  color: #29a009;
}
.noshenhe {
  color: #d50707
}
.link-add {
  color: #3a98d3;
  text-decoration: underline;
}
.type-com.add p {
  display: inline-block
}
/*2014-11-18*/
.g-zx-phone {
  float: left;
  width: 240px;
  height: 450px;
  background: url(../images/weixin/pic_phone.jpg) no-repeat center;
}
.g-zx-box {
  margin: 0 0 0 250px;
  font-size: 12px;
}
.g-zx-box .g-zx-box01 {
  border: 1px solid #e9e9e9;
  padding: 10px;
  height: 70px;
  line-height: 22px;
  color: #4a4a4a;
  background: #e9e9e9;
  margin-bottom: 10px;
}
.g-zx-box .f-btn {
  padding: 20px 0;
  width: 330px;
  margin: 0 auto;
  overflow: hidden;
}
.g-zx-box .f-btn a {
  width: 135px;
  height: 30px;
  line-height: 30px;
  color: #fff;
  text-align: center;
  display: block;
  float: left;
  margin: 0 10px;
}
.g-zx-box .f-btn a.f-btn01 {
  background: url(../images/weixin/btn_bg01.png) no-repeat center;
}
.g-zx-box .f-btn a.f-btn02 {
  background: url(../images/weixin/btn_bg02.png) no-repeat center;
}
.g-zx-box .f-btn a.f-btn03 {
  background: url(../images/weixin/btn_bg03.png) no-repeat center;
  width: 75px;
}
.g-zx-box .f-form {
  padding: 5px;
}
.g-zx-box .f-form span {
  margin-left: 40px;
  margin-right: 10px;
  line-height: 32px;
}
.g-zx-box .f-form input {
  font-size: 12px;
  color: #999;
}
.g-zx-box .f-form b {
  background: #ececec;
  font-size: 12px;
  font-weight: normal;
  padding: 8px;
  color: #4a4a4a;
}
.g-zx-box .f-form b a {
  color: #0e80c9;
}
.line_t {
  border-top: 1px solid #e9e9e9;
  margin: 0 20px;
}
.g-video {
}
.g-video-tab {
  height: 35px;
  line-height: 35px;
  border-bottom: #ccc 1px solid;
}
.g-video-tab ul {
}
.g-video-tab ul li {
  float: left;
  width: 100px;
  text-align: center;
  line-height: 33px;
  margin: 0 1px;
}
.g-video-tab ul li a {
  display: block;
  color: #4a4a4a;
}
.g-video-tab ul li a.cur {
  border-bottom: 2px solid #2189d0;
}
.g-video-tab ul li a:hover {
  border-bottom: 2px solid #2189d0;
}
.g-video-tab ul span {
  float: right;
  font-size: 12px;
  color: #999;
  padding: 0 10px
}
.g-v-list {
  padding: 10px;
}
.g-v-list .title {
  line-height: 35px;
  color: #4a4a4a;
  padding: 0 5px;
}
.g-v-list .title p {
  line-height: 20px;
  color: #4a4a4a;
  padding: 0 5px;
}
.g-v-list .add {
  border: 1px dashed #d1d1d1;
  height: 100px;
}
.g-v-list .add img {
  width: 40px;
  height: 40px;
  margin: 30px auto;
  display: block;
}
.g-v-list ul {
}
.g-v-list ul li {
  margin: 10px 0;
}
.g-v-list .bor {
  border: 1px solid #e9e9e9;
}
.g-v-list .con {
  padding: 5px 10px;
}
.g-v-list .txt {
  border-top: 1px solid #e9e9e9;
  background: #f1f1f1;
}
.g-v-list .txt .line {
  border-right: 1px solid #e9e9e9;
}
.g-v-list .f-btn {
  height: 40px;
}
.g-v-list .f-btn a {
  border: 1px solid #e9e9e9;
  margin: 0 10px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 5px;
  color: #333;
  width: 80px;
  display: block;
  float: left;
  text-align: center;
}
.g-v-list .f-gr {
  color: #999;
  font-size: 12px;
}
.g-v-list .f-form {
  padding: 0 5px;
}
.g-v-list .f-form .input01 {
  border: 1px solid #e9e9e9;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 5px 5px;
  width: 380px;
  font-size: 14px;
  color: #999;
}
.g-video-ts {
  height: auto;
  padding: 10px;
  overflow: hidden;
}
.g-video-ts .f-btn a {
  line-height: 30px;
  color: #fff;
  text-align: center;
  display: block;
  float: left;
  margin: 0 10px;
}
.g-video-ts .f-btn a.f-btn01 {
  background: url(../images/weixin/btn_bg01.png) no-repeat center;
}
.g-video-ts .f-btn a.f-btn03 {
  background: url(../images/weixin/btn_bg03.png) no-repeat center;
  width: 75px;
}
.g-video-ts .ts {
  margin: 0 0 0 100px;
}
.g-video-ts .ts h3 {
  border: 1px solid #e9e9e9;
  padding: 2px 5px;
  color: #999;
  font-size: 12px;
  position: absolute;
  background: #fff;
  margin: 0;
  width: auto;
}
.g-video-ts .ts i {
  width: 8px;
  height: 14px;
  position: relative;
  left: -13px;
}
.g-tw {
  border: 1px dashed #d1d1d1;
  height: 90px;
  padding: 12px 0 0 40px;
  margin: 10px;
}
.g-tw .tw01 {
  width: 100px;
  text-align: center;
  margin: 10px;
  float: left;
}
.g-tw .tw02 {
  width: 100px;
  text-align: center;
  margin: 10px;
  float: left;
}
.g-tw a {
  width: 100px;
  height: 100px;
  text-align: center;
  color: #333;
}
.g-tw a img {
  width: 35px;
  height: 35px;
}
.g-tm {
  border: 1px solid #e9e9e9;
  background: #f4f5f9;
  margin: 10px;
  padding: 0 10px;
  position: absolute;
}
.g-tm i {
  width: 8px;
  height: 14px;
  position: relative;
  left: -13px;
}
.g-tm .biaoti {
  line-height: 35px;
  color: #4a4a4a;
  padding: 0 5px;
}
.g-tm .input {
  width: 170px;
  padding: 10px;
  height: 20px;
  line-height: 20px;
  font-family: '微软雅黑';
  border-radius: 5px;
  border: 1px solid #dadada;
  padding: 5px;
}
.g-tm .f-btn {
  padding: 10px 0;
  overflow: hidden;
}
.g-tm .f-btn a {
  border: 1px solid #e9e9e9;
  margin: 0 10px 0 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 5px;
  color: #333;
  width: 110px;
  display: block;
  float: left;
  text-align: center;
  background: #fff;
}
.g-tm .f-tt {
  padding: 0 5px;
}
.g-tm .f-tt img {
  border: 1px solid #d1d1d1;
}
.g-tm .f-tt a {
  color: #68a7de;
}
.g-tm .f-cb {
  padding: 10px 0;
}
.g-xjqf {
  border: 1px solid #e9e9e9;
  padding: 10px;
  height: 70px;
  line-height: 22px;
  color: #4a4a4a;
  background: #e9e9e9;
  margin-bottom: 10px;
}
.g-table {
  width: 98%;
  border-collapse: collapse;
  margin: 1%;
}
.g-table td {
  border: 1px solid #e9e9e9;
  padding: 5px 0;
}
.g-tx {
  padding: 10px;
}
.g-tx a {
  color: #1884ce;
}
.g-video-tww {
  height: auto;
  padding: 10px;
  overflow: hidden;
}
.g-video-tww .f-btn a {
  line-height: 30px;
  color: #fff;
  text-align: center;
  display: block;
  float: right;
  margin: 0 10px;
}
.g-video-tww .f-btn a.f-btn01 {
  background: url(../images/weixin/btn_bg01.png) no-repeat center;
}
.g-video-tww .f-btn a.f-btn03 {
  background: url(../images/weixin/btn_bg03.png) no-repeat center;
  width: 75px;
}
.g-video-tww .ts {
  margin: 0 0 0 100px;
}
.g-video-tww .ts h3 {
  border: 1px solid #e9e9e9;
  padding: 2px 5px;
  color: #999;
  font-size: 12px;
  position: absolute;
  background: #fff;
  margin: 0;
  width: auto;
}
.g-video-tww .ts i {
  width: 8px;
  height: 14px;
  position: relative;
  right: -203px;
}
.g-line2 {
  border-right: 1px solid #e9e9e9;
}
.g-table02 {
  width: 100%;
  border-collapse: collapse;
}
.g-table02 th {
  background: #f1f1f1;
}
.g-table02 td {
  padding: 5px 0;
}
/*pop*/
.pop {
  width: 520PX;
  background: #fff;
  color: #000;
  height: 270px;
  display: none;
  font-family: '微软雅黑'
}
.hd-tit {
  font-size: 16px;
  background: #EEEEEE;
  color: #000000;
  height: 43px;
  line-height: 48px;
}
.close {
  font-size: 26px;
  display: block;
  width: 17px;
  height: 17px;
  float: right;
  margin-right: 16PX;
}
.bd-cont {
  font-size: 14px;
  background: #fff;
  padding: 25px;
}
.Mask {
  opacity: 0.5;
  filter: alpha(opacity=50);
  background: #000;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  zoom: 1;
}
.bd-cont h4 {
  font-size: 20px;
  margin-bottom: 25px;
  display: block;
}
.bd-cont .tit-bk {
  height: 35px;
  line-height: 35px;
  position: relative;
}
.bd-cont .tit-bk small {
  color: #e30b0b;
}
.bd-cont .tit-bk input {
  border: none;
  border: 1px solid #e0e0e0;
  width: 148px;
  height: 25px;
  line-height: 35px;
  margin-right: 8px;
  vertical-align: middle;
}
.btn-pop {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  height: 30px;
  line-height: 30px;
  font-size: 18px;
  margin: 10px;
  padding: 0 35px;
  color: #fff;
  background: #1e9ceb
}
.btn-pop.gray {
  background: #ececec;
}
.suo-img {
  margin-bottom: 20px;
  clear: both;
  overflow: auto;
  height: 120px;
}
.suo-img li {
  width: 105px;
  height: 82px;
  margin: 5px 5px 20px;
  float: left;
}
.suo-img li img {
  width: 105px;
  height: 82px;
}
.suo-img li p {
  font-size: 12px;
  text-align: center;
}
.select {
  width: 460px;
  color: #323232;
  font-family: '微软雅黑';
  height: 24px;
  background: none;
  border: none;
  font-size: 14px;
  margin-left: 5PX;
}
.sleHid {
  display: block;
  width: 450px;
  overflow: hidden;
}
.sleBG {
  width: 454px;
  margin-bottom: 10px;
  height: 26px;
  border: #d2d2d2 1px solid;
  background: url("../images/1.png") #fff no-repeat right center;
  display: block;
  margin-top: 2px;
}
.edi-menu {
  position: absolute;
  bottom: 107px;
  left: 31px;
  border-top: 1px solid #bdbdbd;
  background: #e0e0e0
}
.edi-menu li {
  float: left;
  width: 58px;
  text-align: center;
  border-right: 1px solid #bdbdbd;
  height: 38px;
  position: relative;
  border-bottom: 1px solid #bdbdbd;
}
.edi-menu li span {
  position: absolute;
  left: 30px;
  top: -5px;
}
.edi-menu li .cl {
  position: absolute;
  left: 45px;
  top: -5px;
}
.edi-menu input {
  border: none;
  width: 55px;
  margin-top: 15px;
  background: none;
  color: #4a4a4a;
  font-family: '微软雅黑';
}
.edi-menu.edd {
  bottom: 108px;
}
.edi-menu.edd li {
  clear: left;
}
.add-blue {
  background: #0e80c9;
}
.add-blue input {
  color: #fff;
  position: absolute;
  left: 3px;
  top: -7px
}
.edi-menu.edd.edd2 {
  left: 90px
}
.edi-menu.edd.edd3 {
  left: 150px
}

/*弹出框口 star*/
.modal-dialog {
  position: absolute;
  display: none;
  top: 0px;
  left: 0px;
  right: 0px;
  margin: 0;
  padding: 0;
  _padding: 0 0 55px 0;
  z-index: 11;
  background: url(../images/attrimgs/alertbg.png) repeat;
  width: 100%;
  height: 100%;
  _height: 800px;
  bottom: 0px;
}
.modal-content {
  margin-top: 100px !important;
  background: #fff;
}
.modal-header {
  height: 35px;
  background: #128cd8;
  position: relative;
  width: 100%;
  display: block;
  color: #fff;
  line-height: 35px;
  padding: 0;
}
.modal-title {
  margin-left: 20px;
}
.modal-header .close {
  position: absolute;
  outline: medium;
  top: 0px;
  right: 5px;
  left: 97%;
  margin: 0px;
  font-weight: bold;
  color: #fff;
  background: none;
  border: none;
  font-size: 24px;
  height: 35px;
  width: 20px;
  line-height: 35px;
  padding: 0
}
.modal-header .close:hover {
  color: #FF3;
  cursor: pointer;
}
/*add by YuShengke*/
.modal-dialog1 {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  bottom: 0px;
}
.modal-content1 {
  background: #fff;
}
.modal-header1 {
  height: 35px;
  background: #128cd8;
  position: relative;
  width: 100%;
  display: block;
  color: #fff;
  line-height: 35px;
  padding: 0;
}
.modal-title1 {
  margin-left: 20px;
}
.modal-header1 .close {
  position: absolute;
  outline: medium;
  top: 0px;
  right: 5px;
  left: 97%;
  margin: 0px;
  font-weight: bold;
  color: #fff;
  background: none;
  border: none;
  font-size: 24px;
  height: 35px;
  width: 20px;
  line-height: 35px;
  padding: 0
}
.modal-header1 .close:hover {
  color: #FF3;
  cursor: pointer;
}
.modal-body {
  padding: 10px 0;
}
.modal-body1 {
  padding: 5px 0;
  padding-left: 0px;
}
.w600 {
  width: 600px;
  display: block;
  margin: 0 auto;
}
.table-form {
}
.table-form td {
  padding: 10px 0 0 0;
  line-height: 25px;
}
.table-form td span {
}
.table-form th {
  text-align: right;
  width: 65px;
  padding-left: 5px;
}
.table-form th b, .tit03 b {
  font-size: 12px;
  color: #373636;
  display: inline-block;
  vertical-align: middle;
  *display: inline;
  *zoom: 1;
  margin-left: 5px;
  font-weight: normal;
}
.table-form th i, .tit03 i {
  width: 8px;
  font-style: normal;
  display: inline-block;
  vertical-align: middle;
  *display: inline;
  *zoom: 1;
}
.tit03 {
  float: left;
  height: 35px;
  line-height: 35px;
  margin: 5px 15px;
}
.input03, .input04 {
  height: 30px;
  border: 1px solid #e7e7e7;
  width: 475px;
  font-size: 12px;
  padding: 5px;
  line-height: 30px;
  display: block;
  font-family: '微软雅黑';
  color: #5b5b5b;
}
.input04 {
  width: 100px;
  display: inline-block;
  vertical-align: middle;
  *display: inline;
  *zoom: 1;
  height: 25px;
  line-height: 25px;
  margin: 5px 10px 5px 0px;
}
.dl-list {
  height: 190px;
  overflow: hidden;
}
.dl-list dt {
  font-size: 12px;
  color: #a4a4a4;
  text-align: left;
  display: block;
  height: 25px;
  line-height: 25px;
}
.dl-list dd {
  display: block;
  padding-bottom: 5px;
}
.dl-list dd a {
  border: 1px solid #e7e7e7;
  width: 50px;
  text-align: center;
  color: #373636;
  line-height: 25px;
  display: inline-block;
  vertical-align: middle;
  *display: inline;
  *zoom: 1;
  margin: 5px 5px 0 0;
  font-size: 12px;
  cursor: pointer;
}
a.dta {
  color: #373636;
  display: block;
  height: 24px;
  background: url(../images/attrimgs/add.png) no-repeat center left;
  display: block;
  padding-left: 26px;
  margin: 5px 0;
  cursor: pointer;
  font-size: 12px;
  line-height: 24px;
}
.dl-list dd a:hover, a.dta:hover {
  font-weight: bold;
}
.dl-list dd a.cur {
  background: #28acfe;
  color: #fff;
  border-color: #28acfe;
}
.btn-form {
  cursor: pointer;
  display: inline-block;
  margin-right: 5px;
  vertical-align: middle;
  *display: inline;
  *zoom: 1;
  height: 32px;
  padding: 0;
}
.btn-form:hover {
  opacity: 0.8;
}
.type_login {
  position: absolute;
  width: 110px;
  border: 1px solid #e4e4e4;
  background: #fff;
  overflow: hidden;
  border-bottom: none;
  box-shadow: 0 0 5px #ccc;
  display: none;
  z-index: 9;
}
ul.type_login li {
  border-bottom: 1px solid #e4e4e4;
  width: 100%;
  cursor: pointer;
  height: 30px;
  line-height: 30px;
}
ul.type_login li.cur {
  background: #F7FDFD;
}
em.radio, .addinput {
  font-size: 12px;
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  margin-right: 15px;
}
em.radio input {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  margin: 1px 5px;
}
.addinput {
  vertical-align: middle;
  cursor: pointer;
}
.addinput:hover {
  opacity: 0.8;
}
#ok-del {
  text-align: center;
  font-size: 12px;
  text-align: center;
}
#ok-del .modal-content {
  width: 225px;
  padding: 10px;
}
#ok-del p {
  display: block;
  width: 100%;
  margin-top: 30px;
}
/*弹出框口end*/

/*vfei1121*/
header {
  min-width: 1000px
}
.header-wrap {
  height: 62px;
  background: #5595f5;
  position: relative;
  z-index: 103
}
.header-wrap .header-inner {
  position: relative;
  height: 62px;
  margin: auto
}
.header-wrap .header-inner .logo {
  position: absolute;
  left: 0;
  top: 0
  display: inherit;
  /*font-size: 120px;*/
  line-height: 62px;
  height: 62px;
  overflow: hidden;
  color: #fff;
}
.header-wrap .header-inner .sub-logo {
  display: none
}
.header-wrap .header-inner .header-logo {
  position: relative;
  display: inline-block;
  width: 110px;
  height: 36px;
}
.header-wrap .header-inner nav {
  float: left;
  clear: right;
  margin-left: 230px;
  _margin-left: 115px
}
.header-wrap .header-inner nav ul {
  margin: 0;
  float: right
}
.header-wrap .header-inner nav ul li {
  float: left;
  padding: 0 20px;
  margin-right: 1px;
  line-height: 62px;
  cursor: pointer;
  font-size: 16px
}
.header-wrap .header-inner nav ul li h2 {
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  font-weight: 400;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none
}
.header-wrap .header-inner nav ul li:hover {
  background-color: #357ff0;
  border-bottom: 3px solid #ff8a00;
  height: 59px;
}
.header-wrap .header-inner nav ul li.selected {
  background-color: #357ff0;
  border-bottom: 3px solid #ff8a00;
}
.header-wrap .header-inner .nav-right {
  float: right;
  padding-top: 19px;
  width: 100%
}
.header-wrap .header-inner .nav-right .uname {
  font-size: 12px;
  cursor: pointer;
  color: #00a2ca;
  height: 28px;
  line-height: 33px
}
.header-wrap .header-inner .nav-right .btn-login {
  padding: 6px 9%;
  position: relative;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px
}
.header-wrap .header-inner .nav-right .login {
  display: none;
  height: 33px;
  color: #fff;
  float: left;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 50%;
  background: #008fb2;
  padding: 0 20px 0 10px;
  font-size: 12px
}
.header-wrap .header-inner .nav-right .login a {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
  width: 100%;
  color: #fff
}
.header-wrap .header-inner .nav-right .login a:hover {
  text-decoration: none
}
.header-wrap .header-inner .nav-right .login .login-dropdown {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  padding: 0;
  top: 30px
}
.header-wrap .header-inner .nav-right .login .login-dropdown li {
  background: #008fb2;
  border-top: 1px solid #007390;
  height: 34px;
  line-height: 34px;
  text-indent: 15px
}
.header-wrap .header-inner .nav-right .login .login-dropdown li.last {
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px
}
.header-wrap .header-inner .nav-right .login .login-dropdown li:hover {
  background: #0080a0
}
.header-wrap .header-inner .nav-right .login .login-dropdown a {
  display: block;
  color: #fff
}
.header-wrap .header-inner .nav-right .login .login-dropdown a:hover {
  text-decoration: none
}
.header-wrap .header-inner .nav-right .login:hover {
  -moz-border-radius-bottomright: 0;
  -webkit-border-bottom-right-radius: 0;
  border-bottom-right-radius: 0;
  -moz-border-radius-bottomleft: 0;
  -webkit-border-bottom-left-radius: 0;
  border-bottom-left-radius: 0
}
.header-wrap .header-inner .nav-right .login:hover b {
  border-color: #008fb2 #008fb2 #fff;
  top: 11px
}
.header-wrap .header-inner .nav-right .login:hover ul {
  display: block;
  z-index: 102
}
.header-wrap .header-inner .nav-right .login b {
  position: absolute;
  right: 7px;
  top: 16px;
  width: 0;
  height: 0;
  border-width: 4px 4px;
  border-style: solid;
  border-color: #fff #008fb2 #008fb2;
  font-size: 0;
  line-height: 0
}
.header-wrap .header-inner .nav-right .hover {
  -moz-border-radius-bottomright: 0;
  -webkit-border-bottom-right-radius: 0;
  border-bottom-right-radius: 0;
  -moz-border-radius-bottomleft: 0;
  -webkit-border-bottom-left-radius: 0;
  border-bottom-left-radius: 0
}
.header-wrap .header-inner .nav-right .hover b {
  border-color: #008fb2 #008fb2 #fff !important;
  top: 11px !important
}
.header-wrap .header-inner .nav-right .hover ul {
  display: block !important;
  z-index: 102 !important
}
.header-wrap .header-inner .nav-right .sign-in {
  display: none;
  width: 58%;
  padding: 8px 0;
  color: #30aed6;
  float: left
}
.header-wrap .header-inner .nav-right .sign-in a {
  color: #fff;
  padding: 0 12%;
  _padding: 0 2px;
  font-size: 14px
}
.header-wrap .header-inner .nav-right .sign-in.unlogined {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline
}
.header-wrap .header-inner .nav-right .free {
  float: right;
  background: #fff
}
.header-wrap .header-inner .nav-right .free:hover {
  background: #9cddf5;
  text-decoration: none
}
.header-wrap .header-inner nav ul li.nav-bg {
  background-color: #357ff0;
  border-bottom: 3px solid #ff8a00;
  height: 59px;
}
.hd-top {
  height: 30px;
  background: #2874e7;
  line-height: 30px;
  color: #fff;
}
.menuf {
  padding-top: 7px;
}
.msg {
  color: #fff;
  font-size: 14px;
}
.msg a {
  color: #fff;
  margin-right: 5px;
  margin-left: 5px;
}
.sub-nav {
  position: absolute;
  top: 59px;
  left: 0;
  border-bottom: 2px solid #ff8a00
}
.sub-nav a {
  background: #357ff0;
  color: #fff;
  display: block;
  width: 120px;
  text-align: center;
  height: 44px;
  line-height: 44px;
}
.sub-nav a:hover {
  background: #3d87f8;
  text-decoration: none;
}
.sub {
  width: 80px;
}
.sub:hover {
  border: 0;
}

/*弹窗--新增*/
#ok-del .checkin {
  width: 780px;
  padding: 0;
  background-color: #fff
}
#ok-del .checkin h1 {
  display: block;
  text-align: left;
  height: 50px;
  line-height: 60px;
  background-color: #f7f7f7;
  padding: 0 10px;
  border-bottom: 1px solid #d4d4d4
}
#ok-del .checkin h1 span.span01 {
  font-size: 16px;
  font-weight: bold;
  display: inline-block;
  width: 400px;
}
#ok-del .checkin h1 span.span02 {
  font-size: 12px;
  display: inline-block;
  width: 300px;
  text-align: right;
}
#ok-del .checkin h1 i {
  display: inline-block;
  margin-left: 15px;
  cursor: pointer
}
#ok-del .checkin h1 i img {
  vertical-align: text-bottom;
}
#ok-del .checkin div .tab_ff {
  margin: 10px;
  background-color: #fcfcfc;
  border: #f2f2f2 1px solid;
  padding: 10px;
}
#ok-del .checkin div .tab_ff table.table01 {
  width: 100%;
  border-collapse: collapse;
}
#ok-del .checkin div .tab_ff table.table01 tr td {
  border: 1px solid #e3e1e1;
  height: 35px;
  text-align: left;
  padding-left: 10px
}
#ok-del .checkin div .tab_ff table.table01 tr td.title {
  background-color: #f2f2f2;
  font-weight: bold
}
#ok-del .checkin div .tab_ff h2 {
  display: block;
  text-align: left;
  font-weight: bold;
  padding: 5px 0;
}
#ok-del .checkin div .tab_ff table.table02 {
  width: 80%;
  border-collapse: collapse;
  border-left: 1px solid #e3e1e1;
  border-right: 1px solid #e3e1e1;
}
#ok-del .checkin div .tab_ff table.table02 tr th {
  color: #fff;
  font-weight: normal;
  background-color: #ffae12;
  height: 30px;
}
#ok-del .checkin div .tab_ff table.table02 tr {
  border-bottom: 1px solid #e3e1e1;
}
#ok-del .checkin div .tab_ff table.table02 tr td {
  height: 30px;
}
#ok-del .checkin .checkout {
  margin: 10px 20px;
  padding-bottom: 10px;
}
#ok-del .checkin .checkout table.table03 {
  width: 100%;
  height: auto
}
#ok-del .checkin .checkout table.table03 tr td {
  font-size: 14px;
  font-weight: bold
}
#ok-del .checkin .checkout table.table03 tr td.td01 {
  text-align: left
}
#ok-del .checkin .checkout table.table03 tr td.td02 {
  text-align: right;
  padding-right: 20px;
}
#ok-del .checkin .checkout table.table03 tr td.td01 span {
  color: #e80707;
  font-size: 18px;
}
#ok-del .checkin .checkout table.table03 tr td.td02 span {
  display: inline-block;
  color: #fff;
  width: 140px;
  line-height: 36px;
  text-align: center;
  height: 36px;
  background-color: #0c7ec5;
  border-radius: 5px;
  cursor: pointer
}