@charset "utf-8";

/*========== reset styles start ==========*/
html, body {
  -webkit-text-size-adjust: none;
  color: #434343;
}
body, h1, h2, h3, h4, h5, h6, dl, dd, ul, ol, fieldset, input, textarea, p, blockquote, hr, button, pre {
  margin: 0;
}
body, label, button, input, select, option, textarea, fieldset, legend {
  font: 12px/1.5 "Helvetica Neue", "Hiragino Sans GB", \5FAE\8F6F\96C5\9ED1, Arial, \5b8b\4f53, sans-self;
}
h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: 500;
}
ol, ul {
  padding-left: 0;
  list-style: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
caption, em, i, th {
  font-style: normal;
  font-weight: 500;
}
th, td {
  padding: 0;
}
label, input, select, textarea {
  font-size: 100%;
}
label, input, select {
  vertical-align: middle;
}
input[type="text"], textarea, select {
  padding: 3px 4px;
}
textarea {
  overflow: auto;
  resize: vertical;
  vertical-align: top;
}
:focus {
  outline: 0;
}
a, button, input[type="button"], select {
  cursor: pointer;
}
ins, a {
  text-decoration: none;
}
a {
  color: #008cba;
}
a:hover {
  text-decoration: underline;
}
img {
  max-width: 100%;
  border: 0;
  vertical-align: middle;
}
hr {
  height: 1px; /*改变部分浏览器下的默认高度*/
  line-height: 1px; /*保证IE下高度效果一致，不留白色空白区*/
  margin: 5px 0;
  background: #ddd; /*改变现代浏览器下线条色*/
  border: none 0; /*取消默认边框，以背景和高度代替边框效果*/
  font-size: 0; /*设置为0，以确保IE6下不留空白区*/
  color: #ddd; /*改变IE浏览器下线条色，最好和background-color设置一样的色*/
}
q:before, q:after {
  content: '';
}
sub, sup {
  font-size: 75%; line-height: 0; position: relative; vertical-align: baseline;
}
sup {top: -0.5em;}
sub {bottom: -0.25em;}

iframe {
  /* 修复ie6 7 8(q) iframe显示为行内表现的bug */
  display:block;
}
input::-moz-focus-inner, button::-moz-focus-inner {
  /* 解决FF下按钮文字不能垂直居中的问题 */
  padding: 0;
  border: 0;
}
/*========== reset styles end ==========*/


/*========== common styles start ==========*/
body .hide, [hidden] { display: none; }
body .left, body .right {
  *display: inline; zoom: 1; /*解决ie6下浮动时双margin的bug*/
}
body .left { float: left; }
body .right { float:right; }
/* 清理浮动 */
.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}
.clearfix { zoom:1; } /* for IE6 IE7 */
/* 清除inline-block元素的间隙 */
.clearInlGap {
  /*应用于inline-block元素的父元素。
    inline-block元素本身记得要设置正常的font-size、letter-spacing: 0、*margin-left: -1px以及vertical-align。*/
  font-size: 0;
  /*css hack: for safari only! 数值视具体环境( 字体类型和大小 )作修改*/
  [;letter-spacing: -5px;] /*IE7也能识别*/
  *letter-spacing: -1px;
}
/*lt IE7: 用于第一个行内元素模拟的inline-block*/
body .firEle { *margin-left: 0; }
/*lt IE7: 用于行内元素模拟的inline-block和块级元素模拟的inline-block并存时的第一个块级inline-block元素*/
body .ml-2 { *margin-left: -2px; }

body .pos-r { position: relative; }
body .d-b { display: block; }
body .d-inB { display: inline-block;*display: inline;zoom: 1; }
body .wd-full { width: 100%; }
body .ht-full { height: 100%; }
body .vt { vertical-align: top; }
body .vm { vertical-align: middle; }
body .vb { vertical-align: bottom; }
body .tAl { text-align: left; }
body .tAc { text-align: center; }
body .tAr { text-align: right; }
body .fz12 { font-size: 12px; }
body .fz13 { font-size: 13px; }
body .fz14 { font-size: 14px; }
body .fz15 { font-size: 15px; }
body .fz16 { font-size: 16px; }
body .fz18 { font-size: 18px; }
body .fz20 { font-size: 20px; }
body .bold { font-weight: 700; }
body .tInd2em { text-indent: 2em; }
body .tInd4em { text-indent: 4em; }
body .tEllipsis {
  /*单行超出省略*/
  text-overflow:ellipsis;
  white-space:nowrap;
  overflow:hidden;
}
body .mt5 { margin-top: 5px; }
body .mt10 { margin-top: 10px; }
body .mt15 { margin-top: 15px; }
body .mt20 { margin-top: 20px; }
body .mr5 { margin-right: 5px; }
body .mr10 { margin-right: 10px; }
body .mr15 { margin-right: 15px; }
body .mr20 { margin-right: 20px; }
body .mb5 { margin-bottom: 5px; }
body .mb10 { margin-bottom: 10px; }
body .mb15 { margin-bottom: 15px; }
body .mb20 { margin-bottom: 20px; }
body .ml5 { margin-left: 5px; }
body .ml10 { margin-left: 10px; }
body .ml15 { margin-left: 15px; }
body .pt5 { padding-top: 5px; }
body .pt10 { padding-top: 10px; }
body .pt15 { padding-top: 15px; }
body .pr5 { padding-right: 5px; }
body .pr10 { padding-right: 10px; }
body .pr15 { padding-right: 15px; }
body .pb5 { padding-bottom: 5px; }
body .pb10 { padding-bottom: 10px; }
body .pb15 { padding-bottom: 15px; }
body .pl5 { padding-left: 5px; }
body .pl10 { padding-left: 10px; }
body .pl15 { padding-left: 15px; }
/*========== common styles end ==========*/


/*========== site public styles start ==========*/
.container, .main-con, #dowebok .slide-con {
  position: relative;
  width: 1000px;
  margin: 0 auto;
}
/*fonts*/
body .font01 {
  font-size: 50px;
  line-height: 1.2;
  font-weight: 700;
  color: #00b7ee;
}
body .font02 {
  font-size: 1.5em;
  color: #ff4e50;
}
body .font03 {
  font-size: 1.5em;
  color: #ff8c01;
}
.table01 .font03 {
  position: relative;
  top: 2px;
  margin: 0 2px;
}
/*colors*/
body .c01 {
  color: #00b7ee;
}
body .c02 {
  color: #f19149;
}
body .c03 {
  color: #ff4e50;
}
/*icons*/
.i-quit, .i-fav, .i-notice, .i-search, .i-plus, .i-date, .i-export, .i-del {
  display: inline-block;*display: inline;zoom: 1;
  margin-right: 4px;
  background: url(../images/bg_icons_n.png) 0 0 no-repeat;
  vertical-align: middle;
}
.i-quit {
  width: 14px;
  height: 14px;
}
.i-fav, .i-notice {
  margin-top: -4px;
}
.i-fav {
  width: 13px;
  height: 13px;
  background-position: -29px 0;
}
.i-notice {
  width: 21px;
  height: 18px;
  background-position: -84px -28px;
}
.i-search {
  width: 18px;
  height: 18px;
  margin-top: -1px;
  background-position: -52px 0;
}
.i-plus, .i-export, .i-del {
  margin-top: -2px;
}
.i-plus {
  width: 16px;
  height: 16px;
  background-position: -79px 0;
}
.i-date {
  width: 18px;
  height: 19px;
  background-position: -29px -28px;
}
.i-export {
  width: 17px;
  height: 17px;
  background-position: -57px -28px;
}
.i-del {
  width: 16px;
  height: 20px;
  background-position: -115px -28px;
}
.i-sort {
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -6px;
  width: 10px;
}
.i-sort .ascending, .i-sort .descending {
  display: block;
  width: 10px;
  height: 5px;
  background: url(../images/bg_icons_n.png) 0 0 no-repeat;
}
.i-sort .ascending {
  margin-bottom: 2px;
  background-position: -104px 0;
}
.tab-item:hover .i-sort .ascending, .tab-item.cur .i-sort .ascending {
  background-position: -124px 0;
}
.i-sort .descending {
  background-position: -104px -7px;
}
.tab-item:hover .i-sort .descending, .tab-item.cur .i-sort .descending {
  background-position: -124px -7px;
}
.i-triD01, .i-triUp01 {
  width: 0;
  height: 0;
  overflow: hidden;
}
.i-triD01 {
  display: inline-block;*display: inline;zoom: 1;
  border-top: 4px solid #fff;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  vertical-align: middle;
}
.i-triUp01 {
  position: absolute;
  bottom: 0;
  left: -14px;
  border-bottom: 2.5em solid #f42b2d;
  border-left: 14px solid transparent;
  border-right: 14px solid transparent;
}
.i-triUp01-2 {
  left: auto;
  right: -14px;
}
.gap-line01 {
  position: relative;
  display: inline-block;*display: inline;zoom: 1;
  width: 1px;
  height: 13px;
  margin: 0 5px;
  background: #666;
  vertical-align: middle;
}
.login .gap-line01 {
  top: 1px;
  background: #ffffff;
}
body .bdb0 {
  border-bottom: 0;
}

/*topbar*/
.topbar {
  background: #2874e7;
  font-size: 14px;
  line-height: 2;
  color: #ffffff;
  text-align: right;
}
.topbar .link {
  position: relative;
  display: inline-block;*display: inline;zoom: 1;
  margin-right: 6px;
  padding-right: 6px;
  font-size: 14px;
  color: #ffffff;
  letter-spacing: 0;
  vertical-align: middle;
  *margin-left: -1px;
}
.topbar .link:after {
  content: '';
  position: absolute;
  top: 50%;
  margin-top: -5px;
  right: 0;
  width: 1px;
  height: 10px;
  background: #ffffff;
}
.topbar .link.last:after, .topbar .link:last-child:after {
  content: none;
}

/*headers & titles*/
.login .header {
  position: relative;
}
.login .header .bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ffffff;
  opacity: .5;
  filter: alpha(opacity=50);
}
.header .container {
  padding: 1.5em 0;
}
.logo {
  display: inline-block;*display: inline;zoom:1;
  width: 191px;
  height: 43px;
  background: url(../images/logo_2.png) 0 0 no-repeat;
  vertical-align: middle;
}
.login .logo {
  background-image: url(../images/logo.png);
}
.header .part-r {
  font-size: 14px;
  line-height: 43px;
}
.login .header .part-r {
  color: #ffffff;
}
.login .header .addToFav {
  color: #ffffff;
}
.login .header .addToFav:hover {
  color: #f4f4f4;
}
.toQuit, .addToFav {
  color: #707070;
}
.toQuit:hover, .addToFav:hover {
  color: #00b7ee;
}
.tit01 {
  position: relative;
  margin-bottom: 15px;
  padding-left: 28px;
  font-size: 20px;
}
.tit01 .icon01 {
  position: absolute;
  top: 5px;
  left: 0;
  width: 20px;
  height: 26px;
}
.sec-operation .tit01 .icon01 {
  background: url(../images/bg_icons_n.png) 0 -28px no-repeat;
}
.sec-forgetPw .tit01 .icon01 {
  background: url(../images/bg_icons_n.png) 0 -202px no-repeat;
}
.sec-register .tit01 .icon01 {
  width: 22px;
  height: 22px;
  background: url(../images/bg_icons_n.png) -30px -202px no-repeat;
}
.tit01 .txt {
  display: block;
  padding-bottom: 2px;
  border-bottom: 1px solid #dedede;
}
.tit02 {
  padding-left: 1em;
  background: #efefef;
  border-left: 5px solid #00b7ee;
  font-size: 18px;
  line-height: 2;
  color: #707070;
}

/*navbar*/
.navbar {
  height: 43px;
  line-height: 43px;
  background: #00b7ee;
}
.nav .item {
  position: relative;
  float: left;
}
.nav .item a {
  display: block;
  -webkit-transition: background .2s ease-in-out;
  -moz-transition: background .2s ease-in-out;
  transition: background .2s ease-in-out;
  font-size: 14px;
  color: #ffffff;
  text-align: center;
}
.nav .item a.lev1 {
  height: 43px;
  padding: 0 2em;
}
.nav .item a:hover, .nav .item.hover a.lev1, .nav .item.active a.lev1 {
  background: #0383a9;
  text-decoration: none;
}
.navbar .sub-nav {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 800;
  min-width: 100%;
  overflow: hidden;
  background: #09adde;
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
}
.navbar .sub-item {
  width: 100%;
  border-bottom: 1px solid #0d9eca;
}
.navbar .sub-item:last-child {
  border-bottom: 0;
}
.navbar .sub-item a {
  padding: 0 .8em;
  white-space: nowrap;
  line-height: 36px;
}
.navbar .sub-item a:hover {
  background: #0d9eca;
}

/*buttons & links*/
[class^="btn"] {
  -webkit-transition: border, color, background .2s ease-in-out;
  -moz-transition: border, color, background .2s ease-in-out;
  transition: border, color, background .2s ease-in-out;
}
.btn-wrap01 {
  padding: 1.5em 0;
  text-align: center;
}
.btn-wrap01-2 {
  border-top: 1px dashed #d8d8d8;
}
.btn-wrap02 {
  padding: 15px 0;
}
.btn01 {
  display: block;
  height: 2.5em;
  line-height: 2.5;
  background: #00b7ee;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-size: 18px;
  color: #ffffff;
  text-align: center;
}
.btn01:hover {
  background: #09c1f8;
  text-decoration: none;
}
.goods-list .btn01 {
  position: relative;
  overflow: hidden;
}
.btn01-2, .btn01-3, .btn01-4, .btn01-5, .btn01-7, .btn01-8 {
  display: inline-block;*display: inline;zoom: 1;
  vertical-align: middle;
}
.btn01-2, .btn01-7 {
  height: 32px;
  line-height: 32px;
  padding: 0 1em;
  font-size: inherit;
}
.btn01-2.false, .btn01-2.false:hover {
  background: #e9e9e9;
  color: #a2a2a2;
  cursor: default;
}
.btn01-3 {
  height: 25px;
  line-height: 25px;
  padding: 0 1em;
  font-size: 13px;
}
.btn01-4, .btn01-5 {
  width: auto !important;
  width: 5em;
  min-width: 5em;
  height: 40px;
  line-height: 40px;
  padding: 0 1em;
  font-size: 16px;
}
.btn01-5 {
  background: #ff8c01;
}
.btn01-5:hover {
  background: #ff9b22;
}
.btn01-6 {
  background: #ff4e50;
  border-bottom: 2px solid #f42b2d;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.btn01-6:hover {
  background: #ff383a;
}
.btn01-7 {
  background: #ff9900;
}
.btn01-7:hover {
  background: #ffaa2b;
}
.btn01-8 {
  height: 46px;
  line-height: 46px;
  padding: 0 1em;
  font-size: inherit;
}
.btn02 {
  display: inline-block;*display: inline;zoom: 1;
  overflow: hidden;
  padding: 0 1.5em;
  background: #fefefe; /* Old browsers */
  background: -moz-linear-gradient(top, #fefefe 0%, #dadada 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefefe), color-stop(100%,#dadada)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #fefefe 0%,#dadada 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #fefefe 0%,#dadada 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #fefefe 0%,#dadada 100%); /* IE10+ */
  background: linear-gradient(to bottom, #fefefe 0%,#dadada 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#dadada',GradientType=0 ); /* IE6-9 */
  border: 1px solid #d3d3d3;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-size: 16px;
  line-height: 2;
  color: #7b7b7b;
  text-align: center;
}
.btn02:hover {
  background: #f6f6f6; /* Old browsers */
  background: -moz-linear-gradient(top, #f6f6f6 0%, #dadada 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6f6f6), color-stop(100%,#dadada)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #f6f6f6 0%,#dadada 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #f6f6f6 0%,#dadada 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #f6f6f6 0%,#dadada 100%); /* IE10+ */
  background: linear-gradient(to bottom, #f6f6f6 0%,#dadada 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f6f6', endColorstr='#dadada',GradientType=0 ); /* IE6-9 */
  text-decoration: none;
}
.btn03 {
  display: inline-block;*display: inline;zoom: 1;
  width: auto !important;
  width: 6em;
  min-width: 6em;
  height: 40px;
  line-height: 40px;
  padding: 0 1.5em;
  background: #ff4e50;
  border-bottom: 2px solid #da4244;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: background-color .2s ease-in-out;
  -moz-transition: background-color .2s ease-in-out;
  transition: background-color .2s ease-in-out;
  font-size: 18px;
  color: #ffffff;
  text-align: center;
}
.btn03:hover {
  background: #fa3b3d;
  text-decoration: none;
}
.btn03-2 {
  background: #ff9900;
  border-bottom: 2px solid #f58002;
}
.btn03-2:hover {
  background: #ffaa2b;
}
.opt01 {
  display: inline-block;*display: inline;zoom: 1;
  min-width: 6em;
  height: 30px;
  line-height: 28px;
  margin: 2px 5px 2px 0;
  padding: 1px 16px;
  border: 1px solid #d8d8d8;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-size: 100%;
  color: #707070;
  text-align: center;
  vertical-align: middle;
}
.opt01:hover, .opt01.selected {
  padding: 0 15px;
  border: 2px solid #ff4e50;
  background: url(../images/i_selected.png) right bottom no-repeat;
  text-decoration: none;
}

/*form elements*/
.form-item01 {
  font-size: 14px;
}
.form-item02 {
  position: relative;
  margin-bottom: 15px;
  font-size: 16px;
}
.label01 {
  display: inline-block;*display: inline;zoom: 1;
  width: 7em;
  margin-right: .2em;
  text-align: right;
}
.label02 {
  display: inline-block;*display: inline;zoom: 1;
  width: 5em;
  line-height: 36px;
  text-align: right;
  vertical-align: top;
}
body .inp-txt01, body .inp-txt03, .textarea01 {
  -webkit-transition: border-color, box-shadow ease-in-out 0.15s;
  transition: border-color, box-shadow ease-in-out 0.15s;
}
body .inp-txt01 {
  width: 70%;
  height: auto;
  padding: 10px;
  background: #ffffff;
  border: 1px solid #d3d3d3;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  font-size: 16px;
}
body .inp-txt01:focus, body .inp-txt03:focus, .textarea01:focus {
  border-color: #66afe9;
  outline: 0;
}
body .inp-txt01:focus, .textarea01:focus {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
body .inp-txt01-2 {
  width: 10em;
}
.login-box .inp-txt01 {
  display: block;
  width: 100%;
}
.login-box .inp-acc, .login-box .inp-pw {
  padding-left: 35px;
}
.login-box .inp-acc {
  background: #fff url(../images/i_inp_acc.png) 8px 50% no-repeat;
}
.login-box .inp-pw {
  background: #fff url(../images/i_inp_pw.png) 8px 50% no-repeat;
}
body .inp-txt02 {
  width: 45%;
  height: 25px;
  line-height: 25px;
  padding: 3px 4px;
  border: 1px solid #d3d3d3;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size: 14px;
}
body .inp-txt03, .select01, .textarea01 {
  padding: 3px 5px;
  border: 1px solid #dedede;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
body .inp-txt03 {
  width: 15em;
  height: 24px;
  line-height: 24px;
}
body .inp-txt03_2 {
  width: 2.8em;
  height: 19px;
  line-height: 19px;
  margin: 0 10px;
  padding: 2px 3px;
  font-size: 13px;
  text-align: center;
}
body .inp-txt03_3 {
  width: 10em;
}
.select01 {
  max-width: 10em;
  height: 32px;
}
.select01-2 {
  width: 9em;
}
.select01-3 {
  max-width: 11.93em;
}
.datetimePicker {
  position: relative;
}
.datetimePicker .inp-txt03 {
  padding-right: 25px;
}
.datetimePicker .i-date {
  position: absolute;
  right: 6px;
  top: 50%;
  margin-top: -7px;
  cursor: pointer;
}
.inp-cheB01 {
  margin-top: 2px;
}
.inp-file01 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  filter: alpha(opacity=0);
  cursor: pointer;
}
.textarea01 {
  width: 68%;
  height: 5em;
}
.sec-personalInfo .textarea01 {
  margin-left: 113px;
}
.pwIntensity {
  position: absolute;
  top: 0;
  left: 100%;
  margin-left: -20px;
  margin-top: 8px;
  white-space: nowrap;
}
.pwIntensity .level {
  display: inline-block;*display: inline;zoom: 1;
  height: 30px;
  line-height: 30px;
  padding: 0 1.5em;
  background: #eee;
  border-right: 1px solid #fff;
  font-size: 14px;
  vertical-align: top;
  letter-spacing: 0;
  *margin-left: -1px
}
.pwIntensity .level.ko {
  color: #ffffff;
}
.pwIntensity .lev-weak.ko {
  background: #ffcb72;
}
.pwIntensity .lev-mid.ko {
  background: #ffab6b;
}
.pwIntensity .lev-strong.ko {
  background: #ff756b;
}

/*footer*/
.footer {
  font-size: 12px;
  color: #666666;
  text-align: center;
}
.login .footer {
  color: #fff;
}
.footer .container {
  padding: 15px 0 20px;
  border-top: 1px solid #d8d8d8;
}
.footer .container.bdt0, .login .footer .container {
  border-top: 0;
}
.login .footer .container {
  padding: 10px 0;
}
.footer .gap-line01 {
  top: -1px;
  height: 11px;
}
.login .footer a {
  color: #ffffff;
}

/*thickbox*/
.mask, .thickbox {
  display: none;
  position: fixed;
}
.mask {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 900;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: .5;
  filter: alpha(opacity=50);
  _position: absolute;
}
.thickbox {
  top: 50%;
  left: 50%;
  margin: -100px 0 0 -300px;
  z-index: 999;
  width: 550px;
  overflow: hidden;
  background: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  _position: absolute;
}
.thickbox .close {
  position: absolute;
  top: 13px;
  right: 13px;
  width: 30px;
  height: 30px;
  line-height: 28px;
  border: 2px solid #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
}
.thickbox .close:hover {
  background: #ffffff;
  color: #fe4e50;
  text-decoration: none;
}
.thickbox .notice-bar {
  padding: .4em 1.6em .4em .4em;
  background: #fe4e50;
  font-size: 30px;
  line-height: 1.2;
  color: #ffffff;
  text-align: center;
}
.thickbox .cont {
  padding: 1.5em 2em;
  font-size: 16px;
}
/*========== site public styles end ==========*/


/*========== specific pages' styles start ==========*/
/* login */
.login {
  height: auto !important;
  height: 100%;
  min-height: 100%;
  background: url(../images/bg_login.jpg) 50% 50% no-repeat;
}
@media screen and (min-height: 790px) {
  .login {
    -webkit-background-size: cover;
    background-size: cover;
  }
}
@media screen and (min-width: 1921px) {
  .login {
    -webkit-background-size: cover;
    background-size: cover;
  }
}
/*login-box*/
.login-box {
  position: relative;
  width: 325px;
  margin: 6% 2em 5% 0;
}
.login-box .bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  background: #ffffff;
  opacity: .8;
  filter: alpha(opacity=80);
  -webkit-border-radius: .5em;
  -moz-border-radius: .5em;
  border-radius: .5em;
}
.login-box .cont {
  position: relative;
  z-index: 300;
  padding: 1em 1.8em;
  color: #707070;
}
.login-heading {
  margin: .8em 0;
  font-size: 18px;
}
.verifyCode {
  position: relative;
}
.switchCode {
  position: absolute;
  left: 0;
  bottom: -28px;
  width: 100%;
  line-height: 18px;
  color: #6a3906;
  text-align: center;
}
.toRegis {
  color: #00b7ee;
}

/* slide */
.slide-main {
  position: relative;
}
.slide-main .prev, .slide-main .next {
  position: absolute;
  top: 50%;
  margin-top: -30px;
  z-index: 222;
  width: 60px;
  height: 60px;
  overflow: hidden;
  background: url(../images/bg_icons_n.png) 0 -132px no-repeat;
  -webkit-transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  transition: opacity .2s ease-in-out;
  cursor: pointer;
  opacity: 0.6;
  -moz-opacity: 0.6;
  filter: alpha(opacity=60);
}
.slide-main .prev {
  left: 70px;
}
.slide-main .next {
  right: 70px;
  background-position: -71px -132px;
}
.slide-main .prev:hover, .slide-main .next:hover, .nav-main a:hover, .nav-main a.cur {
  opacity: 1;
  -moz-opacity: 1;
  filter: alpha(opacity=100);
  text-decoration: none;
}
.slide-main .item {
  position: absolute;
  left: 0;
  bottom: 1.5em;
  z-index: 124;
  width: 100%;
  height: 5px;
  text-align: center;
}
.slide-main .item a {
  display: inline-block;*display: inline;zoom: 1;
  width: 24px;
  height: 5px;
  overflow: hidden;
  margin-right: 11px;
  background: #444;
  opacity: 0.4;
  -moz-opacity: 0.4;
  filter: alpha(opacity=40);
}
.slide-main .item a.cur {
  background: #fff;
}
.slide-box, .slide {
  width: 100%;
  height: 464px;
  overflow: hidden;
}
.slide-box {
  position: relative;
}
.slide {
  display: none;
  position: absolute;
  z-index: 8;
  background: #ff6900;
}
.slide1 {
  background: url(../images/slide1_bg.jpg) center 0 no-repeat;
  text-align: center;
}
.slide2 {
  background: url(../images/slide2_bg.jpg) center 0 no-repeat;
  text-align: center;
}
.slide a {
  display: block;
  width: 100%;
  cursor: pointer;
}
.my-qrcode {
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -97px;
  padding: 15px 15px 5px;
  background: #ffffff;
  -webkit-animation: fadeIn 1.5s ease-in-out;
  -moz-animation: fadeIn 1.5s ease-in-out;
  animation: fadeIn 1.5s ease-in-out;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
}
@-webkit-keyframes fadeIn { from { opacity: 0; } to { opacity: 1; } }
@-moz-keyframes fadeIn { from { opacity: 0; } to { opacity: 1; } }
@keyframes fadeIn { from { opacity: 0; } to { opacity: 1; } }
.my-qrcode img {
  width: 142px;
  height: 142px;
}

/*sec-notice*/
.sec-notice {
  padding: 1.5em 0;
  background: #f4f4f4;
}
.notice-list {
  max-width: 70%;
  overflow: hidden;
}

/*tab-nav*/
.tab-nav .tab-item {
  position: relative;
  display: inline-block;*display: inline;zoom: 1;
  width: auto !important;
  width: 6em;
  min-width: 6em;
  height: 32px;
  line-height: 32px;
  padding: 0 1.5em;
  border: 1px solid #eee;
  -webkit-transition: all .1s ease-in-out;
  -moz-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
  font-size: 14px;
  color: #888;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  letter-spacing: 0;
  *margin-left: -1px;
}
.tab-nav .tab-item:first-child {
  -webkit-border-radius: 5px 0 0 5px;
  -moz-border-radius: 5px 0 0 5px;
  border-radius: 5px 0 0 5px;
}
.tab-nav .tab-item:last-child {
  -webkit-border-radius: 0 5px 5px 0;
  -moz-border-radius: 0 5px 5px 0;
  border-radius: 0 5px 5px 0;
}
.tab-nav .tab-item.cur, .tab-nav .tab-item:hover {
  background: #ff9900;
  border-color: #ff9900;
  color: #ffffff;
}
.tab-nav .tab-item:hover {
  text-decoration: none;
}
.tab-nav .tab-item.sortable {
  padding-right: 2em;
}
/*tab-nav02*/
.tab-nav02 {
  position: relative;
  top: -3px;
  border-bottom: 1px solid #d8d8d8;
}
.tab-nav02 .tab-item {
  line-height: 36px;
  display: inline-block;*display: inline;zoom: 1;
  padding: 0 1.5em;
  font-size: 16px;
  color: #555555;
  vertical-align: bottom;
}
.tab-nav02 .tab-item:hover, .tab-nav02 .tab-item.cur {
  position: relative;
  top: 3px;
  border-bottom: 3px solid #00b7ee;
  color: #00b7ee;
  text-decoration: none;
}

/*goods-list*/
.goods-list .goods-item {
  display: inline-block;*display: inline;zoom: 1;
  width: 32%;
  margin: 0 .6% 2%;
  overflow: hidden;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: box-shadow .2s ease-in-out;
  -moz-transition: box-shadow .2s ease-in-out;
  transition: box-shadow .2s ease-in-out;
  font-size: 14px;
  line-height: 1.3;
  color: #707070;
  vertical-align: middle;
  letter-spacing: 0;
  *margin-left: -1px;
}
.goods-list .goods-item .part-1 {
  display: block;
  border: solid #e3e3e3;
  border-width: 1px 1px 0;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  -webkit-transition: border-color .2s ease-in-out;
  -moz-transition: border-color .2s ease-in-out;
  transition: border-color .2s ease-in-out;
  color: #707070;
}
.goods-list .goods-item:hover {
  -webkit-box-shadow:  0 0 8px rgba(0,0,0,.1);
  -moz-box-shadow:  0 0 8px rgba(0,0,0,.1);
  box-shadow:  0 0 8px rgba(0,0,0,.1);
}
.goods-list .goods-item .part-1:hover {
  border-color: #d1d1d1;
  text-decoration: none;
}
.goods-list .goods-pic {
  height: 266px;
  padding: .8em;
  text-align: center;
}
.goods-list .goods-info {
  position: relative;
  height: 91px;
  overflow: hidden;
  padding: .8em 2em;
  border-top: 1px solid #e3e3e3;
}
.goods-list .goods-info del {
  font-size: 12px;
}
.goods-list .goods-name, .goods-fanli {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.goods-list .goods-name {
  margin-bottom: 2px;
  font-size: 16px;
}
.goods-fanli {
  position: absolute;
  right: 10px;
  bottom: 6px;
  width: 54px;
  height: 35px;
  line-height: 35px;
  padding: 42px 2px 0;
  background: url(../images/fanli_bg1.png) 0 0 no-repeat;
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
}
.goods-fanli-2 {
  padding-top: 44px;
  font-size: 15px;
  line-height: 1.1;
  white-space: pre-wrap;
}

/*breadcrumb*/
.breadcrumb {
  margin-bottom: 15px;
  padding-bottom: 5px;
  border-bottom: 1px solid #dedede;
  font-size: 14px;
  color: #626262;
}

/* sec-goodsDe */
/*goods-pics*/
.goods-pics {
  float: left;
  width: 350px;
  padding: 0 25px 15px 0;
}
.goods-preview {
  width: 350px;
  height: 350px;
  border: 1px solid #dfdfdf;
}
.previewImg {
  position: relative;
  margin: 0;
  padding: 0;
  /*cursor: pointer;*/
}
.spec-scroll {
  position: relative;
  clear: both;
  width: 352px;
  margin-top: 5px;
}
.spec-scroll .items {
  position: relative;
  top: 6px;
  left: 16px;
  float: left;
  width: 322px;
  height: 62px;
  overflow: hidden;
}
.spec-scroll .goods-piclist {
  position: absolute;
  width: 1000px;
  height: 56px;
  margin: 0 auto;
}
.goods-piclist li {
  float: left;
  width: 64px;
  text-align: center;
}
.goods-piclist li img {
  width: 50px;
  height: 50px;
  padding: 2px;
  border: 1px solid #d8d8d8;
}
.goods-piclist li img.hover, .goods-piclist li img:hover {
  border: 2px solid #FF6600;
  padding: 1px;
}
.goods-piclist a:hover {
  background-color: #cccccc;
  color: #ffffff;
  text-decoration: none;
}
.spec-scroll .prev, .spec-scroll .next {
  position: absolute;
  top: 6px;
  width: 10px;
  height: 54px;
  line-height: 54px;
  background: #ebebeb;
  border: 1px solid #d8d8d8;
  cursor: pointer;
  font-family: "宋体";
  color: #666;
  text-align: center;
  text-decoration: none;
}
.spec-scroll .prev:hover, .spec-scroll .next:hover {
  background: #f3f3f3;
  text-decoration: none;
}
.spec-scroll .prev {
  left: 0;
  margin-right: 4px;
}
.spec-scroll .next {
  right: 0;
}
/*goods-opt-de*/
.goods-opt-de {
  float: right;
  width: 560px;
  margin-right: 10px;
  padding-bottom: 15px;
  font-size: 12px;
}
.goods-name-wrap {
  padding-bottom: 8px;
  border-bottom: 1px dashed #ccc;
  color: #434343;
}
.goods-opt-de .goods-name {
  padding-bottom: 5px;
  font-size: 24px;
  line-height: 1.2;
  font-weight: 700;
  color: #333333;
}
.price-wrap {
  padding-bottom: 8px;
  border-bottom: 1px dashed #ccc;
  font-size: 16px;
  line-height: 1.3;
  color: #888888;
}
.price-wrap del {
  font-size: 14px;
  color: #aaaaaa;
}
.price-wrap .goods-fanli {
  position: static;
  margin-left: 15px;
}
.goods-opts {
  padding: 10px 0;
  border-bottom: 1px dashed #ccc;
}
.goods-opts table {
  width: 100%;
}
.goods-opts td {
  padding: 5px 2px;
  font-size: 14px;
  color: #707070;
}
.goods-opts td.td01 {
  width: 5em;
  text-align: right;
}
/*goodsInfo-con*/
.goodsInfo-con {
  clear: both;
  border: 1px solid #e6e6e6;
}
.goodsDe-nav {
  position: relative;
  z-index: 800;
  width: 962px;
  overflow: hidden;
  margin: 0 auto;
  padding-left: 36px;
  background-color: #e6e6e6;
}
.goodsDe-nav .nav-item {
  float: left;
  width: auto !important;
  width: 6em;
  min-width: 6em;
  line-height: 38px;
  padding: 0 1.5em;
  background: #00b7ee;
  font-size: 14px;
  color: #fff;
  text-align: center;
}
.goodsDe-nav .nav-item:hover, .goodsDe-nav .nav-item.curr {
  background-color: #0383a9;
  font-weight: 700;
  text-decoration: none;
}
.goods-description {
  background: #f4f4f4;
}
.goodsInfo-de .cont {
  padding: 10px 15px;
}
.purchaRec_con {
  width: 100%;
}
.purchaRec_con th, .purchaRec_con td {
  padding: 5px 8px;
  font-size: 12px;
  color: #464646;
  text-align: center;
}
.purchaRec_con th {
  border-bottom: 1px solid #c2c2c2;
  color: #333333;
}
.goodsDe .price {
  font-size: 18px;
  color: #e85f3b;
}
.paging_wrap {
  margin-top: 6px;
  text-align: right;
}
.paging_wrap a {
  padding: 0 2px;
  font-size: 12px;
  color: #636363;
}
.paging_wrap a:hover, .paging_wrap a:active, .paging_wrap a.curr {
  color: #e85f3b;
}
.paging_wrap a.curr {
  font-weight: 700;
  text-decoration: none;
}

/*sec-operation*/
.sec-operation {
  margin-bottom: 10em;
}
.operInfo-item {
  display: inline-block;*display: inline;zoom: 1;
  width: 22%;
  overflow: hidden;
  margin: 10px 4px;
  padding: .5em 1%;
  border: 1px solid #47cbf3;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-size: 18px;
  color: #707070;
  vertical-align: top;
  letter-spacing: 0;
  *margin-left: -1px
}
.operInfo-item .tit {
  margin-bottom: 10px;
  padding-bottom: 4px;
  border-bottom: 1px dashed #a3ddf7;
  font-size: 24px;
  color: #707070;
  text-align: center;
}
.operInfo-item .cont {
  position: relative;
  display: table;
  width: 100%;
  height: auto !important;
  height: 8em;
  min-height: 8em;
}
.operInfo-item .cont .inner-wrap {
  display: table-cell;
  width: 100%;
  vertical-align: middle;
}
@-moz-document url-prefix() {
  .operInfo-item .cont .inner-wrap {
    height: 8em!important;
  }
}

/* section01 */
/*sub-section*/
.sub-section {
  display: none;
  background: #ffffff;
}
.sub-section .cont, .sub-section02 .cont {
  width: 55%;
  margin: 2em auto 3em;
  font-size: 14px;
  color: #707070;
}
.sub-section02 .cont-2 {
  width: auto;
  text-align: center;
}
.sec-personalInfo {
  padding: 1% 0;
}
.sec-changePw {
  padding: 5% 0;
}
.sec-qrCard {
  padding-top: 1em;
}
.qrCard-list {
  padding: 2.5em 0;
  font-size: 14px;
  color: #707070;
  text-align: center;
}
.qrCard-item {
  display: inline-block;*display: inline;zoom: 1;
  max-width: 22%;
  margin: .5em 1.5%;
  overflow: hidden;
}
.qrCard-item .btn01-5 {
  height: 36px;
  line-height: 36px;
}

/*data-list*/
.data-list {
  width: 100%;
  font-size: 14px;
  color: #707070;
  text-align: center;
}
.data-list .frozen {
  color: #00b7ee;
}
.data-list .even {
  background: #fafafa;
}
.data-list th, .data-list td {
  padding: .6em 5px;
  border: 1px solid #dedede;
}
.data-list th {
  background: #efefef;
}
.data-list td {
  font-size: 13px;
}
.data-list-2 {
  font-size: 13px;
}
.data-list-2 td {
  font-size: 12px;
}
.data-list .nowrap {
  white-space: nowrap;
}
/*paging*/
.paging, .paging .page-item {
  font-size: 13px;
  line-height: 25px;
  color: #777;
}
.paging .page-item {
  display: inline-block;*display: inline;zoom: 1;
  margin-right: 5px;
  padding: 1px 5px;
}
.paging .page-item:hover, .paging .page-item.curr {
  font-weight: 700;
  color: #00b7ee;
  text-decoration: none;
}

/*table01*/
.table01 {
  width: 100%;
  font-size: 16px;
  color: #707070;
  text-align: center;
}
.table01 th, .table01 td {
  padding: .5em;
  border: 1px solid #44caf3;
}
.table01 th {
  background: #f2f2f2;
}
.table01 td .part-l, .table01 td .part-r, .table01 td .part-m {
  display: inline-block;*display: inline;zoom: 1;
  padding: .3em 0;
  vertical-align: middle;
}
.table01 td .part-l, .table01 td .part-r {
  width: 48%;
}
.table01 td .part-l, .table01-2 td .part-m {
  border-right: 1px dashed #b0e1f8;
}
.table01-2 td .part-l, .table01-2 td .part-m, .table01-2 td .part-r {
  width: 30%;
}

/*tooltip*/
.hasTip {
  display: inline-block;*display: inline;zoom: 1;
}
.tooltip {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 800;
  min-width: 80px;
  padding: .3em .5em;
  background: #ffffff;
  border: 1px solid #00b7ee;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-size: 15px;
  line-height: 1.8;
  text-align: left;
}
.tooltip .num {
  margin-left: 5px;
  color: #00b7ee;
}

.para01 {
  padding: 1em;
  background: #f5f5f5;
  font-size: 16px;
  line-height: 32px;
  color: #707070;
}

/*sec-orderDe*/
.sec-orderDe {
  font-size: 14px;
  color: #707070;
}
.sec-orderDe .title {
  padding-bottom: .3em;
  font-size: 16px;
  color: #555555;
}
.sec-orderDe .cont {
  border: 1px solid #eee;
}
.sec-orderDe .cont .grid {
  padding: 1em 1.5em;
  border-bottom: 1px solid #eee;
}
.sec-orderDe .cont .grid:last-of-type, .sec-orderDe .cont .grid.last {
  border-bottom: 0;
}
.sec-orderDe .grid .wrap {
  padding: 0 1em;
}
.sec-orderDe .cont p {
  padding-bottom: 1em;
}
/*table02*/
.table02 {
  display: inline-table;
}
.table02 th, .table02 td {
  padding: .5em 1em;
  border: 1px solid #f2f2f2;
  text-align: center;
}
.table02 th {
  background: #f2f2f2;
}

/*grid*/
.grid {
  letter-spacing: -0.31em; /* Webkit: collapse white-space between units */
  *letter-spacing: normal; /* reset IE < 8 */
  *word-spacing: -0.43em; /* IE < 8: collapse white-space between units */
  font-family: FreeSans, Arimo, "Droid Sans", Helvetica, Arial, sans-serif;
  text-rendering: optimizespeed; /* Webkit: fixes text-rendering: optimizeLegibility */
}
*:-o-prefocus, .grid {
  word-spacing: -0.43em;
}
.grid-1-2, .grid-1-3, .grid-2-3, .grid-1-4, .grid-2-4 {
  display: inline-block;*display: inline;zoom: 1;
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
  font-family: \5FAE\8F6F\96C5\9ED1, Arial, sans-self;
  text-rendering: auto;
}
.grid-1-2, .grid-2-4 {
  width: 50%;
}
.grid-1-3 {
  width: 33.3333%;
}
.grid-2-3 {
  width: 66.6667%;
}
.grid-1-4 {
  width: 25%;
}
/*========== specific pages' styles end ==========*/