@charset "utf-8";

/*=============== reset styles start ===============*/
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box
}
html, body {
  overflow-x: hidden;
  -webkit-user-select: none; /* 禁止选中文本（如无文本选中需求，此为必选项） */
  user-select: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #434343;
}
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 62.5%; /* 10 ÷ 16 × 100% = 62.5% */
}
body, h1, h2, h3, h4, h5, h6, dl, dd, ul, ol, fieldset, input, textarea, p, blockquote, hr, button, pre, details, figcaption, figure, hgroup, menu {
  margin: 0;
}
body, label, button, input, select, option, textarea, fieldset, legend {
  font: 1.2rem/1.5 "Helvetica Neue", Helvetica, STHeiti, \5FAE\8F6F\96C5\9ED1, sans-serif;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, main {
  display: block;
}
audio, canvas, video, progress {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) { display: none; height: 0; }
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: 500; }
ol, ul { padding-left: 0; list-style: none outside none; }
table {
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
}
caption, em, i, th { font-style: normal; }
a, img {
  -webkit-touch-callout: none; /* 禁止长按链接与图片弹出菜单 */
}
a {
  background: transparent; /*Remove the gray background color from active links in IE 10.*/
  color: #434343;
  line-height: inherit;
}
a:active {
  text-decoration: underline;
  outline: 0
}
ins, a, [class^="btn"]:active {
  text-decoration: none;
}
a, button, select, input[type="button"], input[type="reset"], input[type="submit"], input[type="file"]::-webkit-file-upload-button, input[type="radio"], input[type="checkbox"], input[type="radio"] + label, input[type="checkbox"] + label {
  cursor: pointer;
}
label, input, select, textarea {
  font-size: 100%;
}
label, input, select, button {
  vertical-align: middle;
}
button, select {
  text-transform: none;
}
button, input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
}
button, input[type="button"], input[type="reset"], input[type="submit"], input[type="text"], input[type="search"], input[type="password"] {
  border: 0;
  outline: 0;
}
input {
  line-height: normal;
}
input[type="radio"], input[type="checkbox"] {
  padding: 0;
}
input[type="text"], input[type="password"], input[type="search"], select, textarea {
  padding: 3px 4px;
}
input[type="text"], input[type="password"], textarea {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
input[type="search"] {
  -webkit-appearance: textfield;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input::-moz-focus-inner, button::-moz-focus-inner {
  /* Remove inner padding and border in Firefox 4+. */
  padding: 0;
  border: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
  resize: none;
}
:focus { outline: 0; }
[disabled] { cursor: default; }
img {
  max-width: 100%;
  border: 0;
  vertical-align: middle;
}
abbr[title] { border-bottom: 1px dotted; }
dfn { font-style: italic; }
mark { background: #ff0; color: #000; }
pre {
  overflow: auto;
  /*white-space: pre;*/
  white-space: pre-wrap;
  word-wrap: break-word;
}
small { font-size: 80% }
q:before, q:after { content: ''; }
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup { top: -0.5em; }
sub { bottom: -0.25em; }
svg:not(:root) { overflow: hidden; }
/*=============== reset styles end ===============*/


/*=============== site's common styles start ===============*/
body .hide, [hidden] { display:none; }
body .left { float:left; }
body .right { float:right; }
/* 清理浮动 */
.clearfix:before, .clearfix:after { content: ""; display: table }
.clearfix:after { clear: both }
/* 清除inline-block元素的间隙 */
.clearInlGap {
  /*应用于inline-block元素的父元素。
  inline-block元素本身需设置letter-spacing: normal、word-spacing: normal、vertical-align以及text-rendering: auto*/

  letter-spacing: -0.31em; /* Webkit: collapse white-space between units */
  font-family: FreeSans, Arimo, "Droid Sans", Helvetica, "Microsoft YaHei";
  text-rendering: optimizespeed; /* Webkit: fixes text-rendering: optimizeLegibility */
}
noindex:-o-prefocus, .clearInlGap {
  word-spacing: -0.43em;
}
body .let-sp0 { letter-spacing: 0; }

body .pos-r { position: relative; }
body .pos-a { position: absolute; }
body .pos-f { position: fixed; }
body .d-b { display: block; }
body .d-inB { display: inline-block; }
body .wd-full { width: 100%; }
body .ht-full { height: 100%; }
body .vt { vertical-align: top; }
body .vm { vertical-align: middle; }
body .vb { vertical-align: bottom; }
body .tAl { text-align: left; }
body .tAc { text-align: center; }
body .tAr { text-align: right; }
body .fz12 { font-size: 1.2rem; }
body .fz13 { font-size: 1.3rem; }
body .fz14 { font-size: 1.4rem; }
body .fz15 { font-size: 1.5rem; }
body .fz16 { font-size: 1.6rem; }
body .fz18 { font-size: 1.8rem; }
body .fz20 { font-size: 2rem; }
body .fz36 { font-size: 3.6rem; }
body .bold { font-weight: 700; }
body .tInd2em { text-indent: 2em; }
body .tEllipsis {
  /*单行文本超出省略*/
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
body .box {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
body .mt5 { margin-top: 5px; }
body .mt2p { margin-top: 2%; }
body .mt3p { margin-top: 3%; }
body .mr5 { margin-right: 5px; }
body .mr10 { margin-right: 10px; }
body .mr2p { margin-right: 2%; }
body .mr3p { margin-right: 3%; }
body .mb5 { margin-bottom: 5px; }
body .mb2p { margin-bottom: 2%; }
body .mb3p { margin-bottom: 3%; }
body .ml2p { margin-left: 2%; }
body .ml3p { margin-left: 3%; }
body .pt5 { padding-top: 5px; }
body .pt10 { padding-top: 10px; }
body .pt25 { padding-top: 25px; }
body .pt2p { padding-top: 2%; }
body .pt3p { padding-top: 3%; }
body .pt5p { padding-top: 5%; }
body .pb5 { padding-bottom: 5px; }
body .pb15 { padding-bottom: 15px; }
body .pb2p { padding-bottom: 2%; }
body .pb3p { padding-bottom: 3%; }
body .pl3p { padding-left: 3%; }
/*=============== site's common styles end ===============*/


/*========== pages' public styles start ==========*/
.bg-gray {
  background: #eeeeee;
}
.bg-lightGray {
  background: #f6f6f6;
}
.bg-white {
  background: #ffffff;
}
.has-footbar {
  padding-bottom: 71px;
}
body .c01 { color: #c90000; }
body .c02 { color: #1d70c6; }
body .c03 { color: #ff4e50; }
body .c04 { color: #996c33; }
.i-callOut, .i-location, .i-calendar {
  display: inline-block;
  vertical-align: middle;
  background: url(../images/sprites.png) 0 0 no-repeat;
}
.i-callOut {
  width: 24px;
  height: 24px;
  margin-right: .1em;
  background-position: 0 -34px;
  -webkit-background-size: 200px auto;
  background-size: 200px auto;
}
.i-location {
  width: 11px;
  height: 16px;
  background-position: -117px 0;
  -webkit-background-size: 150px auto;
  background-size: 150px auto;
}
.i-calendar {
  width: 16px;
  height: 15px;
  background-position: -133px 0;
  -webkit-background-size: 150px auto;
  background-size: 150px auto;
}

/*headers & titles*/
.header {
  padding: .5em 2% .5em 0;
  background: #48a0dc;
  font-size: 1.6rem;
  line-height: 36px;
  color: #ffffff;
}
.tele-logo {
  display: inline-block;
  width: 80px;
  height: 39px;
  background: url(../images/tele_logo.png) 0 50% no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
}

/*buttons & links*/
.btn-wrap01 {
  padding: .8em 0;
  text-align: center;
}
.btnQueryOrder {
  display: inline-block;
  padding: .2em .35em;
  background: #5baae0;
  border: 1px solid #a4d0ee;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-size: 1.4rem;
  line-height: 1.2;
  color: #ffffff;
  text-align: center;
}
.header .btnQueryOrder {
  float: right;
}
.btnQueryOrder:active {
  background: #5eb6f2;
}
.btnQueryOrder::before {
  content: "";
  display: inline-block;
  width: 23px;
  height: 22px;
  background: url(../images/sprites.png) 0 0 no-repeat;
  -webkit-background-size: 180px auto;
  background-size: 180px auto;
  vertical-align: middle;
}
.btnQueryOrder .btn-txt {
  display: inline-block;
  width: 2.2em;
  margin-left: .1em;
  vertical-align: middle;
  letter-spacing: 1px;
}
.btnLjdg {
  display: inline-block;
  height: 50px;
  line-height: 45px;
  padding: 0 1em;
  background: #ff4e50;
  border-bottom: 5px solid #c23b3d;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  font-size: 2rem;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
}
.btnLjdg:active {
  background: #f84143;
}
.btnLjdg.false, .btnLjdg.false:active {
  background: #999;
  border-bottom-color: #777;
  cursor: default;
}
.buybtn .btnLjdg {
  width: 12em;
}
.btn01 {
  display: block;
  height: 2.8em;
  line-height: 2.8;
  background: #348fcd;
  -webkit-border-radius: 8px 8px 0 0;
  -moz-border-radius: 8px 8px 0 0;
  border-radius: 8px 8px 0 0;
  font-size: 1.6rem;
  color: #ffffff;
  text-align: center;
}
.footer .btns .btn01 {
  width: 90%;
  margin: 0 auto;
}
.btn01:active {
  background: #2884c3;
}
.btnHome::before, .btnToTop::before {
  content: "";
  display: inline-block;
  margin-right: .3em;
  background: url(../images/sprites.png) 0 0 no-repeat;
  -webkit-background-size: 200px auto;
  background-size: 200px auto;
  vertical-align: middle;
}
.btnHome::before {
  position: relative;
  top: -3px;
  width: 28px;
  height: 24px;
  background-position: -32px -34px;
}
.btnToTop::before {
  position: relative;
  top: -1px;
  width: 26px;
  height: 27px;
  background-position: -68px -32px;
}
.btn02 {
  display: inline-block;
  padding: 0 .5em;
  background: #48a0dc;
  border-bottom: 3px solid #2788ca;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-size: 1.5rem;
  line-height: 2.1;
  color: #ffffff;
  text-shadow: 1px 1px 3px #2788ca;
}
.btn02:active {
  background: #3993d1;
}
.btn02-2 {
  width: 100%;
  max-width: 200px;
  background: #ff4e50;
  border-color: #d94244;
  -webkit-box-shadow:  0 2px 0 0 rgba(0,0,0,.1);
  -moz-box-shadow:  0 2px 0 0 rgba(0,0,0,.1);
  box-shadow:  0 2px 0 0 rgba(0,0,0,.1);
  text-shadow: 1px 1px 3px #ef3a3c;
}
.btn02-2:active {
  background: #ef3a3c;
}
.btn03 {
  display: inline-block;
  height: 36px;
  line-height: 36px;
  padding: 0 2em;
  background: #f87601;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-size: 1.6rem;
  color: #ffffff;
  text-align: center;
  vertical-align: middle;
}
.btn03:active {
  background: #ff891e;
}

/*form elements*/
.form-item01 {
  margin-bottom: 15px;
  font-size: 1.5rem;
}
.label01 {
  font-weight: 700;
  vertical-align: middle;
}
body .inp-txt01{
  width: 11em;
  height: 33px;
  line-height: 33px;
  padding: 2px 4px;
  border: 1px solid #cecece;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
body .inp-txt02 {
  display: block;
  width: 90%;
  margin: .5em auto;
  border: 1px solid #dedede;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  font-size: 1.6rem;
  line-height: 2.1;
  text-align: center;
}
body .inp-txt02:focus {
  -webkit-box-shadow:  0 0 8px rgba(0,0,0,.08);
  -moz-box-shadow:  0 0 8px rgba(0,0,0,.08);
  box-shadow:  0 0 8px rgba(0,0,0,.08);
}
.select01 {
  width: 64%;
  height: 36px;
  border: 1px solid #dedede;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  vertical-align: middle;
}

/*grid*/
.grid {
  letter-spacing: -0.31em; /* Webkit: collapse white-space between units */
  font-family: FreeSans, Arimo, "Droid Sans", Helvetica, "Microsoft YaHei", sans-serif;
  text-rendering: optimizespeed; /* Webkit: fixes text-rendering: optimizeLegibility */
}
noindex:-o-prefocus, .grid {
  word-spacing: -0.43em;
}
.grid-1-2, .grid-1-3, .grid-2-3, .grid-1-4, .grid-2-4, .grid-1-5, .grid-2-5, .grid-3-5, .grid-4-5 {
  display: inline-block;
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
  text-rendering: auto;
  /*font-family: \5FAE\8F6F\96C5\9ED1, sans-self;*/
}
.grid-1-2, .grid-2-4 {
  width: 50%;
}
.grid-1-3 {
  width: 33.3333%;
}
.grid-2-3 {
  width: 66.6667%;
}
.grid-1-4 {
  width: 25%;
}
.grid-1-5 {
  width: 20%;
}
.grid-2-5 {
  width: 40%;
}
.grid-3-5 {
  width: 60%;
}
.grid-4-5 {
  width: 80%;
}

/*footer*/
.footer {
  position: relative;
  margin-top: 3.5em;
  background: #48a0dc;
  font-size: 1.6rem;
  color: #fff;
  text-align: center;
}
.footer .btns {
  position: absolute;
  right: 0;
  bottom: 100%;
  left: 0;
}
.footer .cont {
  padding: 15px 3%;
}
.footer .txt {
  padding: 8px 0;
  background: #348fcd;
  font-size: 1.2rem;
}

/*弹框*/
.c_tips{position:fixed;width:92%;background:#fff;left:4%;top:5%;border-radius:6px;-webkit-border-radius:6px;-moz-border-radius:6px; z-index:2000; max-height: 460px;overflow: auto;}
.c_tips_tit{ background: #eee;padding:8px;border-bottom:1px solid #e0e0e0;border-top-left-radius:6px;border-top-right-radius:6px;}
.c_tips_tit em { display: inline-block; }
.c_tips_tit h2 { font-size: 16px;color: #c60000; line-height: 36px;}
.c_tips_tit h2.ico {background:url(../images/ico_mb.png) no-repeat 10px 50%; background-size: 21px auto; padding-left: 35px;}
.c_tips_tit h3 { font-size: 12px; color: #c60000;}
.c_tips_tit h3.ico {background:url(../images/ico_tan.png) no-repeat 10px 50%; background-size: 10px auto; padding-left: 35px;}
.c_tips_cont{ padding:10px; }
.c_tips_cont .sort_bar { padding: 0 10px 10px 10px; border-bottom:1px dotted #cbcbcb; font-size: 14px; margin-bottom: 15px;}
.c_tips_cont .c_note { color: #858585; font-size: 12px; padding: 10px 0;}
.tel_list { overflow-y: auto; }
.tel_list li { display: inline-block; width: 47%; font-size: 14px; margin: 0 1% 10px; vertical-align: middle;}
.tel_list li a { display: block; border: 1px solid #dedede; border-radius: 3px; background: #f2f2f2; padding: 5px 10px;}
.tel_list li a.sel { background: #f87601; border: 1px solid #f87601;color: #fff;}
.your_tel { background: #fff9e6;  border: 3px solid #c60000; }
.your_tel h3 { font-size: 14px; border-bottom:1px dotted #cbcbcb;padding: 5px; text-align: center; margin-bottom: 10px;}
.your_tel p { padding: 6px 10px; font-size: 14px; line-height:24px;}
.c_tbtn { text-align: center; padding: 5px 0 15px 0;}
.c_tbtn a { margin: 0 5px;}
.cbtn_red { display: inline-block; border-radius: 5px; min-width: 120px; height: 38px; line-height: 38px; text-align: center;color: #fff; font-size: 16px;border: 1px solid #df4245;background: #ea4e50; padding: 0 .8em; }
.cbtn_red:active { background: #f35b5d; }
.cbtn_blue { display: inline-block; border-radius: 5px; min-width: 120px; height: 38px; line-height: 38px; text-align: center;color: #fff; font-size: 16px;border: 1px solid #0e9bdc;background: #00a0e9; }
.cbtn_blue:active { background: #0baaf2; }
.cbtn_gray { display: inline-block; border-radius: 5px; width: 120px; height: 38px; line-height: 38px; text-align: center;color: #5d5d5d; font-size: 16px; border: 1px solid #cecece;background: #f2f2f2; }
.cbtn_del { display: inline-block;  border-radius: 5px; width: 54px; height: 24px; line-height: 24px; text-align: center;color: #5d5d5d; font-size: 12px;border: 1px solid #b4b4b4;background: #ededed;background: -webkit-linear-gradient(top,#fdfdfd,#ededed);background: -moz-linear-gradient(top,#fdfdfd,#ededed);background: linear-gradient(top,#fdfdfd,#ededed);}
.cbtn_change { display: block; border-radius: 5px; width: 100%; box-sizing: border-box;height: 40px; line-height: 40px; text-align: center;color: #5d5d5d; font-size: 16px; background: #f8f6f6; }
.cbtn_change:active { background: #f0f0f0; }
.cbtn_change em.ico {background:url(../images/ico_change.png) no-repeat; background-size: 25px auto; display: inline-block; width: 35px; height: 25px; vertical-align: middle;}
.select_sty {
  height: 33px;
  padding: 3px 2px;
  border: 1px solid #cecece;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
/*.select_sty2{ max-width: 4.7em; }*/
.tc_list { padding-bottom: 10px;}
.tc_list li { float: left; font-size: 14px; margin: 5px;}
.tc_list li a { display: inline-block; border: 1px solid #dedede; width: 76px; text-align: center;border-radius: 3px; background: #f2f2f2; padding: 5px 0;}
.tc_list li a.sel { background: #f87601; border: 1px solid #f87601;color: #fff;}
.tc_detail {border-top: 1px dotted #aaa;border-bottom: 1px dotted #aaa; padding: 10px 10px 0 10px;}
.tc_detail h3 { font-size: 14px; color: #c60000}
.tc_detail ul { margin-bottom: 25px;}
.tc_detail li{ font-size: 14px; height: 18px; margin-bottom: 10px; border-bottom: 1px dotted #d4d4d4; position: relative;}
.tc_detail li span { background: #fff; display: inline-block;position: absolute; top: 8px;}
.tc_detail li span.span1 {padding-right:5px;}
.tc_detail li span.span2 { padding-left:5px;right: 0; width: 74px; }
.c_tips_cont .ka_num { font-size: 14px; margin-bottom: 10px;}
.c_tips_cont .ka_num em {color: #c60000;}
.c_tips_cont .c_note2 { border-bottom: 1px dotted #aaa; padding: 10px; font-size: 12px; margin-bottom: 10px;}
.c_tips_cont .c_note2 p{ margin-bottom: 10px;}
.c_tips_cont .c_note2 .p1 { color: #ff6000;}
.c_tips_cont .c_note2 .p2 { color: #858585;}
em.ico_see{ background:url(../images/ico_see.png) no-repeat 0 50%;background-size: 30px auto;display: inline-block; width: 35px; height: 31px; vertical-align: middle;}
.buy_succ { background: #fff url(../images/ico_gou.png) no-repeat 10px 50%;background-size: 53px auto; padding: 45px 0 45px 70px; border-top: 1px solid #eaeaea;border-bottom: 1px solid #eaeaea; line-height: 28px; margin-top: 10px;}
.tel_list li a:active, .cbtn_change:active, .cbtn_red:active, .cbtn_blue:active, .cbtn_gray:active, .tc_list li a:active { text-decoration: none;}
/*协议*/
.agreement { font-size: 14px; padding: 20px 15px; border-bottom: 1px dashed #dedede;}
.agreement h2 { text-align: center; font-size: 15px; font-weight: 700; margin-bottom: 10px;}
.agreement h3 { background:url(../images/dot_red.png) no-repeat 0 50%; padding-left: 15px; font-size: 14px; color: #d40000; margin: 8px 0;}

/*thickbox*/
.mask, .thickbox {
  display: none;
  position: fixed;
}
.mask {
  z-index: 900;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .6);
}
.thickbox {
  z-index: 999;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
/*========== pages' public styles end ==========*/


/*========== specific styles start ==========*/
/*slideBox*/
.slideBox {
  position: relative;
  max-width: 100%;
  overflow: hidden;
  margin: 2px 0;
}
.slideBox .hd {
  z-index: 1;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  height: 28px;
  line-height: 28px;
}
.slideBox .hd li {
  display: inline-block;
  width: 12px;
  height: 12px;
  overflow: hidden;
  margin: 0 3px;
  background: #dbdbdb;
  -webkit-border-radius: 51%;
  -moz-border-radius: 51%;
  border-radius: 51%;
  text-indent: -9999px;
}
.slideBox .hd li.on {
  background: #48a0dc;
}
.slideBox .bd {
  position: relative;
  z-index: 0;
}
.slideBox .bd li {
  position: relative;
  text-align: center;
}
.slideBox .bd li img {
  background: url(../images/loading.gif) center center no-repeat;
  vertical-align: top;
  width: 100%;
}
.goodsDe_con .slideBox .bd li img {
  width: auto;
  max-width: 100%;
}
.slideBox .bd li a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/*custmInfo*/
.custmInfo {
  position: relative;
  display: table;
  width: 100%;
  min-height: 80px;
  padding: .3em 1%;
  background: #ffffff;
  -webkit-box-shadow:  0 -5px 10px 0 rgba(0,0,0,.2);
  -moz-box-shadow:  0 -5px 10px 0 rgba(0,0,0,.2);
  box-shadow:  0 -5px 10px 0 rgba(0,0,0,.2);
  font-size: 1.5rem;
}
.custmInfo .part {
  display: table-cell;
  vertical-align: middle;
}
.custmInfo .avatar {
  display: inline-block;
  width: 80px;
  height: 80px;
  overflow: hidden;
  border: 3px solid transparent;
  -webkit-border-radius: 51%;
  -moz-border-radius: 51%;
  border-radius: 51%;
  /*-webkit-box-shadow:  0 0 3px 0 rgba(0,0,0,.3);*/
  /*-moz-box-shadow:  0 0 3px 0 rgba(0,0,0,.3);*/
  /*box-shadow:  0 0 3px 0 rgba(0,0,0,.3);*/
  vertical-align: middle;
}
.custmInfo .name::before, .custmInfo .department::before {
  content: "";
  position: relative;
  top: -2px;
  display: inline-block;
  margin-right: .2em;
  background: url(../images/sprites.png) 0 0 no-repeat;
  -webkit-background-size: 200px auto;
  background-size: 200px auto;
  vertical-align: middle;
}
.custmInfo .name {
  margin-bottom: .2em;
}
.custmInfo .name::before {
  width: 13px;
  height: 14px;
  background-position: -33px 0;
}
.custmInfo .department::before {
  width: 14px;
  height: 16px;
  background-position: -51px 0;
}

/*prod-nav*/
.prod-nav {
  width: 100%;
  background: #f8f8f8;
  border-bottom: 1px solid #dedede;
}
.prod-nav .item {
  display: inline-block;
  width: 25%;
  padding: .5em;
  border-top: 3px solid transparent;
  border-right: 1px solid #eee;
  font-size: 1.4rem;
  color: #8c8c8c;
  text-align: center;
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: middle;
}
.prod-nav .item:last-child {
  border-right: 0;
}
.prod-nav .item:active {
  background: #f0f0f0;
  color: #565656;
  text-decoration: none;
}
.prod-nav .item1 {
  border-top-color: #ff6b6d;
}
.prod-nav .item2 {
  border-top-color: #48a0dc;
}
.prod-nav .item3 {
  border-top-color: #f5b27f;
}
.prod-nav .item4 {
  border-top-color: #8957a1;
}
.prod-nav .item::before {
  content: "";
  position: relative;
  display: block;
  height: 30px;
  margin: 0 auto .2em;
  background: url(../images/sprites.png) 0 0 no-repeat;
  -webkit-background-size: 150px auto;
  background-size: 150px auto;
}
.prod-nav .item1::before {
  width: 23px;
  background-position: 0 -49px;
}
.prod-nav .item2::before {
  width: 29px;
  background-position: -29px -49px;
}
.prod-nav .item3::before {
  top: 2px;
  width: 33px;
  background-position: -64px -49px;
}
.prod-nav .item4::before {
  top: 1px;
  width: 29px;
  background-position: -103px -50px;
}

/*  sec-prod  */
.sec-prod {
  margin-top: 15px;
}
.sec-prod .sec-tit, .linkMore {
  padding: 0 2%;
  font-size: 1.8rem;
  color: #707070;
}
.linkMore::after {
  content: "";
  display: inline-block;
  width: 8px;
  height: 13px;
  margin-left: .3em;
  background: url(../images/sprites.png) -53px 0 no-repeat;
  -webkit-background-size: 150px auto;
  background-size: 150px auto;
}
/*prod-list*/
.prod-list {
  padding: .2em 1%;
}
.prod-list .item {
  display: inline-block;
  width: 48%;
  margin: .3em 1%;
  background: #ffffff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-size: 1.4rem;
  color: #536a7a;
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
}
.prod-list .item:active {
  background: #fafafa;
}
.prod-list .item .part-1, .prod-list .item .part-2 {
  padding: .5em;
}
.prod-list .item .part-1 > img {
  width: 270px;
  max-width: 100%;
}
.prod-list .item .part-2 {
  height: 5.7em;
  overflow: hidden;
  border-top: 1px solid #ececec;
  text-align: left;
}
.prod-list .item .part-2 .part-l, .prod-list .item .part-2 .part-r {
  display: inline-block;
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
}
.prod-list .item .part-2 .part-l {
  width: 78%;
}
.prod-list .item .part-2 .part-r {
  width: 22%;
  text-align: right;
}
.prod-list .item .prod-name {
  font-size: 1.6rem;
  font-weight: 700;
  color: #38454f;
}
[class^="prod-list"] .item del {
  font-size: 1.2rem;
  color: #939fa8;
}
.price {
  font-size: 1.6rem;
  font-weight: 700;
  color: #ff4e50;
}
.prod-list02 {
  padding: 0 0 1em;
}
.kd-list .prod-list02 {
  padding-top: .5em;
}
.prod-list02 .item {
  border-bottom: 2px dotted #cbcbcb;
  font-size: 1.6rem;
  line-height: 1.7;
}
.prod-list02 .item:active {
  background: #fafafa;
}
.prod-list02 .item .part-l, .prod-list02 .item .part-r {
  padding: .8em 1.5%;
  vertical-align: middle;
}
.prod-list02 .item .part-l {
  text-align: right;
}

/*  prodDetail start  */
.page-tit {
  position: relative;
  height: 48px;
  line-height: 48px;
  padding-left: 55px;
  background-color: #48a0dc;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px #328cc9;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.trackBack {
  position: absolute;
  left: 0;
  top: 0;
  height: 48px;
  line-height: 48px;
  padding: 0 .8em;
  font-size: 15px;
  color: #ffffff;
  text-align: center;
}
.trackBack::before {
  content: "";
  position: relative;
  top: -1px;
  display: inline-block;
  width: 17px;
  height: 27px;
  background: url(../images/sprites.png) -70px 0 no-repeat;
  -webkit-background-size: 150px auto;
  background-size: 150px auto;
  vertical-align: middle;
}
.trackBack:active {
  background-color: #328cc9;
  text-decoration: none;
}

/*pro_info*/
.pro_info {
  padding: .5em 10px;
  background: #ededed;
  border: solid #dfdfdf;
  border-width: 1px 0;
  font-size: 1.4rem;
}
.pro_info .protit {
  margin-bottom: .5em;
  padding: 0 5px 5px 5px;
  border-bottom: 1px dotted #a1a1a1;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #383838;
}
.pro_info .txt_dot {
  color: #828282;
}
.pro_info .price {
  font-size: 2.6rem;
  line-height: 1.2;
  color: #c90000;
}

/*phone_opt_de*/
.phone_opt_de {
  padding: 8px 0 15px;
  font-size: 12px;
}
.opt01 {
  position: relative;
  display: inline-block;
  line-height: 1.7;
  margin: 0 2.5% .5em 0;
  padding: .3em 0.2em .2em;
  border: 1px solid #e1e1e1;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  vertical-align: middle;
  letter-spacing: 0;
  font-size: 1.6rem;
  color: #666666;
  text-align: center;
}
a[class^="opt"]:active {
  text-decoration: none;
}
.opt01:active, .opt01.selected {
  border-color: #f67901;
  -webkit-box-shadow: inset 0 0 0 1px #f67901;
  -moz-box-shadow: inset 0 0 0 1px #f67901;
  box-shadow: inset 0 0 0 1px #f67901;
}
.opt01.selected:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 15px;
  height: 13px;
  background: url(../images/i_selected.png) right bottom no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
}
.opt01-2, .opt01-3 {
  display: block;
  margin: 1em auto;
  padding: .5em 0.2em .4em;
  background: #f8f8f8;
}
.opt01-2 {
  max-width: 360px;
}
.opt01-2.selected::after {
  width: 25px;
  height: 25px;
  background-image: url(../images/i_selected_big.png);
}
.opt01-3.selected::after {
  width: 40px;
  height: 40px;
  background-image: url(../images/i_selected_big.png);
}
.opt01-3 .part-l, .opt01-3 .part-r {
  vertical-align: middle;
}
.opt01-3 .part-r {
  padding-left: .5em;
  text-align: left;
}
.opt01-3 .description {
  font-size: 1.4rem;
  color: #959595;
}
.tb-opts .opt01 {
  width: 48.5%;
  overflow: hidden;
}
.tb-opts .opt01:nth-child(2n) {
  margin-right: 0;
}
.tb-opts {
  width: 97%;
  margin: 0 2%;
  padding-bottom: 15px;
  font-size: 15px;
}
.tb-opts td {
  padding: .3em 2px;
  color: #555555;
}
.tb-opts td:first-child {
  width: 5.5em;
  line-height: 1.7;
  text-align: right;
  white-space: nowrap;
}
.tb-opts td:first-child.vt {
  padding-top: .7em;
}
.tb-opts .td01 {
  position: relative;
  top: 1px;
}

/*pro_intro*/
.deTab {
  position: relative;
  width: 100%;
  height: 37px;
  background: #fff;
  border-top: 1px solid #e3e3e3;
  border-bottom: 1px solid #e3e3e3;
}
.tab {
  height: 36px;
}
.tab li {
  float: left;
  height: 36px;
  width: 25%;
  box-sizing: border-box;
  text-align: center;
  line-height: 36px;
  font-size: 14px;
  color: #565656;
  cursor: pointer;
}
.tab .curr {
  background: #555;
  color: #fff;
}
.tabcon {
  background: #fff;
  /*border-bottom: 1px solid #e3e3e3;*/
  margin-bottom: 20px;
}
.goodsDe {
  text-align: center;
}
.goodsDe img {
  display: block;
  margin: 0 auto;
}
.product_detail {
  padding: 1em 2%;
  font-size: 14px;
  overflow: hidden;
  color: #535353;
}
.product_detail img {
  max-width: 100%;
}
.table_cs {
  font-size: 12px;
}
.table_cs td {
  padding: 5px;
  border-bottom: 1px dotted #dedede;
}
/*购买须知，套餐说明，常见问题*/
.txt_dot {
  font-size: 14px;
}
.product_detail h3 {
  background: url(../images/dot_red.png) no-repeat 0 5px;
  padding-left: 15px;
  font-size: 14px;
  color: #d40000;
  margin-bottom: 8px;
}
.product_detail p {
  line-height: 1.6;
  margin-bottom: 10px;
}
.product_detail .txt_dot {
  border-bottom: 1px dotted #bababa;
  padding-bottom: 10px;
  margin-bottom: 20px;
}
.product_detail .tablebox {
  width: 100%;
  overflow-x: auto;
  margin-bottom: 10px;
}
.product_detail .table_tc {
  width: 100%;
  min-width: 650px;
}
.product_detail .table_tc th {
  background: #eff5f8;
  padding: 2px 5px;
  border: 1px solid #b8d4e1;
  color: #609eba;
  text-align: center;
}
.product_detail .table_tc td {
  padding: 3px 5px;
  border: 1px solid #ccc;
  text-align: center;
}
.product_detail .table_zf {
  width: 100%;
  margin-bottom: 10px;
}
.product_detail .table_zf th {
  background: #eff5f8;
  padding: 2px 5px;
  border: 1px solid #b8d4e1;
  color: #609eba;
  text-align: center;
}
.product_detail .table_zf td {
  padding: 3px 5px;
  border: 1px solid #ccc;
  text-align: center;
}
.buybtn {
  z-index: 800;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 12px 0 9px;
  background: rgba(0, 0, 0, 0.6);
  text-align: center;
}
/*  prodDetail end  */

/*收银台*/
.txt_box {
  margin: 10px 15px 15px;
  padding: 10px 0;
  border-bottom: 2px dotted #acacac;
  font-size: 14px;
  line-height: 20px;
}
.txt_box h2 {
  margin-bottom: 5px;
  padding-bottom: 5px;
  font-size: 16px;
  font-weight: 700;
}
.txt_box h2 img {
  vertical-align: middle;
}
.txt_box p {
  margin-bottom: 12px;
}
.txt_box p em {
  color: #c90000;
}
.txt_box .bank_note {
  font-size: 12px;
  color: #858585;
}
.txt_box .span1 {
  display: inline-block;
  width: 80px;
}
.txt_box .note {
  border-top: 1px dotted #a1a1a1;
  padding-top: 10px;
  color: #c90000;
}
.txt_box .span2 {
  display: inline-block;
  width: 9em;
}
.txt_box-2 {
  padding: 5em .5em;
}
.txt_box-2 .part-r {
  font-size: 16px;
  text-align: left;
}
.txt_box-2 p {
  margin-bottom: 0;
}
.txt_box-2 .mb01 {
  margin-bottom: .5em;
}
.txt_box-3 {
  margin: 0 0 15px;
  padding: 15px;
  border-bottom: 0;
  -webkit-box-shadow:  0 1px 2px rgba(0,0,0,.1);
  -moz-box-shadow:  0 1px 2px rgba(0,0,0,.1);
  box-shadow:  0 1px 2px rgba(0,0,0,.1);
}
.txt_box-3 h2, .txt_box-4 h2 {
  padding-bottom: 8px;
  margin-bottom: 8px;
  border-bottom: 2px dotted #acacac;
}
.txt_box-4 {
  margin: 0 15px;
  padding: 15px 0 0;
  border-bottom: 0;
}
.txt_box-4:last-of-type {
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 2px dotted #acacac;
}
.txt_box-4 p {
  margin-bottom: 0;
}
body .input_sty {
  width: 71%;
  height: 36px;
  line-height: 36px;
  padding: 0 5px;
  background: #fff;
  border: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size: 1.5rem;
}
body textarea.input_sty {
  height: 65px;
  line-height: 1.5;
  vertical-align: top;
}
.img_idcard {
  width: 40px;
  vertical-align: top;
}
.up_box {
  border-top: 1px dotted #a1a1a1;
  padding-top: 10px;
}
.up_box .co1 {
  float: left;
  width: 90px;
  padding-right: 10px;
  text-align: center;
  font-size: 12px;
  color: #888;
}
.up_box .co2 {
  /*float: left;*/
  line-height: 16px;
  font-size: 12px;
  color: #777;
}
.price-sum {
  font-size: 1.6rem;
  font-weight: 700;
  color: #ea4e50;
  text-align: center;
}

.result-con {
  padding: .5em;
  background: #ffffff;
  border-bottom: 1px solid #dedede;
  font-size: 1.6rem;
  color: #df3c5c;
}
.result-con .img01 {
  max-width: 58.9%;
}

/*tg-recom*/
.tg-recom {
  padding: 1.2em 0 .8em;
}
.tg-recom .title {
  padding: 0 2%;
  font-size: 1.8rem;
  color: #707070;
}
.tg-recom .item {
  display: block;
  padding: 3%;
  text-align: center;
}
.tg-recom .item>img {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

/*sec01*/
.sec01 {
  padding: .5em 2%;
}
.sec01 .title {
  padding-bottom: .2em;
  font-size: 1.6rem;
  color: #707070;
}
.sec01 .sec-con {
  padding: .5em;
  background: #ffffff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-size: 1.4rem;
  line-height: 1.8;
}
.table01 {
  width: 100%;
  font-size: 1.4rem;
  color: #333;
}
.table01 th, .table01 td {
  padding: .4em .2em;
}
.table01 th {
  font-weight: 500;
  color: #777777;
  white-space: nowrap;
}

/*sec-flow*/
.sec-flow {
  position: relative;
}
.flow-item {
  padding: 5px .1em;
  font-size: 1.2rem;
  color: #888;
  text-align: center;
}
.flow-item::before {
  content: "";
  display: block;
  width: 25px;
  height: 37px;
  margin: 0 auto 3px;
  background: url(../images/sprites.png) -34px -115px no-repeat;
  -webkit-background-size: 200px auto;
  background-size: 200px auto;
}
.flow-item.done {
  color: #333333;
}
.flow-item.done::before {
  background-position: 0 -115px;
}
.flow-item .dot {
  position: relative;
  z-index: 30;
  display: block;
  width: 13px;
  height: 13px;
  margin: 0 auto .3em;
  background: #b3b3b3;
  -webkit-border-radius: 51%;
  -moz-border-radius: 51%;
  border-radius: 51%;
}
.flow-item.done .dot {
  background: #e74c3c;
}
.flow-item .info {
  border-right: 1px solid #cbcbcb;
}
.sec-flow .font01 {
  font-size: 1.4rem;
  font-weight: 700;
}
.sec-flow .done .font01 {
  color: #e24e4a;
}
.sec-flow .progress {
  z-index: 20;
  position: absolute;
  left: 10%;
  top: 50px;
  width: 80%;
  height: 3px;
  background: #b3b3b3;
}
.sec-flow .progress-curr {
  width: 25%;
  height: 3px;
  background: #e74c3c;
}

/*order-query*/
.order-query {
  padding: .3em 0 1em;
  color: #707070;
}
.order-query .img01 {
  display: block;
  max-width: 36.9%;
  margin: .5em auto;
}
.order-query .label {
  font-size: 1.8rem;
  font-weight: 700;
}

/*location*/
.location {
  display: inline-block;
  padding: 0 2%;
  font-size: 1.6rem;
  color: #707070;
}
.location:active {
  text-decoration: none;
}
.kd-list .location {
  margin-bottom: .5em;
}
.location::before, .location::after, .city-sel .area .title::before {
  content: "";
  position: relative;
  display: inline-block;
  background: url(../images/sprites.png) 0 0 no-repeat;
  -webkit-background-size: 200px auto;
  background-size: 200px auto;
  vertical-align: middle;
}
.location::before, .city-sel .area .title::before {
  top: -1px;
  width: 14px;
  height: 22px;
  margin-right: .3em;
  background-position: -156px 0;
}
.location::after {
  top: -2px;
  width: 11px;
  height: 18px;
  margin-left: .5em;
  background-position: -70px 0;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
}

/*city-sel*/
.city-sel {
  padding: .8em 0 1em;
  font-size: 1.6rem;
  color: #707070;
}
.city-sel .filter {
  margin-bottom: .8em;
  padding-bottom: 3px;
  border-bottom: 2px solid #48a0dc;
}
.city-sel .filter .item {
  padding: 0 .5em;
  color: #48a0dc;
}
.city-sel .area {
  padding: 0 3% 1.2em;
}
.city-sel .area .title {
  margin-bottom: .6em;
}
.opt02 {
  display: inline-block;
  width: 5.5em;
  margin-right: .5em;
  padding: 0 .5em;
  border: 1px solid #b1b2b2;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  line-height: 2;
  text-align: center;
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: middle;
  cursor: pointer;
}
.opt02:active {
  background: #f9f9f9;
  border-color: #48a0dc;
  -webkit-box-shadow: 0 0 0 1px #48a0dc;
  -moz-box-shadow: 0 0 0 1px #48a0dc;
  box-shadow: 0 0 0 1px #48a0dc;
}

/*navbar*/
.navbar .nav-item, .navbar02 .nav-item, .sortBar .item {
  position: relative;
  display: inline-block;
  text-align: center;
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
}
.navbar .nav-item, .sortBar .item {
  font-size: 1.4rem;
  color: #535353;
}
.navbar .nav-item {
  width: 33.3333%;
  height: 2.8em;
  line-height: 2.8em;
  background: #fffcd0;
}
.navbar .nav-item::before {
  content: '';
  position: relative;
  top: -2px;
  display: inline-block;
  margin-right: 3px;
  background: url(../images/sprites.png) 0 0 no-repeat;
  -webkit-background-size: 200px auto;
  background-size: 200px auto;
  vertical-align: middle;
}
.navbar .nav-item:active, .navbar .nav-item.curr {
  background: #f9f085;
  text-decoration: none;
}
.navbar .nav-item1::before {
  width: 15px;
  height: 23px;
  background-position: -126px -34px;
}
.navbar .nav-item2::before {
  width: 22px;
  height: 22px;
  background-position: -148px -33px;
}
.navbar .nav-item3::before {
  width: 22px;
  height: 20px;
  background-position: -178px -34px;
}
.navbar .nav-item::after {
  content: '';
  position: absolute;
  top: 0;
  right: 1px;
  width: 1px;
  height: 100%;
  background: #dcdcdc;
}
.navbar .nav-item:last-child::after {
  width: 0;
}

/*navbar02*/
.navbar02 {
  border-bottom: 4px solid #fff799;
}
.navbar02 .nav-item {
  width: 33.3333%;
  padding: .7em 0;
  background: #fbfbfb;
  font-size: 1.2rem;
  color: #707070;
}
.navbar02 .nav-item.active {
  background: #fff799;
}
.navbar02 .nav-item::before {
  content: '';
  display: inline-block;
  margin-right: 2px;
  background: url(../images/sprites.png) 0 0 no-repeat;
  -webkit-background-size: 160px auto;
  background-size: 160px auto;
  vertical-align: middle;
}
.navbar02 .done::before {
  width: 31px;
  height: 33px;
  background-position: -55px -91px;
}
.navbar02 .curr::before {
  width: 30px;
  height: 31px;
  background-position: -91px -91px;
}
.navbar02 .coming::before {
  width: 33px;
  height: 34px;
  background-position: -127px -91px;
}
.navbar02 .nav-item .txt {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}
.navbar02 .nav-item.curr .txt {
  color: #ff4e50;
}
.navbar02 .nav-item.coming .txt {
  color: #996c33;
}
.navbar02 .nav-item .time {
  font-size: 2rem;
  line-height: 1.2;
  font-weight: 700;
}
.count-down {
  padding: .3em;
  background: #fff799;
  font-size: 1.5rem;
  color: #707070;
  text-align: center;
}
.section01.done .btn02-2, .section01.coming .btn02-2 {
  background: #c9c9c9;
  border-color: #b6b6b6;
  cursor: default;
  text-shadow: none;
}
.section01.done .btn02-2:active, .section01.coming .btn02-2:active {
  background: #c9c9c9;
}

/*sortBar*/
.sortBar .item {
  width: 25%;
  height: 2.4em;
  line-height: 2.4em;
  background: #f6f6f6;
}
.sortBar .item:active {
  background: #e9e9e9;
}
.sortBar .item::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 1px;
  width: 1px;
  height: 1.4em;
  margin-top: -.7em;
  background: #bfbfbf;
}
.sortBar .item:last-child::after {
  width: 0;
}
.sortBar .sub-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: #f6f6f6;
  -webkit-box-shadow:  2px 2px 3px rgba(0,0,0,.2);
  -moz-box-shadow:  2px 2px 3px rgba(0,0,0,.2);
  box-shadow:  2px 2px 3px rgba(0,0,0,.2);
  line-height: 2.2;
}
.sortBar .sub-menu .option {
  display: block;
}
.sortBar .sub-menu .option:nth-child(2n-1) {
  background: #f0f0f0;
}
.sortBar .sub-menu .option:active {
  background: #e9e9e9;
}
.sortBar .item .txt {
  position: relative;
  color: #535353;
}
.sortBar .item:active .txt {
  text-decoration: none;
}
.sortBar .item.sortable .txt::before, .sortBar .item.sortable .txt::after {
  content: '';
  position: absolute;
  right: -12px;
  top: 50%;
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
}
.sortBar .item.sortable .txt::before {
  margin-top: -6px;
  border-bottom: 5px solid #d3d3d3;
}
.sortBar .item.sortable .txt::after {
  margin-top: 1px;
  border-top: 5px solid #d3d3d3;
}
.sortBar .item.sortable .txt.asending::before {
  border-bottom-color: #ff4e50;
}
.sortBar .item.sortable .txt.desending::after {
  border-top-color: #ff4e50;
}

.progress01, .progress01 .inner {
  -webkit-border-radius: 1.8em;
  -moz-border-radius: 1.8em;
  border-radius: 1.8em;
}
.progress01 {
  position: relative;
  height: 14px;
  margin: 1em auto 1.6em;
  padding: 1px 2px;
  border: 1px solid #ff4e50;
  background: #ffffff;
}
.progress01 .inner {
  width: 37%;
  height: 10px;
  background: #ff4e50;
}
.section01.coming .progress01 .inner {
  width: 0;
}
.progress01 .txt1, .progress01 .txt2 {
  position: absolute;
  top: 100%;
  margin-top: 3px;
  font-size: 1.4rem;
}
.progress01 .txt1 {
  left: 0;
}
.progress01 .txt2 {
  right: 0;
}


/*for responsive*/
@media all and (max-width: 640px) {
  .prod-list .item {
    font-size: 1.2rem;
  }
  .prod-list .item .prod-name, .prod-list .item .price {
    font-size: 1.4rem;
  }
  .prod-list .item .part-2 .part-l {
    width: 65%;
  }
  .prod-list .item .part-2 .part-r {
    width: 35%;
  }
  .sec-flow .font01 {
    font-size: 1.2rem;
  }
}
@media all and (max-width: 480px) {
  .opt01-3 {
    font-size: 1.4rem;
  }
  .opt01-3 .description {
    font-size: 1.2rem;
  }
}
@media all and (max-width: 400px) {
  .custmInfo .avatar {
    width: 70px;
    height: 70px;
  }
  .custmInfo .department {
    font-size: 13px;
  }
}
@media all and (min-width: 480px) {
  .navbar02 .nav-item {
    font-size: 1.4rem;
  }
}
/*========== specific styles end ==========*/