#ts_body{margin:0;border:0;padding:0;height:100%}
#header,#footer{font-family: "\5FAE\8F6F\96C5\9ED1", Helvetica, Arial, sans-serif;}
#header{height:3.3em;background-color: #ed6c00;position: fixed;width:100%;top:0;left:0; z-index:1003;display:block;}
#header article{padding:0 2.0833333%;}
#header article h1{color: #fff;font-size:1.5em;text-align:center;margin:0;line-height:2em;font-weight:600}
#header .re-back{position: absolute;top:50%;left: 2.08333%;margin-top: -0.5em;display: inline-block;background: url(../images/st-arrow-left-o.png) no-repeat 0 0;
    background-size: 100% ;text-indent: -999em;float:left;}
#header .title_cd{position: absolute;top:50%;right: 2.08333%;margin-top: -0.8em;display: inline-block;width: 1.8em;/*18px*/height: 2.0em;
 background: url(../images/erji_r_ico.png) no-repeat 0 0;-webkit-background-size: contain;background-size: contain;text-indent: -999em;}
#footer{text-align: center;font-size: 1.2em;color: #666;background-color: #eee;width:100%;padding:0.5em 0;position:absolute;left:0;bottom:0}
#footer .active{ color: #ff4300;}
#footer p{margin:0.3em auto;}
#footer a,.title_cd_main a{color:#999;text-decoration: none}
#footer .foot_nav a{ display:inline-block; margin: 0 0.2em}
#footer .copyright a{font-size:1em;}
.clear{clear:both}
body{line-height: 1;
    font-family: "\5FAE\8F6F\96C5\9ED1", Helvetica, Arial, sans-serif;
    color: #666; }
a{ text-decoration: none}
.color666{ color: #666}
.tc{ text-align: center}
.f_12{ font-size: 1.2em}
.active{ color: #ff4300;}
.header img{ width: 75%}
.footer{ background-color: #eee; padding: 0.1em;position:absolute;left:0;bottom:0;width: 100%;font-size:1em;}
.foot_nav a{ display:inline-block; margin: 0 0.2em;font-size:1em;}
.copyright a{
    color:#999;
}
/*透明遮罩层*/
.mask{position:absolute;width:100%;height:100%;top:0;left:0;background:rgba(0,0,0,0.5); z-index:99998;display:none;}
.title_cd_arrow{ position:absolute;right:2.3%;width:2em;height:2em;border:1em solid transparent;border-bottom:1em solid rgba(27,27,27,0.95);margin:-1.8em 0 0 0;padding:0;box-sizing: border-box;}
.title_cd_main{ background-color: rgba(27,27,27,0.95); width:60%; position:fixed; z-index:999999; right:0.5em; top:4em; padding:0 4%;border-radius:0.3em}
.title_cd_main ul{list-style-type:none;list-style-position: outside;list-style-image:none;margin:0;padding:0;border:0;font-weight:500}
.title_cd_main li{float:left; color:#fff; text-align:center; width:45%; line-height:3.5em;border-bottom:1px solid rgba(0,0,0,0.8);}
.title_cd_main li:nth-child(odd){margin-right:10%}
.title_cd_main li:last-child,.title_cd_main li:nth-last-child(2){border-bottom:none}
.title_cd_main li a{color:#fff;display:block;}
.title_cd_main li a:active{color:#ed6c00}
@media only screen and (min-width: 220px){
    body{font-size:0.625em }
}
@media only screen and (min-width: 320px) {
    body{font-size:0.688em}
}
@media only screen and (min-width: 480px) {
    body{font-size:0.75em;}
}
@media only screen and (min-width: 600px) {
    body{font-size:0.875em;}
}
@media only screen and (min-width: 768px) {
    /* 768*/
    body{font-size:1em}
}
@media only screen and (min-width: 800px) {
    body{ font-size:1em;}
}